@property --_accent {
	inherits: true;
	syntax: "<color>";
}

.button-reset {
	appearance: none;
	background: none;
	border: none;
	font: inherit;
	padding: unset;
}

:where(
	.button,
	button:not(.button-reset)
) {
	--_accent: initial;
	--_text: var(--_accent, var(--link));
	--_size: initial;
	--_bg: var(--neutral-base);
	--_border: currentcolor;
	--_highlight-size: 0;
	--_highlight: var(--_accent, var(--accent-border));
	--_icon-size: 2ch;
	--_icon-color: var(--_accent, var(--link));

	align-items: center;
	background: var(--_bg);
	border: var(--border-size-2) solid var(--_border);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2), 0 0 0 var(--_highlight-size) var(--_highlight);
	color: var(--_text);
	display: inline-flex;
	font-size: var(--_size);
	font-weight: var(--font-weight-7);
	gap: var(--block-size-2) var(--inline-size-2);
	justify-content: center;
	line-height: 1;
	padding-block: var(--block-size-2);
	padding-inline: var(--inline-size-3);
	-webkit-tap-highlight-color: transparent;
	text-align: center;
	-webkit-touch-callout: none;
	transition: border-color 0.5s var(--ease-3), color 0.5s var(--ease-3);

	@media (prefers-reduced-motion: no-preference) {
		transition: border-color 0.5s var(--ease-3), box-shadow 145ms var(--ease-4), color 0.5s var(--ease-3);

		&:focus-visible {
			transition: outline-offset 145ms var(--ease-2), border-color 0.5s var(--ease-3), box-shadow 145ms var(--ease-4), color 0.5s var(--ease-3);
		}

		&:not(:active):focus-visible {
			transition: outline-offset 0.25s var(--ease-2), border-color 0.5s var(--ease-3), box-shadow 145ms var(--ease-4), color 0.5s var(--ease-3);
		}
	}

	&:not(:active):hover {
		--_highlight-size: var(--size-px-2);

		transition-duration: 0.25s;
	}

	& > svg:not([data-icon="false"]) {
		block-size: var(--_icon-size);
		flex-shrink: 0;
		inline-size: var(--_icon-size);

		& > * {
			stroke: var(--_icon-color);
			stroke-width: var(--border-size-2);
		}
	}

	&:has(svg:not([data-icon="false"]) + .visually-hidden),
	&:has(.visually-hidden + svg:not([data-icon="false"])) {
		padding-block: var(--size-px-1);
		padding-inline: var(--size-px-1);
	}
}
