.callout {
	background: var(--accent-bg-subtle);
	border: var(--border-size-2) solid var(--accent-border);
	border-radius: var(--radius-3);
	padding-block: var(--block-size-5);
	padding-inline: var(--inline-size-5);
	position: relative;

	> .icon {
		aspect-ratio: 1;
		background: var(--accent-bg-subtle);
		block-size: auto;
		border-radius: var(--radius-round);
		color: var(--accent-border);
		inline-size: var(--size-px-7);
		inset-block-end: calc(100% - var(--size-px-4));
		inset-inline-end: calc(100% - var(--size-px-4));
		position: absolute;
	}

	> strong {
		font-size: var(--font-size-3);
		line-height: 1;
	}
}
