.feed-item-card {
	--shadow-offset: var(--size-1);

	align-content: space-between;
	background-color: var(--accent-bg-subtle);
	border-color: var(--accent-bg-hover);
	border-radius: var(--radius-3);
	border-style: solid;
	border-width: var(--border-size-2);
	box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
		var(--accent-bg-hover);
	display: grid;
	gap: var(--size-3);
	grid-template-areas:
		"content"
		"image";
	inline-size: fit-content;
	padding: var(--size-4);
	transition: box-shadow 300ms var(--ease-1), opacity 0.5s var(--ease-2);

	&:is(:hover, :focus-within) {
		--shadow-offset: var(--size-2);

		transition: box-shadow 150ms var(--ease-1);
	}

	@media (width >= 35em) {
		grid-template-areas: "content image";
	}

	.feed-item-card-image {
		aspect-ratio: 4/3;
		border-radius: var(--radius-2);
		grid-area: image;
		max-height: 150px;
		max-width: 200px;
		mix-blend-mode: color-burn;
		overflow: hidden;
	}

	/* .feed-item-card-header,
	.feed-item-card-body {
		font-size: var(--font-size-4);
	} */

	.feed-item-card-footer {
		justify-content: space-between;

		& > sl-tooltip > span {
			font-size: 0.85em;
			max-width: fit-content;
		}

		& > a {
			background: none;
			line-height: 1;
			margin-inline: unset;
			padding: unset;
			text-decoration: none;

			&,
			> .badge {
				border-radius: var(--radius-round);
			}
		}
	}

	& .feed-item-card-title p {
		inline-size: 100%;
	}
}
