nav[aria-labelledby="chronological"] {
	--shadow-offset: var(--size-1);

	background: var(--accent-bg-subtle);
	border: var(--border-size-2) solid var(--accent-bg-hover);
	border-radius: var(--radius-3);
	box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
		var(--accent-bg-hover);
	inline-size: fit-content;
	padding: var(--size-3);
	transition: box-shadow 300ms var(--ease-1);

	&:is(:hover, :focus-within) {
		--shadow-offset: var(--size-2);

		transition: box-shadow 150ms var(--ease-1);
	}

	& a {
		display: block;
		text-decoration: none;

		&[aria-current="page"] {
			background: var(--accent-bg);
			color: var(--link-visited);
		}

		&:hover {
			background: var(--accent-text);
			color: var(--accent-bg);
		}
	}
}
