.comments {
	inline-size: min(var(--size-content-3), 95%);
	margin-inline: auto;

	& ol {
		inline-size: 100%;
		list-style-type: none;
		padding-left: 0;

		& li {
			--shadow-offset: var(--size-px-1);

			background: var(--accent-bg-subtle);
			border-color: var(--accent-bg-hover);
			border-radius: var(--radius-3);
			border-width: var(--border-size-2);
			box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
				var(--accent-bg-hover);
			inline-size: 100%;
			max-inline-size: unset;
			padding-block: var(--block-size-4);
			padding-inline: var(--inline-size-4);
			transition: box-shadow 300ms var(--ease-1), opacity 0.5s var(--ease-2);

			&:is(:hover, :focus-within) {
				--shadow-offset: var(--size-px-2);

				transition: box-shadow 150ms var(--ease-1);
			}
		}
	}

	.comment {
		--flow-space: 1.5em;

		> * {
			--flow-space: 0.5em;
		}

		> p img {
			display: inline;
			width: 1.2em;
		}

		.meta {
			align-items: baseline;
			display: flex;
			flex-wrap: wrap;
			gap: var(--block-size-2) var(--inline-size-2);

			.author-wrapper {
				text-decoration: none;

				&:hover {
					background: transparent;
				}

				& strong {
					height: fit-content;
					line-height: 1;
				}
			}

			& small {
				flex-grow: 1;
				max-inline-size: unset;
			}
		}
	}

	& form {
		& [id="success"] {
			display: none;

			& h4 {
				color: var(--success);
			}

			&:target {
				display: block;
				
				~ * {
					display: none;
				}
			}
		}

		& .input-group {
			align-items: start;
			display: flex;
			flex-direction: column;
			row-gap: var(--block-size-2);

			& .error {
				color: var(--error);
			}

			&:has(:user-valid) .error {
				display: none;
			}

			&:has(:user-invalid) {
				border-inline-start: var(--border-size-3) solid var(--error);
				margin-inline-start: calc(-1 * (var(--inline-size-3) + var(--border-size-3)));
				padding-inline-start: var(--inline-size-3);

				& .error {
					display: block;
				}
			}
		}

		& [id="comment-error"]::before {
			content: "Please include your comment, it's required for you to post a comment…";
		}

		& [id="name-error"]::before {
			content: "Please include your name";
		}

		& :is(label, small, a) {
			line-height: 1;
		}

		& p {
			line-height: 1.3;
		}

		/* stylelint-disable-next-line no-descending-specificity */
		& label small {
			font-size: revert;
			font-weight: var(--font-weight-body-normal);
		}

		& :is(textarea, input) {
			max-inline-size: 100%;
		}

		& textarea {
			--_block-size: 5lh;

			min-inline-size: min(100%, var(--size-content-2));
		}

		& input {
			field-sizing: content;
			min-inline-size: min(100%, 25ch);
		}
	
		& .input-email {
			display: none; /* This is the honeypot field */
		}
	
		& button {
			--flow-space: 1.75em;
		}
	}

}
