.feed {
	& > li {
		max-inline-size: none;
	}

	& > li + li {
		margin-block-start: var(--block-size-7);
	}

	@media (width >= 48em) { /* 768px */
		& > li + li {
			margin-block-start: var(--block-size-4);
		}
	}
}

.home .feed {
	& > li + li {
		margin-block-start: var(--block-size-7);
	}
}
