.feed {
	& > li {
		max-inline-size: 40ch;
	}

	& > li + li {
		margin-block-start: var(--size-7);
	}

	@media (width >= 768px) {
		& > li + li {
			margin-block-start: var(--size-4);
		}
	}
}

.home .feed {
	& > li + li {
		margin-block-start: var(--size-7);
	}
}
