.site-footer {
	position: relative;

	& css-doodle {
		filter: blur(8px);
		inset: 0;
		position: absolute;

		@media (forced-colors: active) {
			display: none;
		}

		&:not(:defined) {
			display: none;
		}
	}

	& .inner {
		display: grid;
		grid-auto-rows: max-content;
		grid-template-areas:
			"sitemap"
			"socials"
			"edit";
		grid-template-columns: auto 1fr;
		padding-block: var(--size-9);
		row-gap: var(--size-9);

		& picture {
			display: none;
		}

		& .sitemap {
			block-size: fit-content;
			grid-area: sitemap;

			& a[href="/footer/"] {
				visibility: hidden;
			}
		}

		& .social-links {
			block-size: fit-content;
			display: flex;
			font-size: var(--font-size-4);
			gap: var(--size-3);
			grid-area: socials;

			& a {
				display: block;
				height: 1em;
			}
		}

		& .gh-edit {
			grid-area: edit;
		}

		@media (width >= 64em) { /* 1024px */
			column-gap: var(--size-9);
			grid-template-areas:
				"sitemap image"
				"socials image"
				"edit image";

			& picture {
				block-size: fit-content;
				display: block;
				grid-area: image;
			}
		}
	}
}
