#graph {
	block-size: fit-content;
	inline-size: fit-content;
	position: relative;

	& > svg {
		--shadow-offset: var(--size-1);

		background: var(--accent-bg-subtle);
		border: var(--border-size-2) solid var(--accent-bg-hover);
		border-radius: var(--radius-3);
		box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
			var(--accent-bg-hover);
		transition: box-shadow 300ms var(--ease-1);

		&:is(:hover, :focus-within) {
			--shadow-offset: var(--size-2);

			transition: box-shadow 150ms var(--ease-1);
		}
	}
}

a[href="#skip-graph"] {
	--opacity-duration: 100ms;
	--transform-duration: 250ms;

	background: var(--accent-bg-subtle);
	inline-size: fit-content;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	transform: translateX(0%) translateY(-50%);
	transition: opacity var(--opacity-duration) var(--ease-1) !important;

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity var(--opacity-duration) var(--ease-1),
			transform calc(var(--transform-duration) * 2) var(--ease-out-3) !important;
	}

	&:focus-visible {
		opacity: 1;
		pointer-events: all;
		transform: translateY(calc(-100% - var(--size-2)));
		transition: opacity var(--opacity-duration) var(--ease-1) !important;

		@media (prefers-reduced-motion: no-preference) {
			transition: opacity var(--opacity-duration) var(--ease-1)
					calc(var(--transform-duration) - var(--opacity-duration)),
				transform var(--transform-duration) var(--ease-in-3),
				outline-offset 145ms var(--ease-2) !important;
		}
	}
}
