.hero {
	display: grid;
	grid-template-columns: 100%;
	place-items: center center;

	& h1 {
		font-size: 2.5rem;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin: 0;
		z-index: 1;
	}

	& .lego-container {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		max-inline-size: 100%;
	}

	& h1 > * {
		display: block;

		& .stroke {
			--color: var(--accent-solid);

			cursor: url("/assets/img/meme-pop-cat-cursor.webp"), default;
			margin-inline: 0.05em;

			&:active {
				cursor: url("/assets/img/meme-pop-cat-pointer.webp"), default;
			}
		}
	}

	@media (width >= 48em) { /* 768px */
		grid-template-columns: 2fr 1fr;

		& h1 {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		& .lego-container {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}
}
