@property --captured-length {
	inherits: true;
	initial-value: 0;
	syntax: "<length>";
}

@property --captured-length2 {
	inherits: true;
	initial-value: 0;
	syntax: "<length>";
}

.home header {
	& .hero {
		margin-block-end: var(--block-size-8);

		& h1 {
			margin: 0;
			max-inline-size: none;

			&, & span {
				line-height: 1;
			}

			& span {
				font-size: var(--font-size-8);

				@media (width > 15em) {
					display: none;
				}
			}

			& svg {
				fill: var(--accent-bg);
				overflow: visible;
				paint-order: stroke fill;
				stroke: var(--accent-border);
				stroke-width: 0.25;

				@media (width <= 15em) {
					display: none;
				}

				& text {
					font-size: 18px;
					letter-spacing: 0.02em;
				}
			}
		}

		> div {
			font-size: smaller;
			font-weight: 1000;
			isolation: isolate;

			> * {
				display: block;
			}

			& eight-ball {
				color: var(--accent-solid);
				margin-inline-start: auto;
			}
		}
	}

	& .grid {
		grid-template-columns: minmax(0, 1fr);
		place-items: center center;

		& p {
			font-size: 2.5rem;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			margin: 0;
			max-inline-size: 100%;
			z-index: 1;

			/* stylelint-disable-next-line no-descending-specificity */
			> * {
				display: block;

				& .stroke {
					--color: var(--accent-solid);

					cursor: url("/assets/img/meme-pop-cat-cursor.webp"), default;
					margin-inline: 0.05em;
					transition-duration: 500ms;
					transition-property: color, -webkit-text-stroke-color;
					transition-timing-function: ease;

					&:active {
						cursor: url("/assets/img/meme-pop-cat-pointer.webp"), default;
					}

					/* stylelint-disable-next-line selector-id-pattern, selector-not-notation */
					&:hover:not(#\#):not(#\#) {
						--stroke-color: var(--fill-color);

						color: var(--hover-color, var(--color));
						transition-duration: 250ms;
						transition-property: color, -webkit-text-stroke-color;
						transition-timing-function: ease;
					}
				}
			}
		}

		& .lego-container {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			max-inline-size: 100%;
		}
	}

	@media (width >= 30em) { /* 480px */
		& .hero > div {
			font-size: var(--font-size-3);
		}
	}

	@media (width >= 48em) { /* 768px */
		& .grid {
			grid-template-columns: 2fr 1fr;
			place-items: center start;

			& p {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			& .lego-container {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
			}
		}
	}
}
