.home {
	display: flex;
	flex-direction: column;
	gap: var(--size-8);

	& .about {
		column-gap: var(--size-3);
		display: grid;

		@media (width >= 48em) { /* 768px */
			grid-template-columns: 2fr 1fr;
			row-gap: var(--size-8);
		}
	}
}
