.home {
	display: flex;
	flex-direction: column;
	gap: var(--block-size-8) var(--inline-size-8);

	& .about {
		column-gap: var(--inline-size-3);
		display: grid;

		@media (width >= 48em) { /* 768px */
			grid-template-columns: 2fr 1fr;
			row-gap: var(--block-size-8);
		}
	}
}
