[data-icon]:not([data-icon="false"]),
.icon,
.inline-icon {
	block-size: 1em;
	inline-size: 1em;
	pointer-events: none;
}

.inline-icon {
	display: inline-block;
	margin-block: 0;
	margin-inline: 0.1em 0.05em;
	vertical-align: -0.15em;
}

:is(.icon, .inline-icon) > path {
	fill: currentcolor;
}
