[data-icon]:not([data-icon="false"]),
.icon,
.inline-icon {
	height: 1em;
	pointer-events: none;
	width: 1em;
}

.inline-icon {
	display: inline-block;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.15em;
}

:is(.icon, .inline-icon) > path {
	fill: currentcolor;
}
