.lego-container {
	background: radial-gradient(
		circle farthest-corner at 10% 20%,
		var(--accent-bg) 0%,
		var(--accent-solid) 90%
	);
	border-radius: var(--radius-blob-4);
	height: 300px;
	object-fit: cover;
	transform: scale(0.75);
	width: 300px;

	& model-viewer,
	& is-land--model-viewer {
		display: block;
		height: 100%;
		transform: scale(1.5);
		width: 100%;
	}

	& #poster {
		height: 100%;
		margin-inline: auto;
		object-fit: contain;
		pointer-events: none;
	}

	& .progress-bar {
		display: none;
		visibility: hidden;
	}
}

model-viewer:focus-within {
	border-radius: var(--radius-blob-4);
	outline: 2px auto var(--link);
	outline-offset: 0;
}
