.logo-inline {
	display: inline-block;
	transform: translateY(0.1em); /* optical alignment */

	.icon {
		height: 1.25em;
		transform: translateY(0.4em);
		width: auto;
	}
}

.logo-link {
	transform: translateY(0.05em); /* optical alignment */

	.icon {
		aspect-ratio: 2.8182;
		display: block;
		height: 100%;
		transform: translateY(0.05em); /* optical alignment */
		width: auto;
	}
}
