:is(.logo, .logo-inline) {
	font-family: "Nanum Pen Script", sans-serif;
	font-size: 1.5em; /* scales with the font size around it */
}

.logo {
	text-decoration: none;
}

.logo-inline {
	display: inline-block;
	transform: translateY(0.1em); /* optical alignment */
}

.logo-link {
	transform: translateY(0.05em); /* optical alignment */

	& .icon {
		aspect-ratio: 2.8182;
		display: block;
		height: 100%;
		transform: translateY(0.05em); /* optical alignment */
		width: auto;
	}
}
