.nav {
	font-weight: var(--font-weight-body-bold);
	line-height: 1;

	& a[href="/"] {
		&:hover {
			background: transparent;
		}

		> .logo {
			height: 1.5em;
			transform: translateY(0.15rem);
			width: auto;
		}
	}

	& :is(button, .button) {
		--_border: var(--accent-bg-subtle);

		border-width: var(--border-size-1);
		color: var(--accent-bg-active);
		padding: var(--size-1);

		&:hover {
			--_highlight-size: var(--size-1);
		}

		&:is(:hover, :focus, :active) {
			--_border: var(--accent-bg);
		}
	}

	& .list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--size-2) var(--size-3);
		margin-inline-end: auto;

		& a {
			border-radius: var(--radius-2);
			display: block;
			text-decoration: none;

			&[aria-current="page"] {
				background: var(--accent-bg);
				color: var(--link-visited);
			}

			&:hover {
				background: var(--accent-text);
				color: var(--accent-bg);
			}
		}
	}
}
