pagefind-search {
	display: block;

	& form[role="search"] {
		& input[type="text"] {
			display: block;
			inline-size: max(100%, var(--size-content-2));
		}
	}
}

[id="search-results"] {
	--flow-space: var(--size-6);

	> ol {
		& li {
			--flow-space: var(--size-6);

			& p {
				--flow-space: var(--size-2);
			}

			& .metadata {
				color: var(--neutral-solid);
				font-size: var(--font-size-0);
			}
		}
	}
}

