.site-head {
	border-block-end-width: 0.1em;
	padding-block: var(--size-6);

	& .list:first-of-type {
		display: flex;

		@media (width < 35em) {
			display: none;
		}
	}

	& .list:last-of-type {
		display: none;

		@media (width < 35em) {
			display: flex;
		}
	}
}
