.skip-link {
	background: var(--accent-text);
	border-radius: var(--radius-round);
	color: var(--accent-bg);
	inset-block-start: var(--block-size-3);
	inset-inline-start: 50%;
	padding-block: var(--block-size-2);
	padding-inline: var(--inline-size-4);
	position: fixed;
	transform: translateX(-50%);
	z-index: var(--layer-5);

	&:not(:focus) {
		border: 0;
		clip: rect(0 0 0 0);
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}
