.tags {
	& li {
		position: relative;

		> * {
			line-height: 1;
		}

		& a::after {
			content: "";
			display: block;
			inset: 0;
			position: absolute;
		}

		& small {
			color: var(--accent-bg);
			font-size: smaller;
		}
	}

	/* & small {
		display: none;
	}

	& a:is(:hover, :focus) + small {
		display: inline;
	} */
}
