.tags {
	& a.badge {
		& small.badge {
			background: var(--accent-solid);
			border: none;
			box-shadow: var(--inner-shadow-1);
			color: var(--accent-bg-subtle);
			font-size: smaller;
			font-weight: var(--font-weight-body-normal);
		}
	}
}
