.toc {
	--flow-space: 0.5em;

	margin-block-end: var(--size-2);
	margin-block-start: var(--size-3);

	& > ol {
		list-style-type: disc;
		padding-left: var(--size-5);

		& ol {
			list-style-type: circle;

			& ol {
				list-style-type: square;
			}
		}
	}
}

.toc-container {
	margin-inline: auto;

	& details {
		& summary {
			align-items: center;
			gap: var(--size-3);

			& sl-icon {
				color: var(--accent-solid);
				transition: transform 300ms var(--ease-out-4);
			}

			& h2 {
				font-size: var(--font-size-4);
			}

			&:is(:hover, :focus-visible) sl-icon {
				color: var(--accent-solid-hover);
			}

			&::-webkit-details-marker {
				display: none;
			}
		}

		&[open] summary sl-icon {
			transform: rotate(90deg);
		}
	}
}
