/* stylelint-disable selector-class-pattern */
.unfurl {
	--_border-radius: 1.5rem;
	--_padding: var(--size-3);

	border: 0.25rem solid var(--accent-border);
	border-radius: var(--_border-radius);
	max-width: 35rem;
	padding: var(--_padding);

	> p > *:not(br) {
		display: block;
	}

	& .unfurl-heading,
	& .unfurl-description {
		margin: 0;
	}

	& .unfurl-heading:not(:first-child) {
		margin-block-start: var(--size-2);
	}

	& .unfurl-description {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		margin-block-start: var(--size-2);
		overflow: hidden; /* truncating */
	}

	& img,
	& .unfurl-image {
		aspect-ratio: 2 / 1;
		object-fit: cover;
	}

	& .unfurl-image {
		border-radius: calc(var(--_border-radius) - var(--_padding));
		inline-size: 100%;
		margin-block-start: var(--size-3);
	}

	& .unfurl-meta {
		color: var(--neutral-text);
		font-weight: bold;
	}
}

.unfurl + .unfurl {
	margin-block-start: 2rem;
}
