<footer role="contentinfo" class="[ site-footer ] [ wrapper ]">
	{% include "newsletter.njk" %}

	<div class="[ flow ]">
		<h2>Sitemap</h2>
		<ul class="[ flow ]">
			{%- for collectionPage in collections.all | sortAlphabetically -%}
				{%- if not collectionPage.data.excludeFromSitemap and collectionPage.data.eleventyNavigation.parent === undefined and collectionPage.url -%}
					<li>
						<a href="{{ collectionPage.url | url }}"{% if collectionPage.url === page.url %} aria-current="page"{% endif %}>
							{{ collectionPage.data.title }}
						</a>
					</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</div>

	<ul class="[ flow ]">
		<li>
			<stylized-text label="Elly">
				<a href="/"{% if page.url === "/" %} aria-current="page"{% endif %}>
					&lt;e//y&gt;
				</a>
			</stylized-text>
		</li>
		<li>
			<a href="https://elly.to/twitter">Twitter</a>
		</li>
		<li>
			<a href="https://elly.to/linkedin">LinkedIn</a>
		</li>
		<li>
			<a href="https://elly.to/codepen">CodePen</a>
		</li>
		<li>
			<a href="https://elly.to/dribbble">Dribbble</a>
		</li>
	</ul>
</footer>