{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- if title === "Home" -%}
	{% set text = "Creating delightful, magical, and accessible art with code." %}
	{% set desc = description %}
	{% set ogTitle = "Elly Loel" %}
	{% set ogUrl = "" %}
{% else %}
	{% set text = title %}
	{% set desc = page.excerpt %}
	{% set ogTitle = title %}
	{% set ogUrl = page.url %}
{% endif %}

{# General #}
<meta name="description" content="{{ desc }}">
<link rel="canonical" href="{{ canonical }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="generator" content="{{ eleventy.generator }}">

{# Style #}
<meta name="color-scheme" content="dark light">
<meta name="theme-color" content="#bd93f9">

{# Open Graph #}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ ogTitle }}">
<meta property="og:description" content="{{ desc }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fellyloel.com%2Fog{{ ogUrl | urlencode }}/opengraph/">
<meta property="og:image" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fellyloel.com%2Fog{{ ogUrl | urlencode }}/opengraph/">
<meta name="og:image" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fellyloel.com%2Fog{{ ogUrl | urlencode }}/opengraph/">
<meta name="og:image:secure_url" content="https://v1.screenshot.11ty.dev/https%3A%2F%2Fellyloel.com%2Fog{{ ogUrl | urlencode }}/opengraph/">
<meta property="og:image:alt" content="A background of curved purple lines with the text “{{ text }}” ontop, Elly's logo is in the bottom right corner.">

{# Icons #}
<link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">
{% favicons './public/assets/img/icons/favicon.svg',
appleIconBgColor = '#00000000',
generateManifest = false %}

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.atom" title="{{ site.title }}">
<link type="application/rss+xml" rel="alternate" href="{{ site.url }}/feed.rss" title="{{ site.title }}">
<link type="application/json" rel="alternate" href="{{ site.url }}/feed.json" title="{{ site.title }}">

{# Webmentions #}
<link href="https://github.com/ellyloel" rel="me">
<link href="https://front-end.social/@elly" rel="me">
<link rel="webmention" href="https://webmention.io/www.ellyloel.com/webmention">
<link rel="pingback" href="https://webmention.io/www.ellyloel.com/xmlrpc">