{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- if title === "Home" -%}
	{% set text = "Creating delightful, magical, and accessible art with code." %}
	{% set tag = "Elly Loel" %}
	{% set desc = description %}
	{% set ogTitle = "Elly Loel" %}
{% else %}
	{% set text = title %}
	{% set tag = "Elly Loel" %}
	{% set desc = page.excerpt %}
	{% set ogTitle = title %}
{% endif %}
{% set image %}
{% sscg overlayText = text,
overlayTag = tag %}
{% endset %}

{# General #}
<meta name="description" content="{{ desc }}">
<link rel="canonical" href="{{ absolutePageUrl }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="generator" content="{{ eleventy.generator }}">

{# Style #}
<meta name="color-scheme" content="dark light">
<meta name="theme-color" content="hsl(269, 75, 58)">

{# Open Graph #}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ ogTitle }}">
<meta property="og:description" content="{{ desc }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
{%- if image -%}
	<meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
	<meta property="og:image:alt" content="{{ text }}">
{%- endif -%}

{# Icons #}
<link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">
{% favicons './public/assets/img/icons/favicon.svg',
appleIconBgColor = '#00000000',
generateManifest = false %}

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}feed.atom" title="{{ site.title }}">
<link type="application/rss+xml" rel="alternate" href="{{ site.url }}feed.rss" title="{{ site.title }}">
<link type="application/json" rel="alternate" href="{{ site.url }}feed.json" title="{{ site.title }}">

{# Webmentions #}
<link href="https://github.com/ellyloel" rel="me">
<link rel="webmention" href="https://webmention.io/{{ site.url }}webmention"/>
<link rel="pingback" href="https://webmention.io/{{ site.url }}xmlrpc"/>