<div class="inner">
	<a href="/" rel="home" class="[ text-decoration-none ]"{% if page.url === "/" %} data-state="active" aria-current="page"{% endif %}>
		<stylized-text label="to homepage" class="[ logo ]">
			<!-- link to home: http://microformats.org/wiki/rel-home -->
			&lt;e//y&gt;
		</stylized-text>
	</a>

	<sl-icon-button
		id="theme-switcher-open-button"
		name="palette"
		label="Open theme switcher"
	></sl-icon-button>

	<nav role="navigation" aria-label="Primary" class="[ nav ]">
		{% set navPages = collections.all | eleventyNavigation %}
		<ul class="list">
			{%- for entry in navPages %}
				<li>
					<a{% if entry.url === page.url %} data-state="active" aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
				</li>
			{%- endfor %}
		</ul>
	</nav>
</div>