<form class="[ newsletter ]">
	<fieldset class="[ flow ]">
		<legend>
			<h2>Newsletter</h2>
			<span>
				Keep up to date with my <a href="/garden/">digital garden</a>, my <a href="/blog/">blog</a> posts, and anything else I'm working on, as well as gain access to newsletter exclusive content.
			</span>
			<br/>
			<small>
				<em>No spam, unsubscribe at any time.</em>
			</small>
		</legend>
		<div class="[ flex flex-col ]">
			<label for="name">Name</label>
			<input id="name" name="name" type="text" placeholder="Name"/>
		</div>
		<div class="[ flex flex-col ]">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" placeholder="name@example.com"/>
		</div>
		<button>Subscribe</button>
	</fieldset>
</form>