<form class="[ newsletter ]">
	<fieldset class="[ flow ]">
		<legend>
			<h2>Newsletter</h2>
		</legend>
		<div>
			<label for="name">Name</label>
			<input id="name" name="name" type="text" placeholder="Name"/>
		</div>
		<div>
			<label for="email">Email</label>
			<input id="email" name="email" type="email" placeholder="name@example.com"/>
		</div>
		<button>Subscribe</button>
	</fieldset>
</form>