<form class="[ newsletter ]" action="http://newsletter.ellyloel.com/add_subscriber" method="post" id="revue-form" name="revue-form">
	<fieldset class="[ flow ]">
		<legend>
			<h2>Newsletter</h2>
			<span>
				Keep up to date with my <a href="/garden/">digital garden</a>, my <a href="/blog/">blog</a> posts, and anything else I'm working on, as well as gain access to newsletter exclusive content.
			</span>
			<br/>
			<strong>
				No spam, unsubscribe at any time.
			</strong>
			<br/>
			<small>
				<em>
					By subscribing, you agree with Revue’s <a href="https://www.getrevue.co/terms">Terms of Service</a> and <a href="https://www.getrevue.co/privacy">Privacy Policy</a>.
				</em>
			</small>
		</legend>
		<div>
			<div class="[ flex flex-col ]">
				<label for="member_first_name">Name</label>
				<input name="member[first_name]" id="member_first_name" type="text">
			</div>
			<div class="[ flex flex-col ]">
				<label for="member_email">Email</label>
				<input name="member[email]" id="member_email" type="email">
			</div>
			<button name="member[subscribe]" id="member_submit">Subscribe</button>
		</div>
	</fieldset>
</form>