<sl-drawer label="Select theme" placement="top" class="[ theme-switcher ] [ wrapper ]">
	<sl-radio-group id="theme-menu" class="[ theme-switcher-radio-group ]" label="Theme switcher">
		<sl-radio-button name="color-scheme" value="auto">
				Auto
			</sl-radio-button>
		<sl-radio-button name="color-scheme" value="light">
				Light
			</sl-radio-button>
		<sl-radio-button name="color-scheme" value="dark">
				Dark
			</sl-radio-button>
		<sl-radio-button name="color-scheme" value="light-moss">
				Light moss
			</sl-radio-button>
		<sl-radio-button name="color-scheme" value="dark-moss">
				Dark moss
			</sl-radio-button>
	</sl-radio-group>
</sl-drawer>