<div class="webmentions__facepile">
	{% for facepileMention in facepileMentions %}
		<a href="{{ facepileMention.author.url }}" class="webmentions__face-link" target="_blank" rel="external noopener noreferrer">
			<div class="webmention__author-photo-wrapper">
				<img src="{{ facepileMention.author.photo or '/static/images/webmention-avatar-default.svg' }}" alt="{{ facepileMention.author.name }}" class="webmention__author-photo-image" loading="lazy" decoding="async" width="48" height="48">
			</div>
		</a>
	{% endfor %}
</div>