<div class="[ facepile ]">
	{% for facepileMention in facepileMentions %}
		<a href="{{ facepileMention.author.url }}" class="[ face-link ]">
			<div class="[ author-photo-wrapper ]">
				<img src="{{ facepileMention.author.photo or '/static/images/webmention-avatar-default.svg' }}" alt="{{ facepileMention.author.name }}" class="[ author-photo-image ]" loading="lazy" decoding="async" width="48" height="48">
			</div>
		</a>
	{% endfor %}
</div>