<li class="[ webmention ]">
	<div class="[ meta ]">
		{% if mention.author %}
			<div class="[ author-photo-wrapper ]">
				<img src="{{ mention.author.photo or '/static/images/webmention-avatar-default.svg' }}" alt="{{ mention.author.name }}" class="[ author-photo-image ]" loading="lazy" decoding="async" width="48" height="48">
			</div>
			<a href="{{ mention.author.url }}">
				<span class="[ author-name ]">{{ mention.author.name }}</span>
			</a>
		{% else %}
			<div class="[ author-photo-wrapper ]">
				<img src="/static/images/webmention-avatar-default.svg" alt="Anonymous" class="[ author-photo ]" loading="lazy" decoding="async" width="48" height="48">
			</div>
			<span class="[ author-name ]">Anonymous</span>
		{% endif %}
		<small>
			<sl-relative-time class="[ date ]" date="{{ mention.published }}"></sl-relative-time>
		</small>
	</div>

	<blockquote>{{ mention.content.value | safe }}</blockquote>

	<p>
		<a href="{{ mention.url }}">View original post</a>
	</p>
</li>