{%- set postMentions = webmentions | webmentionsForPage -%}
<article id="webmentions" class="webmentions">
	<header class="[ webmentions__header ][ flow ]">
		<h2>
			{{ postMentions.total }} Response{%- if (postMentions.total !== 1) -%}s{%- endif -%}
		</h2>
		<form action="https://webmention.io/{{ site.url }}/webmention" method="post" class="[ form-webmention ][ flow ]">
			<label for="form-webmention-source" class="webmentions__form-label">
					Have you published your own post mentioning this one? Let me know the URL:
				</label>
			<div class="webmentions__field-wrapper">
				<input
						id="form-webmention-source"
						type="url"
						name="source"
						placeholder="https://example.com"
						required="required"
						class="webmentions__form-field">
				<input type="hidden" name="target" value="{{ site.url }}{{ page.url }}">
				<input type="submit" value="Send" class="webmentions__form-submit"></div>
		</form>
		<small>
			Powered by
			<a href="https://indieweb.org/Webmention">Webmentions</a>
			via
			<a href="https://webmention.io">Webmention.io</a>
			and
			<a href="https://brid.gy">Bridgy</a>
		</small>
	</header>
	{%- ifAsync postMentions.likes.length -%}
	<h3>
		{%- if postMentions.likes.length === 1 -%}
			{{ postMentions.likes.length }} Like
		{%- elif (postMentions.likes.length > 1) -%}
			{{ postMentions.likes.length }} Likes
		{%- endif -%}
	</h3>
	{%- set facepileMentions = postMentions.likes -%}
	{%- include "webmentions-facepile.njk" -%}
{%- endif -%}
{%- ifAsync postMentions.reposts.length -%}
<h3>
	{%- if postMentions.reposts.length === 1 -%}
		{{ postMentions.reposts.length }} Repost
			{%- elif (postMentions.reposts.length > 1) -%}
		{{ postMentions.reposts.length }} Reposts
			{%- endif -%}
</h3>
{%- set facepileMentions = postMentions.reposts -%}
{%- include "webmentions-facepile.njk" -%}
{%- endif -%}
{%- if postMentions.comments.length -%}
<h3>
	{%- if postMentions.comments.length === 1 -%}
		{{ postMentions.comments.length }} Comment
			{%- elif (postMentions.comments.length > 1) -%}
		{{ postMentions.comments.length }} Comments
			{%- endif -%}
</h3>
<ol class="webmentions__list">
	{%- asyncEach mention in postMentions.comments -%}
	{%- include "webmention.njk" -%}
	{%- endeach -%}
</ol>
{%- endif -%}
</article>