<li class="[ webmention ]">
	<div class="[ meta ]">
		{% if mention.author %}
			<a href="{{ mention.author.url }}" class="[ author-wrapper ]">
				<div class="[ author-photo-wrapper ]">
					<img src="{{ mention.author.photo or '/static/images/webmention-avatar-default.svg' }}" alt="{{ mention.author.name }}" class="[ author-photo-image ]" loading="lazy" decoding="async" width="48" height="48">
				</div>
				<strong class="[ author-name ]">{{ mention.author.name }}</strong>
			</a>
		{% else %}
			<div class="[ author-photo-wrapper ]">
				<img src="/static/images/webmention-avatar-default.svg" alt="Anonymous" class="[ author-photo ]" loading="lazy" decoding="async" width="48" height="48">
			</div>
			<span class="[ author-name ]">Anonymous</span>
		{% endif %}
		<small class="[ date ]">
			<a href="{{ mention.url }}">
				<sl-relative-time date="{{ mention.published }}"></sl-relative-time>
			</a>
		</small>
	</div>

	<p>{{ mention.content.value | safe }}</p>
</li>