.logo {
  font-family: "Nanum Pen Script", cursive;
}

.logo-inline {
  @extend .logo;

  display: inline-block;
  font-size: 1.5em; // scales with the font size around it
  transform: translateY(3px); // optical alignment
}
