.feed-item-card {
	--shadow-offset: var(--size-1);

	border-radius: var(--radius-3);
	box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
		var(--accent-bg-hover);
	inline-size: 100%;
	transition: box-shadow 300ms var(--ease-1), opacity 0.5s var(--ease-2);

	&:is(:hover, :focus-within) {
		--shadow-offset: var(--size-2);

		transition: box-shadow 150ms var(--ease-1);
	}

	&::part(image) {
		justify-content: center;
		margin-bottom: var(--size-3);
	}

	&::part(base) {
		background-color: var(--accent-bg-subtle);
		border-color: var(--accent-bg-hover);
		border-radius: var(--radius-3);
		border-width: var(--border-size-2);
		gap: var(--size-3);
		padding: var(--padding);
	}

	&::part(header),
	&::part(body) {
		font-size: var(--font-size-4);
	}

	&::part(header),
	&::part(body),
	&::part(footer) {
		padding: 0;
	}

	&::part(header) {
		border: none;
	}

	&::part(footer) {
		border: none;
	}

	& div[slot="footer"] {
		justify-content: space-between;

		& > sl-tooltip > span {
			font-size: 0.85em;
			max-width: fit-content;
		}

		& > a {
			background: none;
			line-height: 1;
			margin-inline: unset;
			padding: unset;
			text-decoration: none;

			&,
			> .badge {
				border-radius: var(--sl-border-radius-pill);
			}
		}
	}

	& .feed-item-card-title {
		font-size: inherit;

		& * {
			font-size: inherit;
		}
	}
}
