#search-results-list {
	list-style: revert;
}

.search-results-item {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);

	> strong {
		font-size: var(--font-size-4);
	}

	> code {
		background-color: transparent;
		padding: 0;
	}
}
