:root {
	--font-weight-body-bold: 622;
	--font-weight-body-normal: 400;
	--font-emoji: "Noto Color Emoji", "Apple Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Segoe UI Symbol", "EmojiOne Color", "Android Emoji";
}
