/* Adds consitent space and padding for each full panel section */
.panel {
	margin: var(--size-7) 0;
	padding: var(--size-7) 0;

	@media (width >= 768px) {
		margin: var(--size-8) 0;
		padding: var(--size-8) 0;
	}
}
