/*
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
	margin-inline: auto;
	max-inline-size: var(--wrapper-size, var(--size-content-3));
	padding-inline: var(--size-4);
	position: relative;
}
