<!DOCTYPE html>
<html lang="en">
	<!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
		<title>{{ title }} | Elly Loel</title>

		<!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<header role="banner" class="site-header">
			<a class="menu-link a11y-kb-only" href="#content">Jump to content</a>

			<nav role="navigation">
				<a class="site-logo" href="/" rel="home" title="to homepage">
					<!-- link to home: http://microformats.org/wiki/rel-home -->
					<h1>
						&lt;e//y&gt;
					</h1>
				</a>

				{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

				{% set navPages = collections.all | eleventyNavigation %}
				<ul>
					{%- for entry in navPages %}
						<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
							<a href="{{ entry.url | url }}">{{ entry.title }}</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>

			<h1>{{ title }}</h1>
		</header>

		<!-- tabindex fixes focus issue: https://benmyers.dev/blog/skip-links/#tldr -->
		<main id="content" role="main" tabindex="-1">
			{{ content | safe }}
		</main>

		<footer role="contentinfo" class="site-footer"></footer>

		<!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
	</body>
</html>