{%- if note -%}
	{{ note | md | safe }}
{%- endif -%}

{%- if excerpt -%}
	<blockquote>
		{{- excerpt | md | safe -}}
	</blockquote>
{%- endif -%}

{%- if highlights -%}
	{%- for highlight in highlights -%}
		{%- if highlight -%}
			<blockquote>
				{{- highlight | nl2br | replace(r/(<br \/>\n)+/gm, "<br><br>") | safe -}}
			</blockquote>
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}

{%- if tags | includes("YouTube") -%}
	{%- rollup "src/input/js/lite-youtube.js" | url -%}
	{% set videoTitle = title %}
	{% set videoId = link | getYouTubeId %}
	{% include "youtube.njk" %}
{%- else -%}
	<a href="{{ link }}" class="[ u-bookmark-of h-cite ] [ flex flex-col gap-1 padding-2 ]">
		<h2>View link</h2>
		<picture>
			<source media="(prefers-color-scheme: dark)" srcset="https://api.microlink.io?url={{ link }}&screenshot=true&colorScheme=dark&meta=false&embed=screenshot.url">
			<source media="(prefers-color-scheme: light)" srcset="https://api.microlink.io?url={{ link }}&screenshot=true&colorScheme=light&meta=false&embed=screenshot.url">
			<img eleventy:ignore alt="" class="[ u-photo ][ image ]" src="https://api.microlink.io?url={{ link }}&screenshot=true&meta=false&embed=screenshot.url" width="649" height="406" style="inline-size:100%">
		</picture>
	</a>
{%- endif -%}
