{%- set navPages = collections.all | eleventyNavigationBreadcrumb(title, {
	allowMissing: true,
	includeSelf: true
}) -%}
<nav aria-label="Breadcrumb">
	<ol>
		<li>
			<a href="/">
				<sl-icon slot="prefix" library="fa" name="fas-house"></sl-icon>
				Home
			</a>
		</li>
		{%- for entry in navPages -%}
			{%- if entry.url !== "/me/" and entry.url !== "/writing/" -%}
				<li>
					<a href="{{ entry.url | url }}"{% if entry.url === page.url %} data-state="active" aria-current="page"{% endif %}>
						{{ entry.title }}
					</a>
				</li>
				{%- if not loop.last -%}
					<sl-icon library="fa" name="fas-caret-right"></sl-icon>
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	</ol>
</nav>
