{%- set navPages = collections.all | eleventyNavigationBreadcrumb(title, {
	allowMissing: true,
	includeSelf: true
}) -%}
<nav aria-labelledby="breadcrumb"><p id="breadcrumb" hidden>Breadcrumb</p>
	<ol>
		<li>
			<a href="/" class="[ text-decoration-none move-link-styling-to-child ]">
				{%- inlineIcon "local:house" -%}
				<span>Home</span>
			</a>
			{%- inlineIcon "local:caret-right" -%}
		</li>
		{%- for entry in navPages -%}
			{%- if entry.url !== "/me/" and entry.url !== "/writing/" -%}
				<li>
					<a href="{{ entry.url | url }}"{% if entry.url === page.url %} data-state="active" aria-current="page"{% endif %}>
						{{- entry.title -}}
					</a>
					{%- if not loop.last -%}
						{%- inlineIcon "local:caret-right" -%}
					{%- endif -%}
				</li>
			{%- endif -%}
		{%- endfor -%}
	</ol>
</nav>
