<p>
	{% inlineIcon "fas:envelope" %} <a href="mailto:hello@ellyloel.com">hello@ellyloel.com</a>
</p>
<p>
	{% inlineIcon "fas:house" %} Naarm (Melbourne, Australia)
</p>
<p>
	{% inlineIcon "fas:desktop" %} <a href="https://www.ellyloel.com">ellyloel.com</a>
</p>
<p>
	{% inlineIcon "fab:linkedin" %} <a href="http://elly.to/linkedin">LinkedIn</a>
</p>
<p>
	{% inlineIcon "fab:github" %} <a href="http://elly.to/github">GitHub</a>
</p>
