<span>
	{{ label + " on " }}
	<time 
		class="[ {% if label === "Created" %}dt-published{% else %}dt-updated{% endif %} ]"
		datetime="{{ date | dateToISO }}"
	>{{ date | dateToLocaleDateFull }}</time>
</span>