<footer class="[ gradient-border ]" data-gradient-border="block-start">
	<div class="[ site-footer ]">
		<is-land on:visible>
			<div class="[ wrapper ][ padding-block-start-9 ]" style="--wrapper-size: 100ch;">
				<button type="button" id="update-doodle">
					{%- inlineIcon "fas:dice" -%}
					Refresh doodle
				</button>
			</div>
			<template data-island>
				{%- rollup "src/input/js/css-doodle.js" | url -%}
			</template>
			<css-doodle click-to-update aria-hidden="true">
				:doodle {
					@grid: 20 / 100% 100%;
					background: var(--neutral-base);
					font-family: sans-serif;
					overflow: hidden;
				}
				:after {
					content: \@hex.@r(0x2500, 0x257f);
					color: var(--accent-@round.@rand(0, 3));
					font-size: 8vmin;
				}
			</css-doodle>
		</is-land>
		<div class="[ inner ] [ wrapper ]" style="--wrapper-size: 100ch;">
			{%- image
			"./src/assets/img/elly-puppy-transparent.webp",
			"A cute and playful digital drawing of Elly the Golden Retriever Puppy Girl typing on her sticker covered laptop and looking surprised. She has wavy blonde hair and she's wearing a grey scoop neck top and large green headphones which are tucked under her big fluffy ears." -%}

			<nav aria-labelledby="footer-nav" class="[ sitemap ] [ flow ]">
				<h2 id="footer-nav">Sitemap</h2>
				<ul class="[ flex flex-wrap gap-6 ]">
					{%- macro renderNavListItem(entry) -%}
						<li>
							<a href="{{ entry.url | url }}"{% if entry.url === page.url %} aria-current="page"{% endif %}>
								{{- entry.title -}}
							</a>
							{%- if entry.children.length > 0 -%}
								<ul class="[ flow ][ margin-inline-start-3 ]">
									{%- for child in entry.children %}
										{{ renderNavListItem(child) }}
									{%- endfor -%}
								</ul>
							{%- endif -%}
						</li>
					{%- endmacro -%}
					{%- for entry in collections.all | eleventyNavigation -%}
						{%- if entry.url !== "/footer/" -%}
						{{ renderNavListItem(entry) }}
						{%- endif -%}
					{%- endfor -%}
				</ul>
			</nav>

			<div class="[ acknowledgement-of-country ] [ flow ]">
				<h2>Acknowledgement of Country</h2>
				<p>I acknowledge the Traditional Owners and Custodians of the lands on which I live and work, the <a href="https://www.bunuronglc.org">Bunurong People</a> and <a href="https://www.wurundjeri.com.au">Wurundjeri People</a> of the <a href="https://en.wikipedia.org/wiki/Kulin_nation">Kulin Nation</a>. I acknowledges their continuing connection to land, waters and community. I pay my respects to the people, the cultures and the Elders past, present and emerging.</p>
				<p><strong>Sovereignty has never been ceded, it always was and always will be, Aboriginal land.</strong></p>
			</div>

			<ul role="list" class="[ social-links ][ flex-wrap ]">
				<li>
					<a href="/"{% if page.url === "/" %} aria-current="page"{% endif %} class="[ logo-link ]">
						{%- icon "local:elly" -%}
						<span class="[ visually-hidden ]">
							Elly
						</span>
					</a>
				</li>
				<li>
					<a href="https://front-end.social/@elly">
						{%- labelledIcon "fab:mastodon", { "aria-label": "Mastodon" } -%}
					</a>
				</li>
				<li>
					<a href="https://bsky.app/profile/elly.lol">
						{%- labelledIcon "fab:bluesky", { "aria-label": "Bluesky" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/linkedin">
						{%- labelledIcon "fab:linkedin", { "aria-label": "LinkedIn" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/github">
						{%- labelledIcon "fab:github", { "aria-label": "GitHub" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/codepen">
						{%- labelledIcon "fab:codepen", { "aria-label": "Codepen" } -%}
					</a>
				</li>
			</ul>

			<div class="[ gh-edit ]">
				{% gh_edit page %}
			</div>
		</div>
	</div>
</footer>
