<footer>

	{% include "newsletter.njk" %}

	<div class="[ site-footer ]">
		<css-doodle click-to-update aria-hidden="true">
			:doodle {
				@grid: 20 / 100% 100%;
				background: var(--neutral-base);
				font-family: sans-serif;
				overflow: hidden;
			}
			:after {
				content: \@hex.@r(0x2500, 0x257f);
				color: var(--accent-@round.@rand(0, 3));
				font-size: 8vmin;
			}
		</css-doodle>
		<div class="[ inner ] [ wrapper ]" style="--wrapper-size: 100ch;">

			{%- image
			"./src/assets/img/coding.png",
			"A digital drawing of me, a blonde woman in a white sweater with headphones on sitting at my desk in front of a keyboard and monitor coding." -%}

			<div class="[ sitemap ] [ flow ]">
				<h2>Sitemap</h2>
				<ul class="[ flow ]">
					{%- for entry in collections.all | eleventyNavigation -%}
						{%- if entry.url === "/me/" or entry.url === "/writing/" -%}
							{%- for child in entry.children %}
								<li>
									<a href="{{ child.url | url }}"{% if child.url === page.url %} aria-current="page"{% endif %}>
										{{ child.title }}
									</a>
								</li>
							{%- endfor -%}
						{%- else -%}
							<li>
								<a href="{{ entry.url | url }}"{% if entry.url === page.url %} aria-current="page"{% endif %}>
									{{ entry.title }}
								</a>
							</li>
						{%- endif -%}
					{%- endfor -%}
				</ul>
			</div>

			<ul role="list" class="[ social-links ][ flex-wrap ]">
				<li>
					<a href="/"{% if page.url === "/" %} aria-current="page"{% endif %} class="[ logo-link ]">
						{%- icon "local:elly" -%}
						<span class="[ visually-hidden ]">
							Elly
						</span>
					</a>
				</li>
				<li>
					<a href="https://front-end.social/@elly">
						{%- labelledIcon "fab:mastodon", { "aria-label": "Mastodon" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/linkedin">
						{%- labelledIcon "fab:linkedin", { "aria-label": "LinkedIn" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/github">
						{%- labelledIcon "fab:github", { "aria-label": "GitHub" } -%}
					</a>
				</li>
				<li>
					<a href="https://elly.to/codepen">
						{%- labelledIcon "fab:codepen", { "aria-label": "Codepen" } -%}
					</a>
				</li>
			</ul>

			<div class="[ gh-edit ]">
				{% gh_edit page %}
			</div>
		</div>
	</div>
</footer>
