<header class="[ site-head ] [ wrapper gradient-border ]" style="--wrapper-size: 100ch;">
	<nav class="[ nav ][ flex flex-wrap gap-3 align-center ]">
		<!-- link to home: http://microformats.org/wiki/rel-home -->
		<a href="/" rel="home" class="[ u-url u-uid ] [ text-decoration-none ]"{% if page.url === "/" %} aria-current="page"{% endif %}>
			{%- labelledIcon "local:elly", class="logo" -%}
			<span class="[ p-name ]" hidden>Elly Loel</span>
		</a>

		{#- Larger viewports -#}
		{%- include "navigation.njk" -%}

		<a href="/search/" class="[ button ]"{% if page.url === "/search/" %} aria-current="page"{% endif %}>
			{%- icon "fas:magnifying-glass" -%}
			<span class="[ visually-hidden ]">Search</span>
		</a>

		<button type="button" id="settings-dialog-open-button">
			{%- icon "fas:gear" -%}
			<span class="[ visually-hidden ]">Settings</span>
		</button>

		{#- Smaller viewports -#}
		{%- include "navigation.njk" -%}
	</nav>

	{%- include "settings.njk" -%}
</header>
