<header class="[ site-head ] [ wrapper ]" style="--wrapper-size: 100ch;">
	<div class="[ inner ]">
		<div>
			<!-- link to home: http://microformats.org/wiki/rel-home -->
			<a href="/" rel="home" class="[ u-url u-uid ] [ text-decoration-none ]"{% if page.url === "/" %} data-state="active" aria-current="page"{% endif %}>
				{%- icon "local:elly", class="logo" -%}
				<span class="[ p-name ] [ visually-hidden ]">
					Elly<span aria-hidden="true"> Loel</span>
				</span>
			</a>

			<button type="button" id="sound-button" aria-pressed="true">
				{%- icon "fas:volume-high" -%}
				{%- icon "fas:volume-xmark" -%}
				Sounds
			</button>

			<button type="button" id="color-scheme-switcher-dialog-open-button">
				{%- icon "fas:palette" -%}
				Theme editor
			</button>

			{% include "color-scheme-switcher.njk" %}
		</div>

		{% include "navigation.njk" %}
	</div>
</header>
