{%- if page.url === "/feed.atom" -%}
	{%- set link = absolutePostUrl -%}
{%- else -%}
	{%- set link = page.url | absoluteUrl(metadata.url) -%}
{%- endif -%}
<a rel="author" class="[ h-card p-author ]" href="https://ellyloel.com" hidden="">Elly Loel</a>
<a class="[ u-url ]" href="{{ link }}" hidden=""></a>
{% if syndication-url %}
	<a rel="syndication" class="[ u-syndication ]" href="{{ syndication-url }}" hidden=""></a>
{% endif %}
<a href="https://brid.gy/publish/mastodon" class="p-bridgy-omit-link" hidden=""></a>
<a href="https://brid.gy/publish/bluesky" class="p-bridgy-omit-link" hidden=""></a>
<p class="p-bridgy-mastodon-content p-bridgy-bluesky-content" hidden="">{{ title }} 
	{%- if bookmark.link -%}
		<br> 🔖 {{ bookmark.link }}
	{%- endif -%}
	<br> 🔗 {{ link }}</p>