<div>
	<a href="/front-end-development-s-identity-crisis/" class="[ badge ]">Web Designer / Front-end Developer / Design Engineer</a>
	<div class="[ flex flex-wrap gap-2 margin-block-start-2 ]">
		<p class="[ badge ]">Accessibility Specialist</p>
		<p class="[ badge ]">Design System Developer</p>
	</div>
</div>