<a href="/front-end-development-s-identity-crisis/" class="[ badge ]">Web Designer (<del class="[ line-height-1 ]">Front-end Developer</del>)</a> <span class="[ badge ]">Accessibility Specialist</span> <span class="[ badge ]">Design System Developer</span>