<svg xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink" style="max-width:100%;height:auto;" viewBox="0 0 1000 1000">
	<g transform="translate(1 1)">
		<rect id="a" width="251" height="497" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="b">
			<use xlink:href="#a"/>
		</clipPath>
		<text clip-path="url(#b)">
			<tspan x="3" y="1.1em">about</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">46</tspan>
		</text>
	</g>
	<g transform="translate(253 1)">
		<rect id="c" width="247" height="265" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="d">
			<use xlink:href="#c"/>
		</clipPath>
		<text clip-path="url(#d)">
			<tspan x="3" y="1.1em">blog</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">24</tspan>
		</text>
	</g>
	<g transform="translate(253 267)">
		<rect id="e" width="247" height="231" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="f">
			<use xlink:href="#e"/>
		</clipPath>
		<text clip-path="url(#f)">
			<tspan x="3" y="1.1em">home</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">21</tspan>
		</text>
	</g>
	<g transform="translate(501 1)">
		<rect id="g" width="240" height="180" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="h">
			<use xlink:href="#g"/>
		</clipPath>
		<text clip-path="url(#h)">
			<tspan x="3" y="1.1em">contact</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">16</tspan>
		</text>
	</g>
	<g transform="translate(501 182)">
		<rect id="i" width="240" height="158" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="j">
			<use xlink:href="#i"/>
		</clipPath>
		<text clip-path="url(#j)">
			<tspan x="3" y="1.1em">speaking</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">14</tspan>
		</text>
	</g>
	<g transform="translate(501 341)">
		<rect id="k" width="240" height="157" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="l">
			<use xlink:href="#k"/>
		</clipPath>
		<text clip-path="url(#l)">
			<tspan x="3" y="1.1em">writing</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">14</tspan>
		</text>
	</g>
	<g transform="translate(742 1)">
		<rect id="m" width="128" height="253" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="n">
			<use xlink:href="#m"/>
		</clipPath>
		<text clip-path="url(#n)">
			<tspan x="3" y="1.1em">projects</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">12</tspan>
		</text>
	</g>
	<g transform="translate(871 1)">
		<rect id="o" width="128" height="253" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="p">
			<use xlink:href="#o"/>
		</clipPath>
		<text clip-path="url(#p)">
			<tspan x="3" y="1.1em">rss</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">12</tspan>
		</text>
	</g>
	<g transform="translate(742 255)">
		<rect id="q" width="134" height="243" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="r">
			<use xlink:href="#q"/>
		</clipPath>
		<text clip-path="url(#r)">
			<tspan x="3" y="1.1em">search</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">12</tspan>
		</text>
	</g>
	<g transform="translate(877 255)">
		<rect id="s" width="122" height="243" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="t">
			<use xlink:href="#s"/>
		</clipPath>
		<text clip-path="url(#t)">
			<tspan x="3" y="1.1em">notes</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">11</tspan>
		</text>
	</g>
	<g transform="translate(1 499)">
		<rect id="u" width="118" height="252" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="v">
			<use xlink:href="#u"/>
		</clipPath>
		<text clip-path="url(#v)">
			<tspan x="3" y="1.1em">talks</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">11</tspan>
		</text>
	</g>
	<g transform="translate(120 499)">
		<rect id="w" width="150" height="144" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="x">
			<use xlink:href="#w"/>
		</clipPath>
		<text clip-path="url(#x)">
			<tspan x="3" y="1.1em">archive</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">8</tspan>
		</text>
	</g>
	<g transform="translate(120 644)">
		<rect id="y" width="150" height="107" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="z">
			<use xlink:href="#y"/>
		</clipPath>
		<text clip-path="url(#z)">
			<tspan x="3" y="1.1em">feed</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">6</tspan>
		</text>
	</g>
	<g transform="translate(271 499)">
		<rect id="A" width="125" height="108" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="B">
			<use xlink:href="#A"/>
		</clipPath>
		<text clip-path="url(#B)">
			<tspan x="3" y="1.1em">work</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">5</tspan>
		</text>
	</g>
	<g transform="translate(397 499)">
		<rect id="C" width="100" height="108" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="D">
			<use xlink:href="#C"/>
		</clipPath>
		<text clip-path="url(#D)">
			<tspan x="3" y="1.1em">articles</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">4</tspan>
		</text>
	</g>
	<g transform="translate(271 608)">
		<rect id="E" width="75" height="143" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="F">
			<use xlink:href="#E"/>
		</clipPath>
		<text clip-path="url(#F)">
			<tspan x="3" y="1.1em">colophon</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">4</tspan>
		</text>
	</g>
	<g transform="translate(347 608)">
		<rect id="G" width="74" height="143" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="H">
			<use xlink:href="#G"/>
		</clipPath>
		<text clip-path="url(#H)">
			<tspan x="3" y="1.1em">links</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">4</tspan>
		</text>
	</g>
	<g transform="translate(422 608)">
		<rect id="I" width="75" height="143" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="J">
			<use xlink:href="#I"/>
		</clipPath>
		<text clip-path="url(#J)">
			<tspan x="3" y="1.1em">newsletter</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">4</tspan>
		</text>
	</g>
	<g transform="translate(1 752)">
		<rect id="K" width="96" height="112" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="L">
			<use xlink:href="#K"/>
		</clipPath>
		<text clip-path="url(#L)">
			<tspan x="3" y="1.1em">posts</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">4</tspan>
		</text>
	</g>
	<g transform="translate(98 752)">
		<rect id="M" width="72" height="112" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="N">
			<use xlink:href="#M"/>
		</clipPath>
		<text clip-path="url(#N)">
			<tspan x="3" y="1.1em">blogroll</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(171 752)">
		<rect id="O" width="72" height="112" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="P">
			<use xlink:href="#O"/>
		</clipPath>
		<text clip-path="url(#P)">
			<tspan x="3" y="1.1em">books</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(1 865)">
		<rect id="Q" width="120" height="66" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="R">
			<use xlink:href="#Q"/>
		</clipPath>
		<text clip-path="url(#R)">
			<tspan x="3" y="1.1em">garden</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(1 932)">
		<rect id="S" width="120" height="67" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="T">
			<use xlink:href="#S"/>
		</clipPath>
		<text clip-path="url(#T)">
			<tspan x="3" y="1.1em">hire</tspan>
			<tspan x="3" y="2em">me</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(122 865)">
		<rect id="U" width="121" height="66" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="V">
			<use xlink:href="#U"/>
		</clipPath>
		<text clip-path="url(#V)">
			<tspan x="3" y="1.1em">now</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(122 932)">
		<rect id="W" width="121" height="67" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="X">
			<use xlink:href="#W"/>
		</clipPath>
		<text clip-path="url(#X)">
			<tspan x="3" y="1.1em">tip</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(244 752)">
		<rect id="Y" width="72" height="112" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="Z">
			<use xlink:href="#Y"/>
		</clipPath>
		<text clip-path="url(#Z)">
			<tspan x="3" y="1.1em">watching</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">3</tspan>
		</text>
	</g>
	<g transform="translate(317 752)">
		<rect id="aa" width="47" height="112" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="ab">
			<use xlink:href="#aa"/>
		</clipPath>
		<text clip-path="url(#ab)">
			<tspan x="3" y="1.1em">accessibility</tspan>
			<tspan x="3" y="2em">statement</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(244 865)">
		<rect id="ac" width="60" height="89" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="ad">
			<use xlink:href="#ac"/>
		</clipPath>
		<text clip-path="url(#ad)">
			<tspan x="3" y="1.1em">all</tspan>
			<tspan x="3" y="2em">posts</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(305 865)">
		<rect id="ae" width="59" height="89" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="af">
			<use xlink:href="#ae"/>
		</clipPath>
		<text clip-path="url(#af)">
			<tspan x="3" y="1.1em">bookmarks</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(244 955)">
		<rect id="ag" width="120" height="44" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="ah">
			<use xlink:href="#ag"/>
		</clipPath>
		<text clip-path="url(#ah)">
			<tspan x="3" y="1.1em">case</tspan>
			<tspan x="3" y="2em">studies</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(365 752)">
		<rect id="ai" width="88" height="61" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="aj">
			<use xlink:href="#ai"/>
		</clipPath>
		<text clip-path="url(#aj)">
			<tspan x="3" y="1.1em">categories</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(365 814)">
		<rect id="ak" width="88" height="61" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="al">
			<use xlink:href="#ak"/>
		</clipPath>
		<text clip-path="url(#al)">
			<tspan x="3" y="1.1em">courses</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(454 752)">
		<rect id="am" width="43" height="123" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="an">
			<use xlink:href="#am"/>
		</clipPath>
		<text clip-path="url(#an)">
			<tspan x="3" y="1.1em">essays</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(365 876)">
		<rect id="ao" width="88" height="61" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="ap">
			<use xlink:href="#ao"/>
		</clipPath>
		<text clip-path="url(#ap)">
			<tspan x="3" y="1.1em">interviews</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(365 938)">
		<rect id="aq" width="88" height="61" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="ar">
			<use xlink:href="#aq"/>
		</clipPath>
		<text clip-path="url(#ar)">
			<tspan x="3" y="1.1em">journal</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(454 876)">
		<rect id="as" width="43" height="123" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="at">
			<use xlink:href="#as"/>
		</clipPath>
		<text clip-path="url(#at)">
			<tspan x="3" y="1.1em">library</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 499)">
		<rect id="au" width="62" height="86" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="av">
			<use xlink:href="#au"/>
		</clipPath>
		<text clip-path="url(#av)">
			<tspan x="3" y="1.1em">listening</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(561 499)">
		<rect id="aw" width="61" height="86" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="ax">
			<use xlink:href="#aw"/>
		</clipPath>
		<text clip-path="url(#ax)">
			<tspan x="3" y="1.1em">more...</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 586)">
		<rect id="ay" width="124" height="43" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="az">
			<use xlink:href="#ay"/>
		</clipPath>
		<text clip-path="url(#az)">
			<tspan x="3" y="1.1em">photos</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(623 499)">
		<rect id="aA" width="62" height="86" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="aB">
			<use xlink:href="#aA"/>
		</clipPath>
		<text clip-path="url(#aB)">
			<tspan x="3" y="1.1em">podcasts</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(686 499)">
		<rect id="aC" width="62" height="86" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="aD">
			<use xlink:href="#aC"/>
		</clipPath>
		<text clip-path="url(#aD)">
			<tspan x="3" y="1.1em">popular</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(623 586)">
		<rect id="aE" width="125" height="43" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="aF">
			<use xlink:href="#aE"/>
		</clipPath>
		<text clip-path="url(#aF)">
			<tspan x="3" y="1.1em">portfolio</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 630)">
		<rect id="aG" width="62" height="86" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="aH">
			<use xlink:href="#aG"/>
		</clipPath>
		<text clip-path="url(#aH)">
			<tspan x="3" y="1.1em">press</tspan>
			<tspan x="3" y="2em">kit</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(561 630)">
		<rect id="aI" width="61" height="86" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="aJ">
			<use xlink:href="#aI"/>
		</clipPath>
		<text clip-path="url(#aJ)">
			<tspan x="3" y="1.1em">publications</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 717)">
		<rect id="aK" width="124" height="42" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="aL">
			<use xlink:href="#aK"/>
		</clipPath>
		<text clip-path="url(#aL)">
			<tspan x="3" y="1.1em">services</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(623 630)">
		<rect id="aM" width="62" height="86" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="aN">
			<use xlink:href="#aM"/>
		</clipPath>
		<text clip-path="url(#aN)">
			<tspan x="3" y="1.1em">specs</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(686 630)">
		<rect id="aO" width="62" height="86" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="aP">
			<use xlink:href="#aO"/>
		</clipPath>
		<text clip-path="url(#aP)">
			<tspan x="3" y="1.1em">stories</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(623 717)">
		<rect id="aQ" width="125" height="42" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="aR">
			<use xlink:href="#aQ"/>
		</clipPath>
		<text clip-path="url(#aR)">
			<tspan x="3" y="1.1em">tags</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 760)">
		<rect id="aS" width="62" height="87" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="aT">
			<use xlink:href="#aS"/>
		</clipPath>
		<text clip-path="url(#aT)">
			<tspan x="3" y="1.1em">tools</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(561 760)">
		<rect id="aU" width="61" height="87" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="aV">
			<use xlink:href="#aU"/>
		</clipPath>
		<text clip-path="url(#aV)">
			<tspan x="3" y="1.1em">videos</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 848)">
		<rect id="aW" width="124" height="42" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="aX">
			<use xlink:href="#aW"/>
		</clipPath>
		<text clip-path="url(#aX)">
			<tspan x="3" y="1.1em">why</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 891)">
		<rect id="aY" width="74" height="72" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="aZ">
			<use xlink:href="#aY"/>
		</clipPath>
		<text clip-path="url(#aZ)">
			<tspan x="3" y="1.1em">workshops</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">2</tspan>
		</text>
	</g>
	<g transform="translate(498 964)">
		<rect id="ba" width="74" height="35" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="bb">
			<use xlink:href="#ba"/>
		</clipPath>
		<text clip-path="url(#bb)">
			<tspan x="3" y="1.1em">ai</tspan>
			<tspan x="3" y="2em">statement</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(573 891)">
		<rect id="bc" width="49" height="54" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="bd">
			<use xlink:href="#bc"/>
		</clipPath>
		<text clip-path="url(#bd)">
			<tspan x="3" y="1.1em">ama</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(573 946)">
		<rect id="be" width="49" height="53" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="bf">
			<use xlink:href="#be"/>
		</clipPath>
		<text clip-path="url(#bf)">
			<tspan x="3" y="1.1em">antilibrary</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(623 760)">
		<rect id="bg" width="41" height="65" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="bh">
			<use xlink:href="#bg"/>
		</clipPath>
		<text clip-path="url(#bh)">
			<tspan x="3" y="1.1em">artifacts</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(665 760)">
		<rect id="bi" width="41" height="65" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="bj">
			<use xlink:href="#bi"/>
		</clipPath>
		<text clip-path="url(#bj)">
			<tspan x="3" y="1.1em">bio</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(707 760)">
		<rect id="bk" width="41" height="65" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="bl">
			<use xlink:href="#bk"/>
		</clipPath>
		<text clip-path="url(#bl)">
			<tspan x="3" y="1.1em">biography</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(623 826)">
		<rect id="bm" width="41" height="64" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="bn">
			<use xlink:href="#bm"/>
		</clipPath>
		<text clip-path="url(#bn)">
			<tspan x="3" y="1.1em">book</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(665 826)">
		<rect id="bo" width="41" height="64" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="bp">
			<use xlink:href="#bo"/>
		</clipPath>
		<text clip-path="url(#bp)">
			<tspan x="3" y="1.1em">books</tspan>
			<tspan x="3" y="2em">i&apos;ve</tspan>
			<tspan x="3" y="2.9em">read</tspan>
			<tspan x="3" y="4.1em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(707 826)">
		<rect id="bq" width="41" height="64" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="br">
			<use xlink:href="#bq"/>
		</clipPath>
		<text clip-path="url(#br)">
			<tspan x="3" y="1.1em">bookshelf</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(623 891)">
		<rect id="bs" width="37" height="72" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="bt">
			<use xlink:href="#bs"/>
		</clipPath>
		<text clip-path="url(#bt)">
			<tspan x="3" y="1.1em">code</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(661 891)">
		<rect id="bu" width="37" height="72" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="bv">
			<use xlink:href="#bu"/>
		</clipPath>
		<text clip-path="url(#bv)">
			<tspan x="3" y="1.1em">content</tspan>
			<tspan x="3" y="2em">information</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(623 964)">
		<rect id="bw" width="75" height="35" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="bx">
			<use xlink:href="#bw"/>
		</clipPath>
		<text clip-path="url(#bx)">
			<tspan x="3" y="1.1em">css</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(699 891)">
		<rect id="by" width="49" height="54" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="bz">
			<use xlink:href="#by"/>
		</clipPath>
		<text clip-path="url(#bz)">
			<tspan x="3" y="1.1em">css</tspan>
			<tspan x="3" y="2em">work</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(699 946)">
		<rect id="bA" width="49" height="53" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="bB">
			<use xlink:href="#bA"/>
		</clipPath>
		<text clip-path="url(#bB)">
			<tspan x="3" y="1.1em">cursed</tspan>
			<tspan x="3" y="2em">thoughts</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 499)">
		<rect id="bC" width="64" height="41" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="bD">
			<use xlink:href="#bC"/>
		</clipPath>
		<text clip-path="url(#bD)">
			<tspan x="3" y="1.1em">demos</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 541)">
		<rect id="bE" width="64" height="41" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="bF">
			<use xlink:href="#bE"/>
		</clipPath>
		<text clip-path="url(#bF)">
			<tspan x="3" y="1.1em">designs</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 583)">
		<rect id="bG" width="64" height="40" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="bH">
			<use xlink:href="#bG"/>
		</clipPath>
		<text clip-path="url(#bH)">
			<tspan x="3" y="1.1em">devlogs</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 499)">
		<rect id="bI" width="65" height="41" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="bJ">
			<use xlink:href="#bI"/>
		</clipPath>
		<text clip-path="url(#bJ)">
			<tspan x="3" y="1.1em">drafts</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 541)">
		<rect id="bK" width="65" height="41" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="bL">
			<use xlink:href="#bK"/>
		</clipPath>
		<text clip-path="url(#bL)">
			<tspan x="3" y="1.1em">email</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 583)">
		<rect id="bM" width="65" height="40" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="bN">
			<use xlink:href="#bM"/>
		</clipPath>
		<text clip-path="url(#bN)">
			<tspan x="3" y="1.1em">endorsements</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 624)">
		<rect id="bO" width="64" height="41" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="bP">
			<use xlink:href="#bO"/>
		</clipPath>
		<text clip-path="url(#bP)">
			<tspan x="3" y="1.1em">events</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 666)">
		<rect id="bQ" width="64" height="41" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="bR">
			<use xlink:href="#bQ"/>
		</clipPath>
		<text clip-path="url(#bR)">
			<tspan x="3" y="1.1em">faqs</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 708)">
		<rect id="bS" width="64" height="41" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="bT">
			<use xlink:href="#bS"/>
		</clipPath>
		<text clip-path="url(#bT)">
			<tspan x="3" y="1.1em">geek</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 624)">
		<rect id="bU" width="65" height="41" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="bV">
			<use xlink:href="#bU"/>
		</clipPath>
		<text clip-path="url(#bV)">
			<tspan x="3" y="1.1em">goodies</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 666)">
		<rect id="bW" width="65" height="41" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="bX">
			<use xlink:href="#bW"/>
		</clipPath>
		<text clip-path="url(#bX)">
			<tspan x="3" y="1.1em">guestbook</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 708)">
		<rect id="bY" width="65" height="41" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="bZ">
			<use xlink:href="#bY"/>
		</clipPath>
		<text clip-path="url(#bZ)">
			<tspan x="3" y="1.1em">hello</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 499)">
		<rect id="ca" width="39" height="67" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="cb">
			<use xlink:href="#ca"/>
		</clipPath>
		<text clip-path="url(#cb)">
			<tspan x="3" y="1.1em">house</tspan>
			<tspan x="3" y="2em">rules</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(920 499)">
		<rect id="cc" width="39" height="67" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="cd">
			<use xlink:href="#cc"/>
		</clipPath>
		<text clip-path="url(#cd)">
			<tspan x="3" y="1.1em">html</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(960 499)">
		<rect id="ce" width="39" height="67" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="cf">
			<use xlink:href="#ce"/>
		</clipPath>
		<text clip-path="url(#cf)">
			<tspan x="3" y="1.1em">js</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 567)">
		<rect id="cg" width="39" height="68" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="ch">
			<use xlink:href="#cg"/>
		</clipPath>
		<text clip-path="url(#ch)">
			<tspan x="3" y="1.1em">license</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(920 567)">
		<rect id="ci" width="39" height="68" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="cj">
			<use xlink:href="#ci"/>
		</clipPath>
		<text clip-path="url(#cj)">
			<tspan x="3" y="1.1em">media</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(960 567)">
		<rect id="ck" width="39" height="68" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="cl">
			<use xlink:href="#ck"/>
		</clipPath>
		<text clip-path="url(#cl)">
			<tspan x="3" y="1.1em">meta</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 636)">
		<rect id="cm" width="71" height="37" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="cn">
			<use xlink:href="#cm"/>
		</clipPath>
		<text clip-path="url(#cn)">
			<tspan x="3" y="1.1em">office</tspan>
			<tspan x="3" y="2em">hours</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 674)">
		<rect id="co" width="71" height="37" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="cp">
			<use xlink:href="#co"/>
		</clipPath>
		<text clip-path="url(#cp)">
			<tspan x="3" y="1.1em">old</tspan>
			<tspan x="3" y="2em">stuff</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 712)">
		<rect id="cq" width="71" height="37" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="cr">
			<use xlink:href="#cq"/>
		</clipPath>
		<text clip-path="url(#cr)">
			<tspan x="3" y="1.1em">oss</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(952 636)">
		<rect id="cs" width="47" height="56" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="ct">
			<use xlink:href="#cs"/>
		</clipPath>
		<text clip-path="url(#ct)">
			<tspan x="3" y="1.1em">other</tspan>
			<tspan x="3" y="2em">stuff</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(952 693)">
		<rect id="cu" width="47" height="56" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="cv">
			<use xlink:href="#cu"/>
		</clipPath>
		<text clip-path="url(#cv)">
			<tspan x="3" y="1.1em">patterns</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 750)">
		<rect id="cw" width="64" height="40" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="cx">
			<use xlink:href="#cw"/>
		</clipPath>
		<text clip-path="url(#cx)">
			<tspan x="3" y="1.1em">pixels</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 791)">
		<rect id="cy" width="64" height="41" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="cz">
			<use xlink:href="#cy"/>
		</clipPath>
		<text clip-path="url(#cz)">
			<tspan x="3" y="1.1em">playing</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 833)">
		<rect id="cA" width="64" height="41" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="cB">
			<use xlink:href="#cA"/>
		</clipPath>
		<text clip-path="url(#cB)">
			<tspan x="3" y="1.1em">playlists</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 750)">
		<rect id="cC" width="65" height="40" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="cD">
			<use xlink:href="#cC"/>
		</clipPath>
		<text clip-path="url(#cD)">
			<tspan x="3" y="1.1em">poetry</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 791)">
		<rect id="cE" width="65" height="41" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="cF">
			<use xlink:href="#cE"/>
		</clipPath>
		<text clip-path="url(#cF)">
			<tspan x="3" y="1.1em">reading</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 833)">
		<rect id="cG" width="65" height="41" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="cH">
			<use xlink:href="#cG"/>
		</clipPath>
		<text clip-path="url(#cH)">
			<tspan x="3" y="1.1em">recently</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 875)">
		<rect id="cI" width="64" height="41" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="cJ">
			<use xlink:href="#cI"/>
		</clipPath>
		<text clip-path="url(#cJ)">
			<tspan x="3" y="1.1em">recipes</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 917)">
		<rect id="cK" width="64" height="40" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="cL">
			<use xlink:href="#cK"/>
		</clipPath>
		<text clip-path="url(#cL)">
			<tspan x="3" y="1.1em">repo</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(749 958)">
		<rect id="cM" width="64" height="41" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="cN">
			<use xlink:href="#cM"/>
		</clipPath>
		<text clip-path="url(#cN)">
			<tspan x="3" y="1.1em">resume</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 875)">
		<rect id="cO" width="65" height="41" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="cP">
			<use xlink:href="#cO"/>
		</clipPath>
		<text clip-path="url(#cP)">
			<tspan x="3" y="1.1em">snippets</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 917)">
		<rect id="cQ" width="65" height="40" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="cR">
			<use xlink:href="#cQ"/>
		</clipPath>
		<text clip-path="url(#cR)">
			<tspan x="3" y="1.1em">social</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(814 958)">
		<rect id="cS" width="65" height="41" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="cT">
			<use xlink:href="#cS"/>
		</clipPath>
		<text clip-path="url(#cT)">
			<tspan x="3" y="1.1em">stack</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 750)">
		<rect id="cU" width="39" height="67" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="cV">
			<use xlink:href="#cU"/>
		</clipPath>
		<text clip-path="url(#cV)">
			<tspan x="3" y="1.1em">subscribe</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(920 750)">
		<rect id="cW" width="39" height="67" fill="#e15759" fill-opacity=".6"/>
		<clipPath id="cX">
			<use xlink:href="#cW"/>
		</clipPath>
		<text clip-path="url(#cX)">
			<tspan x="3" y="1.1em">the</tspan>
			<tspan x="3" y="2em">attic</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(960 750)">
		<rect id="cY" width="39" height="67" fill="#76b7b2" fill-opacity=".6"/>
		<clipPath id="cZ">
			<use xlink:href="#cY"/>
		</clipPath>
		<text clip-path="url(#cZ)">
			<tspan x="3" y="1.1em">the</tspan>
			<tspan x="3" y="2em">desk</tspan>
			<tspan x="3" y="3.2em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 818)">
		<rect id="da" width="39" height="67" fill="#59a14f" fill-opacity=".6"/>
		<clipPath id="db">
			<use xlink:href="#da"/>
		</clipPath>
		<text clip-path="url(#db)">
			<tspan x="3" y="1.1em">things</tspan>
			<tspan x="3" y="2em">i</tspan>
			<tspan x="3" y="2.9em">fixed</tspan>
			<tspan x="3" y="4.1em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(920 818)">
		<rect id="dc" width="39" height="67" fill="#edc949" fill-opacity=".6"/>
		<clipPath id="dd">
			<use xlink:href="#dc"/>
		</clipPath>
		<text clip-path="url(#dd)">
			<tspan x="3" y="1.1em">things</tspan>
			<tspan x="3" y="2em">i</tspan>
			<tspan x="3" y="2.9em">learned</tspan>
			<tspan x="3" y="4.1em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(960 818)">
		<rect id="de" width="39" height="67" fill="#af7aa1" fill-opacity=".6"/>
		<clipPath id="df">
			<use xlink:href="#de"/>
		</clipPath>
		<text clip-path="url(#df)">
			<tspan x="3" y="1.1em">thoughts</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 886)">
		<rect id="dg" width="71" height="37" fill="#ff9da7" fill-opacity=".6"/>
		<clipPath id="dh">
			<use xlink:href="#dg"/>
		</clipPath>
		<text clip-path="url(#dh)">
			<tspan x="3" y="1.1em">toolbox</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 924)">
		<rect id="di" width="71" height="37" fill="#9c755f" fill-opacity=".6"/>
		<clipPath id="dj">
			<use xlink:href="#di"/>
		</clipPath>
		<text clip-path="url(#dj)">
			<tspan x="3" y="1.1em">training</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(880 962)">
		<rect id="dk" width="71" height="37" fill="#bab0ab" fill-opacity=".6"/>
		<clipPath id="dl">
			<use xlink:href="#dk"/>
		</clipPath>
		<text clip-path="url(#dl)">
			<tspan x="3" y="1.1em">uses</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(952 886)">
		<rect id="dm" width="47" height="56" fill="#4e79a7" fill-opacity=".6"/>
		<clipPath id="dn">
			<use xlink:href="#dm"/>
		</clipPath>
		<text clip-path="url(#dn)">
			<tspan x="3" y="1.1em">website</tspan>
			<tspan x="3" y="2.3em" fill-opacity=".7">1</tspan>
		</text>
	</g>
	<g transform="translate(952 943)">
		<rect id="do" width="47" height="56" fill="#f28e2c" fill-opacity=".6"/>
		<clipPath id="dp">
			<use xlink:href="#do"/>
		</clipPath>
		<text clip-path="url(#dp)">
			<tspan x="3" y="1.1em">what</tspan>
			<tspan x="3" y="2em">i</tspan>
			<tspan x="3" y="2.9em">do</tspan>
			<tspan x="3" y="4.1em" fill-opacity=".7">1</tspan>
		</text>
	</g>
</svg>
