<nav aria-label="Primary" class="[ nav ]">
	{% set navPages = collections.all | eleventyNavigation %}
	<ul role="list" class="list">
		{%- for entry in navPages %}
			{%- if entry.url === "/me/" or entry.url === "/writing/" -%}
				<li>
					<details-utils close-esc close-click-outside>
						<details>
							<summary>
								{%- icon "fas:play" -%}
								{{ entry.title }}
							</summary>
							<ul role="list">
								{%- for child in entry.children %}
									<li>
										<a{% if child.url === page.url %} data-state="active" aria-current="page"{% endif %} href="{{ child.url | url }}">{{ child.title }}</a>
									</li>
								{% endfor -%}
							</ul>
						</details>
					</details-utils>
				</li>
			{%- else -%}
				<li>
					<a{% if entry.url === page.url %} data-state="active" aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
				</li>
			{%- endif -%}
		{%- endfor %}
	</ul>
</nav>
