{% set navPages = collections.all | eleventyNavigation %}
<ul role="list" class="[ list ][ align-center ]">
	{%- for entry in navPages %}
		{%- if entry.url !== "/footer/" %}
			<li>
				<a{% if entry.url === page.url %} aria-current="page"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
			</li>
		{%- endif %}
	{%- endfor %}
	<li>
		<a href="#footer-nav">More…</a>
	</li>
</ul>
