<form
	class="[ newsletter ][ flow ]"
  action="https://buttondown.email/api/emails/embed-subscribe/ellyloel"
	method="post"
>
	<div class="[ flex flex-col ]">
		<label for="bd-name">Name</label>
		<input type="text" name="metadata__name" id="bd-name">
	</div>
	<div class="[ flex flex-col ]">
		<label for="bd-email">Email</label>
		<input type="email" name="email" id="bd-email">
	</div>
	<button type="submit">✨ Subscribe ✨</button>
	<small><a href="https://buttondown.com/">Powered by Buttondown</a></small>
</form>
