<form
	class="[ newsletter ]"
  action="https://buttondown.email/api/emails/embed-subscribe/ellyloel"
	method="post"
>
	<div class="[ flow ]">
		<h2>Newsletter 📬</h2>
		<p>
			Keep up to date with my writing and bookmarking as well as anything else I'm working on. 
		</p>
		<p>
			Most content will likely be related to: 👩🏼‍💻
		</p>
		<ul>
			<li><abbr title="HyperText Markup Language">HTML</abbr></li>
			<li><abbr title="Cascading Style Sheets">CSS</abbr></li>
			<li><abbr title="Accessibility">A11y</abbr></li>
			<li><abbr title="Scalable Vector Graphics">SVG</abbr></li>
			<li>Web Standards</li>
			<li>Design Tokens</li>
			<li>Design Systems</li>
			<li>Web Components</li>
		</ul>
		<details>
			<summary>
				But maybe also: 🤨
			</summary>
			<ul>
				<li>
					<strong>THE</strong> queer experience</li>
				<li><abbr title="Attention Deficit Hyperactivity Disorder">ADHD</abbr></li>
				<li>Autism</li>
				<li>Intersectionality</li>
				<li>Leftist politics</li>
			</ul>
		</details>
		<p>
			<strong>
				No spam, unsubscribe at any time.
			</strong>
			<br>
			<small>
				<em>
					<a href="https://buttondown.email">Powered by Buttondown.</a>
				</em>
			</small>
		</p>
		<div>
			<div class="[ flex flex-col ]">
				<label for="bd-name">Name</label>
				<input type="text" name="metadata__name" id="bd-name">
			</div>
			<div class="[ flex flex-col ]">
				<label for="bd-email">Email</label>
				<input type="email" name="email" id="bd-email">
			</div>
			<button type="submit">✨ Subscribe ✨</button>
		</div>
	</div>
</form>