<dl>
	<dt>Web development</dt>
	<dd>Semantic HTML, Advanced CSS, PostCSS, Sass, Tailwind, JavaScript, TypeScript, 11ty, Astro, Vue.js, React, Gatsby, Next.js, Git, PHP, WordPress, Docker, GitHub, Bitbucket, Azure DevOps</dd>
	<dt>Accessibility</dt>
	<dd>NVDA, JAWS, VoiceOver (MacOS & iOS), TalkBack, Windows Narrator, Windows Contrast Themes (forced colors mode), Dragon NaturallySpeaking, Voice Control (MacOS & iOS), Windows Voice access, Screen magnifier, Keyboard-only, Head/eye tracking, Switch controls, ARC Toolkit, Axe DevTools, WAVE Evaluation Tool</dd>
	<dt>Design</dt>
	<dd>Figma, Miro, Adobe Creative Suite</dd>
	<dt>Misc.</dt>
	<dd>Google Workspace, Microsoft 365 apps, Atlassian Suite, Notion, Proton Suite</dd>
</dl>
