<dl>
	<dt>Web development</dt>
	<dd>Semantic HTML, Advanced CSS, JavaScript, TypeScript, PostCSS, Sass, Tailwind, PHP, Git, React, Gatsby, Next.JS, WordPress, Docker, GitHub, Bitbucket</dd>
	<dt>Accessibility</dt>
	<dd>VoiceOver (MacOS & iOS), JAWS, NVDA, TalkBack, Voice Control, Head/eye tracking, Screen magnifier, Keyboard-only, Switch controls, ARC Toolkit, Axe DevTools, WAVE Evaluation Tool</dd>
	<dt>Design</dt>
	<dd>Figma, Miro, Adobe Creative Suite</dd>
	<dt>Misc.</dt>
	<dd>Notion, Atlassian Suite, Google Workspace, Microsoft 365 Suite</dd>
</dl>
