{%- set icon -%}fas:
{%- if stage === "seedling" -%}seedling{%- endif -%}
{%- if stage === "budding" -%}spa{%- endif -%}
{%- if stage === "evergreen" -%}tree{%- endif -%}
{%- if stage === "draft" -%}file-pen{%- endif -%}
{%- if stage === "complete" -%}circle-check{%- endif -%}
{%- endset -%}

{%- set stage -%}{{ stage | title }}{%- endset -%}

{%- labelledInlineIcon icon, { "aria-label": stage } -%}
