{#-
	const localStorageColorScheme = localStorage.getItem("color-scheme");
	const body = document.documentElement;
	// if there's a color-scheme id in localstorage, use it, if not use auto.
	body.setAttribute("color-scheme", localStorageColorScheme || "auto");
	body.setAttribute(
		"class", localStorageColorScheme
		?.includes("light")
			? "sl-theme-light"
			: localStorageColorScheme
				?.includes("dark")
					? "sl-theme-dark"
					: window.matchMedia("(prefers-color-scheme: light)").matches
						? "sl-theme-light"
						: "sl-theme-dark");
-#}
<script>const e=localStorage.getItem("color-scheme"),t=document.documentElement;t.setAttribute("color-scheme",e||"auto"),t.setAttribute("class",e?.includes("light")?"sl-theme-light":e?.includes("dark")?"sl-theme-dark":window.matchMedia("(prefers-color-scheme: light)").matches?"sl-theme-light":"sl-theme-dark");</script>
