<li class="[ webmention ][ flow ]">
	<div class="[ meta ]">
		{% if mention.author %}
			<a href="{{ mention.author.url }}" class="[ author-wrapper ]">
				<sl-avatar
					class="[ author-photo-image ]"
					image="{{ mention.author.photo | imageLink }}"
					initials="{{ mention.author.name[0] }}"
					label=""
				></sl-avatar>
				<strong class="[ author-name ]">{{ mention.author.name }}</strong>
			</a>
		{% else %}
			<span class="[ author-wrapper ]">
				<sl-avatar
					class="[ author-photo-image ]"
					label=""
				></sl-avatar>
				<strong class="[ author-name ]">Anonymous</strong>
			</span>
		{% endif %}
		<small>
			<a href="{{ mention.url }}">
				<time class="[ dt-published ]" datetime="{{ mention.published | dateToISO }}">{{ mention.published | dateToRelative }}</time>
			</a>
		</small>
	</div>

	<p>{{ mention.content.value | removeRandomLink | safe }}</p>
</li>