<li class="[ webmention ][ flow ]">
	<div class="[ meta ]">
		{% if mention.author %}
			<a href="{{ mention.author.url }}" class="[ author-wrapper ]">
				<strong class="[ author-name ]">{{ mention.author.name }}</strong>
			</a>
		{% else %}
			<span class="[ author-wrapper ]">
				<strong class="[ author-name ]">Anonymous</strong>
			</span>
		{% endif %}
		<small>
			<a href="{{ mention.url }}">
				<time class="[ dt-published ]" datetime="{{ mention.published | dateToISO }}">{{ mention.published | dateToLocaleDateFull }}</time>
			</a>
		</small>
	</div>

	<p>{{ mention.content.value | removeRandomLink | safe }}</p>
</li>