<div class="[ facepile ]">
	<p>
		<span class="[ h3 ]">
			{{ facepileMentionsHeading }}
		</span>
		{%- for facepileMention in facepileMentions -%}
			{%- if loop.last and not loop.first %}
				and
			{% endif %}
			<a href="{{ facepileMention.author.url }}">
				{{- facepileMention.author.name | replace("?", "") -}}
			</a>
			{%- if not loop.last and loop.length !== 2 -%}
				,
			{% endif %}
			{%- if loop.last -%}
				.
			{% endif %}
		{%- endfor -%}
	</p>
</div>
