<details id="webmentions-{{ namepileMentionType }}s" class="[ namepile ]">
	<summary class="[ h3 ]">
		<h3>
			{{- namepileMentions.length }} {{ namepileMentionType }}
			{{- "s" if (namepileMentions.length > 1) -}}
		</h3>
	</summary>
	<p>
		{%- for namepileMention in namepileMentions -%}
			{{- "and " if loop.last and not loop.first -}}
			<a href="{{ namepileMention.author.url }}">
				{{- namepileMention.author.name | replace("????", "") | replace(r/:\w*:/g, "") | trim -}}
			</a>
			{{- ", " if not loop.last and loop.length !== 2 -}}
			{{- "." if loop.last -}}
		{%- endfor -%}
	</p>
</details>
