<li class="[ webmention ][ flow ]">
	<div class="[ meta ]">
		{% if mention.author %}
			<a href="{{ mention.author.url }}" class="[ author-wrapper ]">
				<strong class="[ author-name ]">{{ mention.author.name }}</strong>
			</a>
		{% else %}
			<span class="[ author-wrapper ]">
				<sl-avatar
					class="[ author-photo-image ]"
					label=""
				></sl-avatar>
				<strong class="[ author-name ]">Anonymous</strong>
			</span>
		{% endif %}
		<small class="[ date ]">
			<a href="{{ mention.url }}">
				<sl-relative-time date="{{ mention.published }}"></sl-relative-time>
			</a>
		</small>
	</div>

	<p>{{ mention.content.value | removeRandomLink | safe }}</p>
</li>
