<lite-youtube videoid="{{ videoId }}" style="background-image: url('https://i.ytimg.com/vi/{{ videoId }}/hqdefault.jpg');"{% if params %} params="{{ params }}"{% endif %}>
	<button type="button" class="lty-playbtn">
		<span class="lyt-visually-hidden">Play Video: {{ videoTitle }}</span>
	</button>
</lite-youtube>