@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #fff;
  }

  :visited {
    color: lch(60.51768357490391, 71.43476962425623, 327.17459892721234);
  }

  :link {
    color: hsl(190deg 71% 71%);
  }
}

.nav-active {
  font-weight: 700;
  text-decoration: none;
}
