@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0deg 0% 7%);
    color: hsl(0deg 0% 100%);
  }

  :visited {
    color: hsl(268deg 61% 80%);
  }

  :link {
    color: hsl(240deg 87% 80%);
  }
}

nav [data-state="active"] {
  font-weight: 700;
  text-decoration: none;
}
