.border-block-start-width {
	border-block-start-width: 0.1em;
}

.border-block-end-width {
	border-block-end-width: 0.1em;
}

.border-inline-start-width {
	border-inline-start-width: 0.1em;
}

.border-inline-end-width {
	border-inline-end-width: 0.1em;
}

.gradient-border {
	border-image: linear-gradient(
			to right,
			transparent,
			var(--accent-solid),
			transparent
		)
		1;
}
