.gradient-border {
	border-image: linear-gradient(
		to right,
		transparent,
		var(--accent-solid),
		transparent
	) 1;

	@media (forced-colors: active) {
		border-image: linear-gradient(
			to right,
			transparent,
			CanvasText,
			transparent
		) 1;
	}

	&[data-gradient-border="block-start"] {
		border-block-start-width: 0.1em;
	}

	&[data-gradient-border="block-end"] {
		border-block-end-width: 0.1em;
	}

	&[data-gradient-border="inline-start"] {
		border-inline-start-width: 0.1em;
	}

	&[data-gradient-border="inline-end"] {
		border-inline-end-width: 0.1em;
	}
}
