.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-start {
	align-items: start;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

.justify-center {
	justify-content: center;
}

.inline {
	display: inline;
}

.grid {
	display: grid;
	gap: var(--gap, var(--size-3));
}

.gap-1ch {
	gap: 1ch;
}

.gap-1 {
	gap: var(--size-1);
}

.gap-2 {
	gap: var(--size-2);
}

.gap-3 {
	gap: var(--size-3);
}

.gap-4 {
	gap: var(--size-4);
}

.gap-5 {
	gap: var(--size-5);
}

.gap-6 {
	gap: var(--size-6);
}

.column-gap-1 {
	column-gap: var(--size-1);
}

.column-gap-2 {
	column-gap: var(--size-2);
}

.column-gap-3 {
	column-gap: var(--size-3);
}

.column-gap-4 {
	column-gap: var(--size-4);
}

.column-gap-5 {
	column-gap: var(--size-5);
}

.column-gap-6 {
	column-gap: var(--size-6);
}

.row-gap-1 {
	row-gap: var(--size-1);
}

.row-gap-2 {
	row-gap: var(--size-2);
}

.row-gap-3 {
	row-gap: var(--size-3);
}

.row-gap-4 {
	row-gap: var(--size-4);
}

.row-gap-5 {
	row-gap: var(--size-5);
}

.row-gap-6 {
	row-gap: var(--size-6);
}
