.padding-1 {
	padding: var(--size-1);
}

.padding-2 {
	padding: var(--size-2);
}

.padding-3 {
	padding: var(--size-3);
}

.padding-4 {
	padding: var(--size-4);
}

.padding-5 {
	padding: var(--size-5);
}

.padding-6 {
	padding: var(--size-6);
}

.padding-inline-1 {
	padding-inline: var(--size-1);
}

.padding-inline-2 {
	padding-inline: var(--size-2);
}

.padding-inline-3 {
	padding-inline: var(--size-3);
}

.padding-inline-4 {
	padding-inline: var(--size-4);
}

.padding-inline-5 {
	padding-inline: var(--size-5);
}

.padding-inline-6 {
	padding-inline: var(--size-6);
}

.padding-block-1 {
	padding-block: var(--size-1);
}

.padding-block-2 {
	padding-block: var(--size-2);
}

.padding-block-3 {
	padding-block: var(--size-3);
}

.padding-block-4 {
	padding-block: var(--size-4);
}

.padding-block-5 {
	padding-block: var(--size-5);
}

.padding-block-6 {
	padding-block: var(--size-6);
}

.padding-inline-start-1 {
	padding-inline-start: var(--size-1);
}

.padding-inline-start-2 {
	padding-inline-start: var(--size-2);
}

.padding-inline-start-3 {
	padding-inline-start: var(--size-3);
}

.padding-inline-start-4 {
	padding-inline-start: var(--size-4);
}

.padding-inline-start-5 {
	padding-inline-start: var(--size-5);
}

.padding-inline-start-6 {
	padding-inline-start: var(--size-6);
}

.padding-inline-end-1 {
	padding-inline-end: var(--size-1);
}

.padding-inline-end-2 {
	padding-inline-end: var(--size-2);
}

.padding-inline-end-3 {
	padding-inline-end: var(--size-3);
}

.padding-inline-end-4 {
	padding-inline-end: var(--size-4);
}

.padding-inline-end-5 {
	padding-inline-end: var(--size-5);
}

.padding-inline-end-6 {
	padding-inline-end: var(--size-6);
}

.padding-block-start-1 {
	padding-block-start: var(--size-1);
}

.padding-block-start-2 {
	padding-block-start: var(--size-2);
}

.padding-block-start-3 {
	padding-block-start: var(--size-3);
}

.padding-block-start-4 {
	padding-block-start: var(--size-4);
}

.padding-block-start-5 {
	padding-block-start: var(--size-5);
}

.padding-block-start-6 {
	padding-block-start: var(--size-6);
}

.padding-block-end-1 {
	padding-block-end: var(--size-1);
}

.padding-block-end-2 {
	padding-block-end: var(--size-2);
}

.padding-block-end-3 {
	padding-block-end: var(--size-3);
}

.padding-block-end-4 {
	padding-block-end: var(--size-4);
}

.padding-block-end-5 {
	padding-block-end: var(--size-5);
}

.padding-block-end-6 {
	padding-block-end: var(--size-6);
}
