.stroke {
	--thickness: 1px;
	--stroke-color: var(--color, var(--neutral-text-contrast));
	--fill-color: var(--neutral-base);

	color: var(--fill-color);
	text-shadow: calc(var(--thickness) * -1) calc(var(--thickness) * -1) 0
			var(--stroke-color),
		var(--thickness) calc(var(--thickness) * -1) 0 var(--stroke-color),
		calc(var(--thickness) * -1) var(--thickness) 0 var(--stroke-color),
		var(--thickness) var(--thickness) 0 var(--stroke-color);
	transition-duration: 500ms;
	transition-property: color, text-shadow;
	transition-timing-function: ease;

	&:hover {
		--stroke-color: var(--fill-color);

		color: var(--hover-color, var(--color));
		transition-duration: 250ms;
		transition-property: color, text-shadow;
		transition-timing-function: ease;
	}
}
