.stroke {
	--thickness: 0.175em;
	--stroke-color: var(--color, var(--neutral-text-contrast));
	--fill-color: var(--neutral-base);

	color: var(--fill-color);
	paint-order: stroke fill;
	-webkit-text-stroke-color: var(--stroke-color);
	-webkit-text-stroke-width: var(--thickness);
}
