.text-decoration-none {
	text-decoration: none;
}

.line-height-1 {
	line-height: 1;
}

.move-link-styling-to-child {
	& > span {
		text-decoration: underline;
		text-decoration-color: currentcolor;
		text-decoration-skip-ink: auto;
		transition-duration: 200ms;
		transition-property: background-color, text-decoration-color;
		transition-timing-function: var(--ease-2);
	}

	&:hover {
		& > span {
			background-color: var(--accent-bg);
			text-decoration-color: transparent;
		}
	}

	&:active {
		& > span {
			background-color: var(--accent-bg-hover);
		}
	}
}
