/* stylelint-disable-next-line selector-not-notation */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
