/*
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-inline-size: var(--wrapper-size, 72ch);
  padding-inline: var(--size-4);
  margin-inline: auto;
  position: relative;
}
