<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/styles.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.lang or page.lang }}">
	<title>{{ title or metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url | addPathPrefixToFullUrl }}"/>
	<updated>{{ collections[collection] | getLatestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url | addPathPrefixToFullUrl }}/</id>
	<author>
		<name>{{ metadata.author.name }}</name>
	</author>
	<generator>{{ eleventy.generator }}</generator>
	{%- for post in collections[collection] %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<published>
				{%- if post.data.created -%}
					{{ post.data.created | dateObj | dateToRfc3339 }}
				{%- else -%}
					{{ post.data.date | dateObj | dateToRfc3339 }}
				{%- endif -%}
			</published>
			<updated>
				{%- if post.data.modified -%}
					{{ post.data.modified | dateObj | dateToRfc3339 }}
				{%- else -%}
					{{ post.data.date | dateObj | dateToRfc3339 }}
				{%- endif -%}
			</updated>
			<id>tag:ellyloel.com,{{ post.data.date | dateToISO }}:{{ post.data.id }}</id>
			<content type="html">
				{{ post.content | renderTransforms(post.data.page, metadata.url) }}
			</content>
			{% if post.data.bookmark.tags -%}
				{%- set tags = post.data.tags.concat(post.data.bookmark.tags) -%}
			{%- else -%}
				{%- set tags = post.data.tags -%}
			{%- endif -%}
			{%- for tag in tags | reject("equalto", "YouTube") | reject("equalto", "Seedling") | reject("equalto", "Budding") | reject("equalto", "Evergreen") | reject("equalto", "Essays") | reject("equalto", "Notes") | reject("equalto", "Microposts") | reject("equalto", "Bookmarks") | reject("equalto", "Projects") | reject("equalto", "Garden") -%}
				<category term="{{ tag }}"/>
			{%- endfor %}
		</entry>
	{%- endfor %}
</feed>
