---
layout: base-without-header.njk
---
<header class="[ main-header ]">
	<h1
		class="
			{%- if page.url === "/garden/" or page.url === "/microposts/" -%}
				[ p-name ]
			{%- endif -%}
			[ margin-0 line-height-1 ]
		"
	>
		{{ title }}
	</h1>
</header>
<article class="[ markdown-container ][ flow ]">
	<div class="[ flow ]">
		{{ content | safe }}
	</div>
</article>
