---
layout: base-without-header.njk
---
<header class="[ main-header ]">
	{%- include "breadcrumb.njk" -%}
	<h1>{{ title }}</h1>
</header>
<article class="[ markdown-container ][ flow ]">
	{{ content | safe }}
</article>
