<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
	<!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
		<title>{{ title }} - Elly Loel</title>

		<!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		<link rel="stylesheet" href="/css/style.css">

		<!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		{%- rollup "src/input/js/main.js" | url -%}
		{%- if page.url === "/" -%}
			{%- rollup "src/input/js/model-viewer.js" | url -%}
			{%- rollup "src/input/js/spotify.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/garden/" or page.url === "/blog/" or page.url === "/projects/" or page.url === "/til/" or page.url === "/til/d3/" or page.url === "/archive/" -%}
			{%- rollup "src/input/js/graph.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/search/" -%}
			{%- rollup "src/input/js/is-land.js" | url -%}
			{%- rollup "src/input/js/search.js" | url -%}
		{%- endif -%}
		{%- if page.url !== "/bookmarks/" and page.url |includes("/bookmarks/") -%}
			{%- rollup "src/input/js/lite-youtube.js" | url -%}
		{%- endif -%}
		<script data-goatcounter="https://ellyloel.goatcounter.com/count" src="//gc.zgo.at/count.js" defer></script>

		{%- include "meta.njk" -%}
	</head>
	<body class="{% if page.url === "/" or page.url === "/about/" %}[ h-card ]{% endif %}">
		<a class="[ skip-link ] [ button ]" href="#content">Skip to content</a>

		{%- include "header.njk" -%}

		<!-- tabindex fixes focus issue: https://benmyers.dev/blog/skip-links/#tldr -->
		<main
			id="content"
			tabindex="-1"
			class="[ wrapper flow ]
				{%- if page.url === "/garden/" or page.url === "/blog/" or page.url === "/projects/" or page.url === "/til/" or page.url === "/archive/" or page.url === "/bookmarks/" or page.url === "/mastodon/" -%}
					[ h-feed ]
				{%- elif page.url !== "/" and page.url !== "/about/" -%}
					[ h-entry ]
				{%- endif -%}"
			style="--wrapper-size: 100ch;"
			{% if page.url !== "/" %}
				data-pagefind-body
			{% endif %}
		>
			{{ content | safe }}
		</main>

		{%- include "footer.njk" -%}
	</body>
</html>
