<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
	<!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
		{%- if page.url === "/" -%}
		<title>Elly Loel</title>
		{%- else -%}
		<title>{{ title }} - Elly Loel</title>
		{%- endif -%}

		<!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		<link rel="stylesheet" href="/css/style.css">
		{%- include "init-settings.njk" -%}

		<!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		{%- rollup "src/input/js/main.js" | url -%}
		{%- if page.url === "/" -%}
			{%- rollup "src/input/js/spotify.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/garden/" or page.url === "/essays/" or page.url === "/notes/" or page.url === "/bookmarks/" or page.url === "/projects/" or page.url === "/garden/d3/" -%}
			{%- rollup "src/input/js/graph.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/garden/" -%}
			{%- rollup "src/input/js/garden-filters.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/search/" -%}
			{%- rollup "src/input/js/search.js" | url -%}
		{%- endif -%}
		{%- if page.url === "/follow/" -%}
			{%- rollup "src/input/js/confetti.js" | url -%}
		{%- endif -%}
		{%- set countPath = "src/input/js/count.js" | url -%}
		{%- rollup countPath, { "data-goatcounter": "https://ellyloel.goatcounter.com/count" } -%}

		{%- include "meta.njk" -%}
	</head>
	<body class="{% if page.url === "/" or page.url === "/about/" %}[ h-card ]{% endif %}">
		<a class="[ skip-link ] [ button ]" href="#content">Skip to content</a>

		{%- include "header.njk" -%}

		<main
			class="[ wrapper flow ]
				{%- if page.url === "/garden/" or page.url === "/essays/" or page.url === "/notes/" or page.url === "/microposts/" or page.url === "/bookmarks/" or page.url === "/projects/" -%}
					[ h-feed ]
				{%- elif page.url !== "/" and page.url !== "/about/" -%}
					[ h-entry ]
				{%- endif -%}"
			style="--wrapper-size: 100ch;"
			{% if page.url !== "/" and page.url !== "/garden/" and page.url !== "/essays/" and page.url !== "/notes/" and page.url !== "/microposts/" and page.url !== "/bookmarks/" and page.url !== "/projects/" and page.url !== "/archive/" and not page.url | includes("/tags/") %}
				data-pagefind-body
			{% endif %}
		>
			{{ content | safe }}
		</main>

		{%- include "footer.njk" -%}
	</body>
</html>
