{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ title or metadata.title }}",
	"language": "{{ metadata.lang }}",
	"home_page_url": "{{ metadata.url }}",
	"feed_url": "{{ permalink | absoluteUrl(metadata.url) }}",
	"description": "{{ metadata.description }}",
	"author": {
		"name": "{{ metadata.author.name }}"
	},
	"items": [
		{%- for post in collections[collection] %}
		{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.url) %}
		{
			"id": "tag:ellyloel.com,{{ post.date | dateToISO }}:{{ post.data.id }}",
			"url": "{{ absolutePostUrl }}",
			"title": {{ post.data.title | dump | safe }},
			"content_html":{{ " " }}
			{%- if post.content -%}
				{%- set content = post.content %}
			{%- elseif post.data.layout === "bookmark" -%}
				{%- set content %}{% include "bookmark.njk" %}{% endset -%}
			{%- else -%}
				{%- set content = "" %}
			{%- endif -%}
			{{- content | renderTransforms(post.data.page, metadata.url) | dump | safe -}},
			{%- if post.data.link %}
			"external_url": "{{ post.data.link }}",
			{%- endif -%}
			{%- if post.data.tags %}
			"tags": [
				{%- for tag in post.data.tags | reject("equalto", "YouTube") | reject("equalto", "Seedling") | reject("equalto", "Budding") | reject("equalto", "Evergreen") | reject("equalto", "Essays") | reject("equalto", "Notes") | reject("equalto", "Microposts") | reject("equalto", "Bookmarks") | reject("equalto", "Projects") | reject("equalto", "Garden") %}
				"{{ tag }}"{% if not loop.last %}{{ "," }}{% endif %}
				{%- endfor %}
			],
			{%- endif -%}
			{%- if post.data.modified %}
			"date_modified": "{{ post.data.modified | dateObj | dateToRfc3339 }}",
			{% endif -%}
			"date_published": "{{ post.date | dateObj | dateToRfc3339 }}"
		}{% if not loop.last %},{% endif %}
		{%- endfor %}
	]
}
