<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Open Graph Image for {{ content | striptags }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>📸</text></svg>"
		>
		<style>
			* {
				margin: 0;
				padding: 0;
			}

			html {
				overflow: hidden;
			}

			body {
				margin: 0;
			}

			.css-doodle {
				position: absolute;
			}

			a {
				text-decoration: none;
			}

			h1 {
				position: absolute;
				top: 50%;
				left: 0;
				translate: 0 -50%;
				margin: 0 2rem;
				max-width: calc(100vw - 4rem);
			}

			h1 a {
				border-radius: 1rem;
				position: relative;
				display: block;
				padding: 2rem;
				color: hsl(271deg 83.6% 12%);
				font-size: 5rem;
				font-family: "Fraunces";
				font-optical-sizing: auto;
				font-variation-settings: "SOFT" 100, "WONK" 1;
				line-height: 1.1;
				text-wrap: balance;
				text-wrap: pretty;

				background: hsl(262deg 89.2% 92.7%);
			}

			h2 a {
				border-radius: 0.8rem;
				position: absolute;
				display: block;
				right: 2rem;
				bottom: 2rem;
				color: hsl(0 0 100% / 90%);
				mix-blend-mode: lighten;
			}

			h2 svg {
				display: block;
				height: 4rem;
			}

			@supports (backdrop-filter: blur(2rem)) or (-webkit-backdrop-filter: blur(2rem)) {
				h1 a {
					color: white;
					background: transparent;
					-webkit-backdrop-filter: blur(2rem) brightness(90%) saturate(140%);
					backdrop-filter: blur(2rem) brightness(90%) saturate(140%);
					text-shadow: hsla(0 0 100% / 60%) 0 0.2rem 2rem;
					box-shadow: inset 0 0 0.1rem 0.1rem hsl(0 0 100% / 10%);
				}

				h1 .glass-edge {
					position: absolute;
					top: 0;
					right: 0;
					bottom: -0.4em;
					left: 0;
					background: hsl(0deg 0% 100% / 0.1);
					-webkit-backdrop-filter: blur(0.5rem) brightness(110%) saturate(120%);
					backdrop-filter: blur(0.5rem) brightness(110%) saturate(120%);
					border-radius: 1rem;
					z-index: -1;
					box-shadow: inset 0 -0.1rem 0.1rem 0 hsl(0 0 100% / 10%);
				}

				h2 a {
					background: none;
					mix-blend-mode: normal;
					backdrop-filter: contrast(100%) saturate(200%) brightness(100%) blur(0.5rem);
					color: hsl(0 0 100% / 70%);
				}
			}
		</style>
		<link rel="stylesheet" href="/css/fonts.css">
		{%- rollup "src/input/js/css-doodle.js" | url -%}
	</head>
	<body>
		<css-doodle>
			:doodle {
				@grid: 100x1 / 100vmax;
			}

			:container {
				@size: 125%;
				transform:
				scale(8)
				translateY(17.5%) translateX(-20%)
				rotate(315deg);
			}

			@place-cell: center;
			border-radius: 50%;
			transform: rotate(@rand(-.5deg, .5deg, .1));

			height: 20%;
			width: calc(
				100% - @calc(@index() -1) * 100% / @size()
			);

			background: @pick(#1f0538, #3d0f66, #5a1c93, #772bbf, #9244e4, #a96bf4, #bd93f9, #d2b8fb, #e8dcfd);
		</css-doodle>
		{{ content | safe }}
		<h2>
			<a href="/">{% labelledIcon "local:elly-invert" %}</a>
		</h2>
	</body>
</html>
