---
layout: base-without-header.njk
---
<header style="border-block-end: var(--border-size-1) solid var(--neutral-border); padding-block-end: var(--size-3);">
	{%- include "breadcrumb.njk" -%}
	<h1 class="[ p-name ]">{{ title }}</h1>
	<div class="[ flex gap-3 flex-wrap ]">
		{%- include "hidden-microformats.njk" -%}
		{%- if created -%}
			{%- set date = created -%}
			{%- set label = "Created" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if modified -%}
			{%- set date = modified -%}
			{%- set label = "Last modified" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if not created and not modified -%}
			{%- set date = page.date -%}
			{%- set label = "Last modified" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if stage -%}
			<span>
				{%- set stageIcon -%}fas:
					{%- if stage === "seedling" -%}
						seedling
					{%- elif stage === "budding" -%}
						spa
					{%- elif stage === "evergreen" -%}
						tree
					{%- elif stage === "draft" -%}
						file-pen
					{%- elif stage === "complete" -%}
						circle-check{%- endif -%}{%- endset -%}
				{%- labelledInlineIcon stageIcon, { "aria-label": "Stage" } -%}
				<span class="[ p-category ]">{{ stage | capitalize }}</span>
			</span>
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if tags -%}
			<span class="[ flex flex-wrap align-center gap-1 ]">
				{%- labelledInlineIcon "fas:tag", { "aria-label": "Tags" } -%}
				{%- include "tags.njk" -%}
			</span>
		{%- endif -%}
	</div>
</header>
{%- set contentWithoutHtml = content.replace(r/<\/?[a-z0-9]+\b[^>]*>/g, "") -%}
{%- if contentWithoutHtml.length > 3000 -%}
	{%- rollup "src/input/js/table-of-contents.js" | url -%}
	<table-of-contents>
		<nav aria-labelledby="toc-heading" class="[ toc-container ][ content-width ]" data-pagefind-ignore>
			<h2 id="toc-heading">Table of contents</h2>
			{{ content | toc | safe }}
		</nav>
	</table-of-contents>
{%- endif -%}
<article class="[ markdown-container ] [ e-content ] [ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
	{%- if not created and not modified -%}
		{%- md -%}
~~~ callout Heads up this is an old post
This post hasn't been updated a long time, so it might be kinda crusty.
~~~
		{%- endmd -%}
	{%- endif -%}
	{{ content | safe }}
</article>
{%- if backlinks === [] -%}
	<aside class="[ flow content-width ]" data-pagefind-ignore>
		<h2>Backlinks</h2>
		<ul class="[ flow ]">
			{%- for link in backlinks -%}
				<li>
					<details>
						<summary>
							{{ link.title }}
						</summary>
						{{ link.excerpt }} &#8230;
				<br/>
						<a href="{{ link.url }}">Read more <span class="[ visually-hidden ]">about {{ link.title }}</span>
						</a>
					</details>
				</li>
			{%- endfor -%}
		</ul>
	</aside>
{%- endif -%}
<footer class="[ content-footer ][ flow flow-space-setter ]" style="--flow-space-setter: var(--size-8);" data-pagefind-ignore>
	<div class="[ share ]">
		<h2>Share</h2>
		<div>
			{%- rollup "src/input/js/share-button.js" | url -%}
			<share-button></share-button>
			<a href="https://toot.kytta.dev/?text={{ title + " by @elly@front-end.social%0A" + metadata.url + page.url | urlencode }}" class="[ text-decoration-none ]">
				{%- icon "fab:mastodon" -%}
				<span class="[ visually-hidden ]">Share on Mastodon</span>
			</a>
			<a href="https://bsky.app/intent/compose?text={{ title + " by @elly.lol%0A" + metadata.url + page.url | urlencode }}" class="[ text-decoration-none ]">
				{%- icon "fab:bluesky" -%}
				<span class="[ visually-hidden ]">Share on Bluesky</span>
			</a>
		</div>
	</div>
	{# These are flipped because we want next to be newer and prev to be older, the opposite of the collections sorting. #}
	{%- set nextPost = collections.allSortedByDate | getPreviousCollectionItem -%}
	{%- set previousPost = collections.allSortedByDate | getNextCollectionItem -%}
	{%- if previousPost or nextPost -%}
		<nav class="[ post-pagination ]" aria-labelledby="pagination"><p id="pagination" hidden>Pagination</p>
			{%- if previousPost -%}
				<p>
				Previously:
				<br>
					<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
				</p>
			{%- endif -%}
			{%- if nextPost -%}
				<p>
				Next:
				<br>
					<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				</p>
			{%- endif -%}
		</nav>
	{%- endif -%}
	{%- include "webmentions.njk" -%}
</footer>
