---
layout: base-without-header.njk
---
<header style="border-block-end: var(--border-size-1) solid var(--neutral-border); padding-block-end: var(--size-3);">
	{%- include "breadcrumb.njk" -%}
	<h1 class="[ p-name ]">{{ title }}</h1>
	<div class="[ flex gap-3 flex-wrap ]">
		{%- if created -%}
			{%- set date = created -%}
			{%- set label = "Created" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if modified -%}
			{%- set date = modified -%}
			{%- set label = "Last modified" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if not created and not modified -%}
			{%- set date = page.date -%}
			{%- set label = "Last modified" -%}
			{%- include "date.njk" -%}
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if stage -%}
			<span>
				<sl-tooltip content="Stage">
					<sl-icon class="[ icon ]" library="fa" name="fas-{%- if stage === "seedling" -%}seedling{%- elif stage === "budding" -%}spa{%- elif stage === "evergreen" -%}tree{%- elif stage === "draft" -%}file-pen{%- elif stage === "complete" -%}circle-check{%- endif -%}" label="Stage"></sl-icon>
				</sl-tooltip>
				<span class="[ p-category ]">{{ stage | capitalize }}</span>
			</span>
			<span aria-hidden="true">•</span>
		{%- endif -%}
		{%- if tags -%}
			<span class="[ flex align-center gap-1 ]">
				<sl-tooltip content="Tags">
					<sl-icon class="[ icon ]" library="fa" name="fas-tag" label="Tags"></sl-icon>
				</sl-tooltip>
				{%- include "tags.njk" -%}
			</span>
		{%- endif -%}
	</div>
</header>
{%- set contentWithoutHtml = content.replace(r/<\/?[a-z0-9]+\b[^>]*>/g, "") -%}
{%- if contentWithoutHtml.length > 3000 -%}
	<aside class="[ toc-container ][ flow content-width ]" data-pagefind-ignore>
		<details>
			<summary class="[ flex ]">
				<sl-icon class="[ icon ]" library="fa" name="fas-play" label=""></sl-icon>
				<h2>Table of contents</h2>
			</summary>
			{{ content | toc | safe }}
		</details>
	</aside>
{%- endif -%}
<article class="[ markdown-container ] [ e-content ] [ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
	{%- if not created and not modified -%}
		{%- md -%}
~~~ callout Heads up this is an old post
This post hasn't been updated a long time, so it might be kinda crusty.
~~~
		{%- endmd -%}
	{%- endif -%}
	{{ content | safe }}
</article>
{%- if backlinks === [] -%}
	<aside class="[ flow content-width ]" data-pagefind-ignore>
		<h2>Backlinks</h2>
		<ul class="[ flow ]">
			{%- for link in backlinks -%}
				<li>
					<details>
						<summary>
							{{ link.title }}
						</summary>
						{{ link.excerpt }} &#8230;
				<br/>
						<a href="{{ link.url }}">Read more <span class="[ visually-hidden ]">about {{ link.title }}</span>
						</a>
					</details>
				</li>
			{%- endfor -%}
		</ul>
	</aside>
{%- endif -%}
<footer class="[ content-footer ][ flow flow-space-setter ]" style="--flow-space-setter: var(--size-8);" data-pagefind-ignore>
	<div class="[ share ]">
		<p>
			<sl-icon class="[ icon ]" library="fa" name="fas-share-from-square" label=""></sl-icon> Share on <a href='https://toot.kytta.dev/?text="{{ title }}" by @ellyloel@front-end.social {{ metadata.url }}{{ page.url }}' class="[ text-decoration-none move-link-styling-to-child ]">
				<sl-icon class="[ icon ]" library="fa" name="fab-mastodon" label=""></sl-icon>
				<span>Mastodon</span></a>, <a href='https://twitter.com/intent/tweet?url={{ metadata.url }}{{ page.url }}&text="{{ title }}" by @ellyloel' class="[ text-decoration-none move-link-styling-to-child ]">
				<sl-icon class="[ icon ]" library="fa" name="fab-twitter" label=""></sl-icon>
				<span>Twitter</span></a> or <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ metadata.url }}{{ page.url }}" class="[ text-decoration-none move-link-styling-to-child ]">
				<sl-icon class="[ icon ]" library="fa" name="fab-linkedin" label=""></sl-icon>
				<span>LinkedIn</span></a>.
		</p>
	</div>
	{%- set previousPost = collections.allSortedByDate | getPreviousCollectionItem -%}
	{%- set nextPost = collections.allSortedByDate | getNextCollectionItem -%}
	{%- if previousPost or nextPost -%}
		<div class="[ post-pagination ][ flex gap-5 ]">
			{%- if previousPost -%}
				<sl-tooltip content="{{ previousPost.data.title }}">
					<a href="{{ previousPost.url }}" class="[ text-decoration-none move-link-styling-to-child flex align-center gap-1 ]">
						<sl-icon class="[ icon ]" library="fa" name="fas-angle-left" label=""></sl-icon>
						<span>Prev Post</span>
					</a>
				</sl-tooltip>
			{%- endif -%}
			{%- if nextPost -%}
				<sl-tooltip content="{{ nextPost.data.title }}">
					<a href="{{ nextPost.url }}" class="[ text-decoration-none move-link-styling-to-child flex align-center gap-1 ]">
						<span>Next Post</span>
						<sl-icon class="[ icon ]" library="fa" name="fas-angle-right" label=""></sl-icon>
					</a>
				</sl-tooltip>
			{%- endif -%}
		</div>
	{%- endif -%}
	{%- include "webmentions.njk" -%}
</footer>
