---
layout: base-without-header.njk
---
<header class="[ post-head ][ padding-block-end-6 gradient-border ]" data-gradient-border="block-end" data-pagefind-ignore>
	<!-- tabindex fixes focus issue: https://benmyers.dev/blog/skip-links/#tldr -->
	<h1 id="content" tabindex="-1" class="[ p-name ][ line-height-1 margin-0 ]">{{ title }}</h1>
	<div class="[ post-meta ][ margin-block-start-2 ]">
		{%- include "hidden-microformats.njk" -%}
		<div>
			{%- if created -%}
				{%- set date = created -%}
				{%- set label = "Created" -%}
				{%- include "date.njk" -%}
			{%- endif -%}
			{%- if created and modified -%}
				<span aria-hidden="true">•</span>
			{%- endif -%}
			{%- if modified -%}
				{%- set date = modified -%}
				{%- set label = "Modified" -%}
				{%- include "date.njk" -%}
			{%- endif -%}
			{%- if not created and not modified -%}
				{%- set date = "2001-08-16" | dateToISO -%}
				{%- set label = "Modified" -%}
				{%- include "date.njk" -%}
			{%- endif -%}
		</div>
		<div class="[ flex flex-wrap align-center column-gap-2 row-gap-1 margin-block-start-1 ]">
			{%- if tags -%}
				<span class="[ flex flex-wrap align-center gap-1 ]" data-pagefind-meta="tags">
					{%- labelledInlineIcon "fas:tag", { "aria-label": "Tags" } -%}
					{%- include "tags.njk" -%}
				</span>
			{%- endif -%}
		</div>
	</div>
</header>
{%- set headingRegex = r/<h[2-6] id="[a-z\-0-9]*" tabindex="-1">/m -%}
{%- if headingRegex.test(content) -%}
	{%- set contentWithoutHtml = content.replace(r/<\/?[a-z0-9]+\b[^>]*>/g, "") -%}
	{%- if contentWithoutHtml.length > 1000 -%}
		{%- rollup "src/input/js/table-of-contents.js" | url -%}
		<table-of-contents>
			<nav aria-labelledby="toc-heading" class="[ toc-container ][ content-width ]" data-pagefind-ignore>
				<h2 id="toc-heading">Table of contents</h2>
				{{ content | toc | safe }}
			</nav>
		</table-of-contents>
	{%- endif -%}
{%- endif -%}
<article class="[ markdown-container ] [ e-content ] [ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
	{%- if not created and not modified -%}
		{%- md -%}
~~~ callout **Heads up this is an old post**
This post hasn't been updated a long time, so it might be kinda crusty.
~~~
		{%- endmd -%}
	{%- endif -%}
	{% if content | includes("<!-- intro -->") %}
	<div class="[ intro ][ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
		{{ content | split("<!-- intro -->") | first | safe }}
	</div>
	<div class="[ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
		{{ content | split("<!-- intro -->") | last | safe }}
	</div>
	{% else %}
	<div class="[ flow flow-space-setter ]" style="--flow-space-setter: 2em;">
		{{ content | safe }}
	</div>
	{% endif %}
</article>
<footer class="[ content-footer ][ flow flow-space-setter ]" style="--flow-space-setter: var(--size-8);" data-pagefind-ignore>
	<div class="[ share ][ flow flow-space-setter ]">
		<h2>Share</h2>
		<div>
			{%- rollup "src/input/js/share-button.js" | url -%}
			<share-button></share-button>
			<a href="https://toot.kytta.dev/?text={{ title + " by @elly@front-end.social%0D%0A" + metadata.url + page.url | urlencode }}" class="[ text-decoration-none ]">
				{%- icon "fab:mastodon" -%}
				<span class="[ visually-hidden ]">Share on Mastodon</span>
			</a>
			<a href="https://bsky.app/intent/compose?text={{ title + " by @elly.lol%0D%0A" + metadata.url + page.url | urlencode }}" class="[ text-decoration-none ]">
				{%- icon "fab:bluesky" -%}
				<span class="[ visually-hidden ]">Share on Bluesky</span>
			</a>
		</div>
		<details class="[ details-reset ]">
			<summary>Preview image</summary>
			<img eleventy:ignore src="https://api.microlink.io/?url=https%3A%2F%2Fwww.ellyloel.com%2Fog{{ page.url }}&screenshot=true&meta=false&embed=screenshot.url" alt="A background of curved purple lines with the text “{{ title }}” ontop, Elly's logo is in the bottom right corner." loading="lazy" width="2560" height="1600">
		</details>
	</div>
	{# These are flipped because we want next to be newer and prev to be older, the opposite of the collections sorting. #}
	{%- set nextPost = collections.allSortedByDate | getPreviousCollectionItem -%}
	{%- set previousPost = collections.allSortedByDate | getNextCollectionItem -%}
	{%- if previousPost or nextPost -%}
		<nav class="[ post-pagination ]" aria-labelledby="pagination"><p id="pagination" hidden>Pagination</p>
			{%- if previousPost -%}
				<p>
				Previously:
				<br>
					<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
				</p>
			{%- endif -%}
			{%- if nextPost -%}
				<p>
				Next:
				<br>
					<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				</p>
			{%- endif -%}
		</nav>
	{%- endif -%}
	{%- include "backlinks.njk" -%}
	{%- include "webmentions.njk" -%}
</footer>
