---
layout: base
title: Feeds
eleventyNavigation:
  key: Feeds
  order: 3
---

<p>
  If you want to keep up with my posts via a feed, here they are! Provided in the flavour of your liking.
</p>

<div class="[ table-container ]">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>🌱 Digital garden</th>
        <th>📝 Blog</th>
        <th>📌 Bookmarks</th>
        <th>👩🏼‍💻 Projects</th>
        <th>🌐 Everything</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <abbr title="Really Simple Syndication">RSS</abbr>
        </th>
        <td>
          <a href="/notes.rss">
            notes.rss
          </a>
        </td>
        <td>
          <a href="/articles.rss">
            articles.rss
          </a>
        </td>
        <td>
          <a href="/bookmarks.rss">
            bookmarks.rss
          </a>
        </td>
        <td>
          <a href="/projects.rss">
            projects.rss
          </a>
        </td>
        <td>
          <a href="/feed.rss">
            feed.rss
          </a>
        </td>
      </tr>
      <tr>
        <th>Atom</th>
        <td>
          <a href="/notes.atom">
            notes.atom
          </a>
        </td>
        <td>
          <a href="/articles.atom">
            articles.atom
          </a>
        </td>
        <td>
          <a href="/bookmarks.atom">
            bookmarks.atom
          </a>
        </td>
        <td>
          <a href="/projects.atom">
            projects.atom
          </a>
        </td>
        <td>
          <a href="/feed.atom">
            feed.atom
          </a>
        </td>
      </tr>
      <tr>
        <th>
          <abbr title="JavaScript Object Notation">JSON</abbr>
        </th>
        <td>
          <a href="/notes.json">
            notes.json
          </a>
        </td>
        <td>
          <a href="/articles.json">
            articles.json
          </a>
        </td>
        <td>
          <a href="/bookmarks.json">
            bookmarks.json
          </a>
        </td>
        <td>
          <a href="/projects.json">
            projects.json
          </a>
        </td>
        <td>
          <a href="/feed.json">
            feed.json
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>