---
permalink: "/bookmarks.atom"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ '/bookmarks.atom' | absoluteUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ bookmarks.newestItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for bookmark in bookmarks.items %}
		<entry>
			<title>{{ bookmark.title }}</title>
			<link href="{{ bookmark.link }}"/>
			<published>{{ bookmark.created | dateObj | dateToRfc3339 }}</published>
			{%- if bookmark.lastUpdate -%}
				<updated>{{ bookmark.lastUpdate | dateObj | dateToRfc3339 }}</updated>
			{%- endif -%}
			<id>{{ bookmark.link }}</id>
			<content xml:lang="{{ metadata.lang }}" type="html">{{ bookmark.excerpt }}</content>
		</entry>
	{%- endfor %}
</feed>