---json
{
  "permalink": "/public/bookmarks.rss",
  "eleventyExcludeFromCollections": true,
  "site": {
    "title": "Elly Loel",
    "description": "This is my own lovely little corner of the internet. Look forward to plenty of interesting ideas & projects.",
    "lang": "en",
    "url": "https://ellyloel.com/",
    "author": {
      "name": "Elly Loel",
      "email": "hello@ellyloel.com",
    	"url": "https://ellyloel.com/about/"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ site.title }}</title>
		<link>{{ site.url }}</link>
		<atom:link href="{{ '/bookmarks.rss' | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml"/>
		<description>{{ site.description }}</description>
		<language>{{ site.lang }}</language>
		{%- for post in collections.bookmarks | reverse %}
			{%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
			<item>
				<title>{{ post.data.title }}</title>
				<link>{{ absolutePostUrl }}</link>
				<description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
				<pubDate>{{ post.date | dateToRfc822 }}</pubDate>
				<dc:creator>{{ site.author.name }}</dc:creator>
				<guid>{{ absolutePostUrl }}</guid>
			</item>
		{%- endfor %}
	</channel>
</rss>