---
  permalink: /public/notes.atom
  eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
	<title>{{ site.title }}</title>
	<subtitle>{{ site.description }}</subtitle>
	<link href="{{ '/notes.atom' | absoluteUrl(site.url) }}" rel="self"/>
	<link href="{{ site.url }}"/>
	<updated>{{ collections.garden | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site.url }}</id>
	<author>
		<name>{{ site.author.name }}</name>
		<email>{{ site.author.email }}</email>
	</author>
	{%- for post in collections.garden | reverse %}
		{%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.date | dateToRfc3339 }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content xml:lang="{{ site.lang }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
		</entry>
	{%- endfor %}
</feed>