---
layout: post
tags:
  - Bookmarks
pagination:
  data: bookmarks.items
  size: 1
  alias: bookmark
  addAllPagesToCollections: true
permalink: "{{ bookmark.title | slugify }}/"
---

{%- if bookmark.note -%}
	{{ bookmark.note | md | safe }}
{%- endif -%}

{%- if bookmark.excerpt -%}
	{{ bookmark.excerpt | md | safe }}
{%- endif -%}

{%- if bookmark.highlights -%}
	{%- for highlight in bookmark.highlights -%}
		{%- if highlight -%}
			<blockquote>
				{{ highlight | nl2br | replace(r/(<br \/>\n)+/gm, "<br><br>") | safe }}
			</blockquote>
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}

{%- if bookmark.tags | includes("YouTube") -%}
	{%- rollup "src/input/js/lite-youtube.js" | url -%}
	{% set videoTitle = bookmark.title %}
	{% set videoId = bookmark.link | getYouTubeId %}
	{% include "youtube.njk" %}
{%- else -%}
	<a href="{{ bookmark.link }}" class="[ u-bookmark-of h-cite ] [ flex flex-col gap-1 padding-2 ]">
		{%- if bookmark.type === "article" -%}
			<h2>Read article</h2>
		{%- elif bookmark.type === "video" or bookmark.tags | includes("YouTube") -%}
			<h2>Watch video</h2>
		{%- else -%}
			<h2>View link</h2>
		{%- endif -%}
		<picture>
			<source media="(prefers-color-scheme: dark)" srcset="https://api.microlink.io?url={{ bookmark.link }}&screenshot=true&colorScheme=dark&meta=false&embed=screenshot.url">
			<source media="(prefers-color-scheme: light)" srcset="https://api.microlink.io?url={{ bookmark.link }}&screenshot=true&colorScheme=light&meta=false&embed=screenshot.url">
			<img eleventy:ignore alt="" class="[ u-photo ] [ image ]" src="https://api.microlink.io?url={{ bookmark.link }}&screenshot=true&meta=false&embed=screenshot.url" width="649" height="406">
		</picture>
	</a>
{%- endif -%}
