---
permalink: "sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
	{%- if not page.data.excludeFromSitemap and page.url %}
	<url>
		<loc>{{ page.url | url | absoluteUrl(metadata.url) }}</loc>
		<lastmod>{{ page.date | dateToISO }}</lastmod>
	</url>
	{%- endif -%}
{%- endfor -%}
</urlset>
