---
permalink: "manifest.webmanifest"
---
{
	"lang": "{{ metadata.lang }}",
	"dir": "ltr",
	"name": "{{ metadata.title }}",
	"short_name": "{{ metadata.short_name }}",
	"id": "/?source=pwa",
  "start_url": "/?source=pwa",
	"scope": "/",
	"display": "standalone",
	"orientation": "natural",
	"description": "{{ metadata.description }}",
	"icons": [
		{
			"src": "/assets/img/icons/icon-192.png",
			"type": "image/png",
			"sizes": "192x192"
		},
		{
			"src": "/assets/img/icons/icon-512.png",
			"type": "image/png",
			"sizes": "512x512"
		}
	]
}
