---
layout: base
title: Archive
eleventyNavigation:
  key: Archive
  parent: Writing
  order: 4
eleventyImport:
  collections: ["allSortedByDate"]
---

<a href="#feed" class="[ visually-hidden ]">Skip to posts</a>

<div>
	{%- md -%}
	This is an archive of all my different posts, also avaliable in your favourite flavour of feed [RSS](/feed.rss), [Atom](/feed.atom) or [JSON](/feed.json).
	{%- endmd -%}
</div>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- set posts = collections.allSortedByDate -%}

{# {%- set draftCount = 0 -%}
{%- set completeCount = 0 -%}

{%- for post in posts -%}
  {%- if post.data.stage === "draft" -%}
    {%- set draftCount = draftCount + 1 -%}
  {%- elif post.data.stage === "complete" -%}
    {%- set completeCount = completeCount + 1 -%}
  {%- endif -%}
{%- endfor -%} #}

<ul id="feed" class="[ feed ] [ h-feed ]">
	{%- for post in posts %}
		{%- if post.data.stage -%}
			{%- set stage = post.data.stage -%}
		{%- endif -%}
		{%- set title = post.data.title -%}
		{%- set url = post.url -%}
		{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
		{%- if post.data.image -%}
			{%- setAsync "imageMarkup" -%}
			{%- image post.data.image, "" -%}
			{%- endsetAsync -%}
		{%- endif -%}
		{# {%- set body = post.data.page.excerpt -%} #}
		{%- set date = post.data.date -%}
		{%- set label = "" -%}
		{%- if post.data.modified -%}
			{%- set label = "Last modified" -%}
		{%- elif post.data.created -%}
			{%- set label = "Created" -%}
		{%- endif -%}
		{%- set tags = post.data.tags -%}
		{%- include "feedItem.njk" -%}
	{%- endfor %}
</ul>
