---
layout: base
title: Bookmarks
eleventyNavigation:
  key: Bookmarks
  order: 4
eleventyImport:
  collections: ["bookmarks"]
---

<a href="#feed" class="[ visually-hidden ]">Skip to bookmarks</a>

<div>
	{%- md -%}
	These are [my public raindrop.io bookmarks](https://raindrop.io/ellyloel/public-33237518), also avaliable in your favourite flavour of feed [RSS](/bookmarks.rss), [Atom](/bookmarks.atom) or [JSON](/bookmarks.json).{.p-summary}
	{%- endmd -%}
</div>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- include "crazy-filter.njk" -%}

<ul id="feed" class="[ feed ]">
	{%- for bookmark in bookmarks.items -%}
		{%- set title = bookmark.title -%}
		{%- set url = "./" + bookmark.title | slugify + "/" -%}
		{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
		{%- if bookmark.image -%}
			{%- setAsync "imageMarkup" -%}
			<svg viewBox="0 0 200 150" width="200" height="150">
				{%- set randomNumber -%}{%- random 0, 1 -%}{%- endset -%}
				<image class="image" xlink:href="{{ bookmark.image }}" x="-50%" y="-50%" width="200%" height="200%" filter="url(#filter)" opacity="0.65" style="transform: rotate({{ randomNumber | round(3) }}turn); transform-origin: center;"></image>
			</svg>
			{%- endsetAsync -%}
		{%- endif -%}
		{%- set created = bookmark.created -%}
		{%- set modified = bookmark.modified -%}
		{%- set tags = bookmark.tags -%}
		{%- include "feedItem.njk" -%}
	{%- endfor -%}
</ul>
