---
layout: base
title: Feeds
eleventyNavigation:
  key: Feeds
  parent: Garden
  order: 1
---

{%- md -%}
If you want to keep up with my posts via a feed, here they are! Provided in the flavour of your liking.

If you don't already have a feed reader, I'd recommend [Feedbin](https://feedbin.com/home) with any of these [great apps](https://feedbin.com/apps) or check out the [comparison of feed aggregators](https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators) page on Wikipedia.

Also, you should [learn how to setup your own feed(s)](https://www.mnot.net/rss/tutorial/).
{%- endmd -%}

<div class="[ table-container ]">
	<table>
		<thead>
			<tr>
				<th></th>
				<th style="font-size: var(--font-size-4);">
					<a href="https://www.rssboard.org/rss-specification" class="[ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fas:rss" -%}
						<span>RSS</span>
					</a>
				</th>
				<th style="font-size: var(--font-size-4);">
					<a href="https://www.rfc-editor.org/rfc/rfc4287.html" class="[ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "local:Atom" -%}
						<span>Atom</span>
					</a>
				</th>
				<th style="font-size: var(--font-size-4);">
					<a href="https://www.jsonfeed.org/" class="[ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "local:JSON Feed" -%}
						<span>JSON</span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					<a href="/garden/">Digital garden</a>
				</th>
				<td>
					<a href="">notes.rss</a>
				</td>
				<td>
					<a href="">notes.atom</a>
				</td>
				<td>
					<a href="">notes.json</a>
				</td>
			</tr>
			<tr>
				<th>
					<a href="/blog/">Blog</a>
				</th>
				<td>
					<a href="/articles.rss">articles.rss</a>
				</td>
				<td>
					<a href="/articles.atom">articles.atom</a>
				</td>
				<td>
					<a href="/articles.json">articles.json</a>
				</td>
			</tr>
			<tr>
				<th>
					<a href="/bookmarks/">Bookmarks</a>
				</th>
				<td>
					<a href="/bookmarks.rss">bookmarks.rss</a>
				</td>
				<td>
					<a href="/bookmarks.atom">bookmarks.atom</a>
				</td>
				<td>
					<a href="/bookmarks.json">bookmarks.json</a>
				</td>
			</tr>
			<tr>
				<th>
					<a href="/projects/">Projects</a>
				</th>
				<td>
					<a href="/projects.rss">projects.rss</a>
				</td>
				<td>
					<a href="/projects.atom">projects.atom</a>
				</td>
				<td>
					<a href="/projects.json">projects.json</a>
				</td>
			</tr>
			<tr>
				<th>
					<a href="/archive/">Everything</a>
				</th>
				<td>
					<a href="/feed.rss">feed.rss</a>
				</td>
				<td>
					<a href="/feed.atom">feed.atom</a>
				</td>
				<td>
					<a href="/feed.json">feed.json</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% include "newsletter.njk" %}