---
layout: base
title: Digital garden
permalink: "garden/"
eleventyNavigation:
  key: Digital garden
  parent: Writing
  order: 1
eleventyImport:
  collections: ["garden"]
---

<a href="#feed" class="[ visually-hidden ]">Skip to notes</a>

<div>
	{%- md -%}
	This is a collection of ideas that I'm nurturing out in the open. The notes range from seedlings, which are fresh out of my mind, to budding, which are developing into something a bit more fleshed out, to evergreen, which are polished ideas. They're also avaliable in your favourite flavour of feed [RSS](/notes.rss), [Atom](/notes.atom) or [JSON](/notes.json).{.p-summary}
	{%- endmd -%}
</div>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- include "crazy-filter.njk" -%}

{%- set notes = collections.GardenSortedByDate -%}
<ul id="feed" class="[ feed ]" tabindex="-1">
	{%- for note in notes -%}
		{%- if note.data.archived !== true -%}
			{%- if note.data.stage -%}
				{%- set stage = note.data.stage -%}
			{%- endif -%}
			{%- set title = note.data.title -%}
			{%- set url = note.url -%}
			{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
			{%- if note.data.image -%}
				{%- setAsync "imageMarkup" -%}
				<svg viewBox="0 0 200 150" width="200" height="150">
					{%- set randomNumber -%}{%- random 0, 1 -%}{%- endset -%}
					<image class="image" xlink:href="https://res.cloudinary.com/ellyloel/image/fetch/f_auto/q_auto:low/c_fill,h_150,w_200/{{ note.data.image }}" x="-50%" y="-50%" width="200%" height="200%" filter="url(#filter)" opacity="0.65" style="transform: rotate({{ randomNumber | round(3) }}turn); transform-origin: center;"></image>
				</svg>
				{%- endsetAsync -%}
			{%- endif -%}
			{%- set date = note.data.date -%}
			{%- set label = "" -%}
			{%- if note.data.modified -%}
				{%- set label = "Last modified" -%}
			{%- elif note.data.created -%}
				{%- set label = "Created" -%}
			{%- endif -%}
			{%- set tags = note.data.tags -%}
			{%- include "feedItem.njk" -%}
		{%- endif -%}
	{%- endfor -%}
</ul>
