---
layout: base
title: Digital garden
permalink: "garden/"
eleventyNavigation:
  key: Digital garden
  parent: Writing
  order: 1
eleventyImport:
  collections: ["garden"]
---

<p>A collection of my ideas that I'm nurturing out in the open. The notes range from seedlings, which are fresh out of my mind, to budding, which are developing, to evergreen, which are polished ideas.</p>

<h2>
  Feeds
</h2>
<ul>
	<li>
		<a href="/notes.rss">
			<abbr title="Really Simple Syndication">RSS</abbr>
		</a>
	</li>
	<li>
		<a href="/notes.atom">Atom</a>
	</li>
	<li>
		<a href="/notes.json">
			<abbr title="JavaScript Object Notation">JSON</abbr>
		</a>
	</li>
</ul>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- set notes = collections.GardenSortedByDate -%}

{# {%- set seedlingCount = 0 -%}
{%- set buddingCount = 0 -%}
{%- set evergreenCount = 0 -%}

{%- for note in notes -%}
	{%- if note.data.stage === "seedling" -%}
		{%- set seedlingCount = seedlingCount + 1 -%}
	{%- elif note.data.stage === "budding" -%}
		{%- set buddingCount = buddingCount + 1 -%}
	{%- elif note.data.stage === "evergreen" -%}
		{%- set evergreenCount = evergreenCount + 1 -%}
	{%- endif -%}
{%- endfor -%} #}

<ul class="[ feed ]">
	{%- for note in notes -%}
		{%- if note.data.archived !== true -%}
			{%- if note.data.stage -%}
				{%- set stage = note.data.stage -%}
			{%- endif -%}
			{%- set title = note.data.title -%}
			{%- set url = note.url -%}
			{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
			{%- if note.data.image -%}
				{%- setAsync "imageMarkup" -%}
				{%- image note.data.image, "" -%}
				{%- endsetAsync -%}
			{%- endif -%}
			{# {%- set body = note.data.page.excerpt -%} #}
			{%- set date = note.data.date -%}
			{%- set label = "" -%}
			{%- if note.data.modified -%}
				{%- set label = "Last modified" -%}
			{%- elif note.data.created -%}
				{%- set label = "Created" -%}
			{%- endif -%}
			{%- set tags = note.data.tags -%}
			{%- include "feedItem.njk" -%}
		{%- endif -%}
	{%- endfor -%}
</ul>