---
layout: base
title: Garden
eleventyNavigation:
  key: Garden
  order: 1
eleventyImport:
  collections: ["Garden"]
---

<a href="#feed" class="[ visually-hidden ]">Skip to posts</a>

<div class="[ p-summary ][ flow ]">
	{%- md -%}
	Seedlings are fresh out of my mind, budding I have come back to and updated at least once, and evergreen I likely won't be updating anymore.

	For a more thorough explanation of what a digital garden is, I'd recommend [Maggie Appleton's wonderful essay](https://maggieappleton.com/garden-history).

	Also avaliable in your favourite flavour of feed [RSS](/feed.rss), [Atom](/feed.atom) or [JSON](/feed.json).
	{%- endmd -%}
</div>

<h2>Linked posts graph</h2>
<div id="graph"></div>

<form class="[ garden-filters ]" hidden>
	<h2>Filters</h2>
	<div class="[ flow ]">
		{%- macro renderFilterButton(id, name, label) %}
			<button 
				type="button"
				id="filters-{{ id }}"
				class="[ badge ]"
				aria-pressed="false"
				data-filter-name="{{ name }}"
			>{{ label }}</button>
		{%- endmacro -%}

		<fieldset>
			<legend>
				<button type="button" aria-expanded="false" aria-controls="fieldset-stage-content">
					Stage {% inlineIcon "fas:chevron-down" %}
				</button>
			</legend>
			<div id="fieldset-stage-content" hidden="until-found">
				{{ renderFilterButton("seedling", "Stage", "Seedling") }}
				{{ renderFilterButton("budding", "Stage", "Budding") }}
				{{ renderFilterButton("evergreen", "Stage", "Evergreen") }}
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<button type="button" aria-expanded="false" aria-controls="fieldset-type-content">
					Type {% inlineIcon "fas:chevron-down" %}
				</button>
			</legend>
			<div id="fieldset-type-content" hidden="until-found">
				{{ renderFilterButton("essays", "Type", "Essays") }}
				{{ renderFilterButton("notes", "Type", "Notes") }}
				{{ renderFilterButton("microposts", "Type", "Microposts") }}
				{{ renderFilterButton("bookmarks", "Type", "Bookmarks") }}
				{{ renderFilterButton("projects", "Type", "Projects") }}
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<button type="button" aria-expanded="false" aria-controls="fieldset-tags-content">
					Tags {% inlineIcon "fas:chevron-down" %}
				</button>
			</legend>
			<div id="fieldset-tags-content" hidden="until-found">
				{%- for tag in collections | objKeys | reject("equalto", "Seedling") | reject("equalto", "Budding") | reject("equalto", "Evergreen") | reject("equalto", "Essays") | reject("equalto", "Notes") | reject("equalto", "Microposts") | reject("equalto", "Bookmarks") | reject("equalto", "Projects") | reject("equalto", "Garden") | reject("equalto", "all") | reject("equalto", "allSortedByDate") | reject("equalto", "EssaysSortedByDate") | reject("equalto", "BookmarksSortedByDate") | reject("equalto", "GardenSortedByDate") | reject("equalto", "ProjectsSortedByDate") | reject("equalto", "notBookmarksSortedByDate") | reject("equalto", "postsSortedByDate") -%}
					{{ renderFilterButton(tag | lower, "Tags", tag) }}
				{%- endfor -%}
			</div>
		</fieldset>
	</div>
</form>

{%- include "crazy-filter.njk" -%}
{%- set posts = collections.allSortedByDate -%}
<ul id="feed" class="[ feed ]" tabindex="-1">
	{%- for post in posts %}
		{%- if post.data.archived !== true -%}
			{%- set title = post.data.title -%}
			{%- set url = post.url -%}
			{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
			{%- if post.data.image -%}
				{%- setAsync "imageMarkup" -%}
				<svg viewBox="0 0 200 150" width="200" height="150">
					{%- set randomNumber -%}{%- random 0, 1 -%}{%- endset -%}
					<image class="image" xlink:href="https://res.cloudinary.com/ellyloel/image/fetch/f_auto/q_auto:low/c_fill,h_150,w_200/{{ post.data.image }}" x="-50%" y="-50%" width="200%" height="200%" filter="url(#filter)" opacity="0.65" style="transform: rotate({{ randomNumber | round(3) }}turn); transform-origin: center;"></image>
				</svg>
				{%- endsetAsync -%}
			{%- endif -%}
			{%- set date = post.data.date -%}
			{%- set label = "" -%}
			{%- if post.data.modified -%}
				{%- set label = "Modified" -%}
			{%- elif post.data.created -%}
				{%- set label = "Created" -%}
			{%- endif -%}
			{%- set tags = post.data.tags -%}
			{%- set exclude = "Garden" -%}
			{%- include "feedItem.njk" -%}
		{%- endif -%}
	{%- endfor %}
</ul>
