---
layout: base-without-header
title: Home
description: Hi, I’m Elly. I like creating delightful, magical, and accessible art with code.
permalink: "/"
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["allSortedByDate"]
---

<div class="[ home ]">
	<header class="[ hero ]">
		<h1>
			<span class="[ p-note ] [ visually-hidden ]">Hi, I'm Elly. I like creating delightful, magical, and accessible art with code.</span>
			<span class="[ detitlify ]" aria-hidden="true">
				Hi, I’m <span class="[ logo-inline ]">{% icon "local:elly" %}</span>
			</span>
			<span aria-hidden="true">I like creating <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">delightful</span>, <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">magical</span>, and <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">accessible</span> art with code<span style="color: var(--accent-solid);">.</span></span>
		</h1>
		<div id="lego" class="[ lego-container ]">
			<is-land on:interaction="click,focusin">
				<template data-island>
					{%- rollup "src/input/js/model-viewer.js" | url -%}
					<script type="module">
						customElements
							.whenDefined("model-viewer")
							.then(() => {
								const modelViewer = document
									?.querySelector("model-viewer");
								modelViewer.onblur = function () {
									modelViewer.removeAttribute("tabindex");
								};
							});
					</script>
				</template>
				<model-viewer tabindex="0" loading="eager" alt="A 3D modeled Lego Minifigure designed to look like myself." src="/assets/3d/me.glb" camera-controls disable-pan disable-zoom shadow-intensity="0" exposure="0.75" shadow-softness="1" camera-orbit="31.49deg 78.9deg 98.24m" field-of-view="30deg">
					<img id="poster" src="/assets/img/poster.webp" alt="A 3D modeled Lego Minifigure designed to look like myself.">
					<div class="progress-bar" slot="progress-bar"></div>
				</model-viewer>
			</is-land>
		</div>
	</header>

	<article class="[ about ][ flow ]">
		<img class="[ u-photo ]" src="/assets/img/pfp.jpg" alt='A digital drawing of me a white woman with blonde hair, smiling and doing a peace sign, wearing a white "golf le fleur" jumper.' hidden loading="lazy" decoding="async" width="723" height="723">
		<ul role="list" class="[ p-note ] [ flow ]">
			<li>
				<details-utils animate>
					<details class="[ interest-list ]">
						<summary>I'm a <span class="[ p-role ]">front-end developer/designer and accessibility specialist</span> with a strong interest in and passion for...</summary>
						<ul role="list" class="[ flow ]">
							<li>
								{%- inlineIcon "fas:code" -%}
								Web Standards
								<ul role="list" class="[ flow margin-block-start-3 ]">
									<li>
										{%- inlineIcon "fab:html5" -%}
										HTML
									</li>
									<li>
										{%- inlineIcon "fab:css3-alt" -%}
										CSS
									</li>
									<li>
										{%- inlineIcon "fas:book" -%}
										WCAG
									</li>
									<li>
										{%- inlineIcon "fas:pen-nib" -%}
										SVG
									</li>
									<li>
										{%- inlineIcon "fas:diagram-project" -%}
										ARIA
									</li>
									<li>
										{%- inlineIcon "fas:cube" -%}
										Web Components
									</li>
								</ul>
							</li>
							<li>
								{%- inlineIcon "fas:universal-access" -%}
								Accessibility
							</li>
							<li>
								{%- inlineIcon "fas:cubes" -%}
								Design Systems
							</li>
							<li>
								{%- inlineIcon "fas:gears" -%}
								Design Tokens
							</li>
						</ul>
					</details>
				</details-utils>
			</li>
			<li>
				{% emoji "🏳️‍⚧️" %} I'm an incredibly <span class="[ p-category ]">queer</span> <span class="[ p-category ]">trans</span> <span class="[ p-gender-identity ]">woman</span>. My pronouns are <a href="https://en.pronouns.page/@ellyloel" class="[ p-pronouns ]"><span class="[ p-pronoun ]">she</span>/<span class="[ p-pronoun ]">her</span></a>.
			</li>
			<li>
				{% emoji "🧠" %} I'm an <span class="[ p-category ]">AuDHD</span> (<span class="[ p-category ]">autistic</span> and <span class="[ p-category ]">ADHD</span>) <span class="[ p-category ]">neurodivergent</span>.
			</li>
			<li>
				{% emoji "🐈‍⬛" %} I have a little rascal of a cat named <a href="/lulu">Lulu</a>, who I love to bits.
			</li>
			<li>
				{% emoji "📺" %} I love all kinds of animation (anime, cartoons, etc.).
			</li>
			<li>
				{% emoji "🌏" %} I live on the edge of Bunurong and Wurundjeri Country, near <span class="[ p-locality ]">Naarm (Melbourne</span>, <span class="[ p-country-name ]">Australia</span>).
			</li>
			<li class="[ spotify-playing ]">
				{% emoji "🎵" %} The last song I listened to was "<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="song">Never Gonna Give You Up</a>" by <em class="artist">Rick Astley</em>.
			</li>
		</ul>
		<div class="[ flow ]">
			<h2>Find me on:</h2>
			<ul class="[ social-links ][ flow ]">
				<li>
					<a href="https://elly.to/ama" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "far:circle-question" -%}
						<span>Ask me anything</span>
					</a>
				</li>
				<li>
					<a href="https://front-end.social/@elly" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fab:mastodon" -%}
						<span>Mastodon</span>
					</a>
				</li>
				<li>
					<a href="https://bsky.app/profile/elly.lol" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fab:bluesky" -%}
						<span>Bluesky</span>
					</a>
				</li>
				<li>
					<a href="https://elly.to/linkedin" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fab:linkedin" -%}
						<span>LinkedIn</span>
					</a>
				</li>
				<li>
					<a href="https://elly.to/github" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fab:github" -%}
						<span>GitHub</span>
					</a>
				</li>
				<li>
					<a href="https://elly.to/codepen" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
						{%- inlineIcon "fab:codepen" -%}
						<span>Codepen</span>
					</a>
				</li>
				<li>
					<details>
						<summary>More links</summary>
						<ul class="[ flow ]">
							<li>
								<a href="https://www.threads.net/@ellyloel" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
									{%- inlineIcon "local:Threads" -%}
									<span>Threads</span> <small>(don't use)</small>
								</a>
							</li>
							<li>
								<a href="https://instagram.com/elly.louise.loel" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
									{%- inlineIcon "fab:instagram" -%}
									<span>Private Instagram</span> <small>(kinda use)</small>
								</a>
							</li>
							<li>
								<a href="https://instagram.com/ellyloel" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
									{%- inlineIcon "fab:instagram" -%}
									<span>Public Instagram</span> <small>(don't use)</small>
								</a>
							</li>
							<li>
								<a href="https://tumblr.com/ellyloel" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
									{%- inlineIcon "fab:tumblr" -%}
									<span>Tumblr</span> <small>(kinda use)</small>
								</a>
							</li>
							<li>
								<a href="https://twitter.ellyloel.com" rel="me" class="[ u-url ][ link-icon-start text-decoration-none move-link-styling-to-child ]">
									{%- inlineIcon "fab:twitter" -%}
									<del datetime="2022-11-18" cite="https://twitter.ellyloel.com/1593505830347100160/"><span>Twitter</span></del> <small>(archive)</small>
								</a>
							</li>
						</ul>
					</details>
				</li>
			</ul>
		</div>
	</article>

	{%- include "crazy-filter.njk" -%}

	{%- feedBlock title = "Recent posts" -%}
	{%- set recentPosts = collections.allSortedByDate | limit(10) -%}
	{%- for post in recentPosts -%}
		{%- set headingLevel = 3 -%}
		{%- if post.data.stage -%}
			{%- set stage = post.data.stage -%}
		{%- endif -%}
		{%- set title = post.data.title -%}
		{%- set url = post.url -%}
		{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
		{%- if post.data.image -%}
			{%- setAsync "imageMarkup" -%}
			<svg viewBox="0 0 200 150" width="200" height="150">
				{%- set randomNumber -%}{%- random 0, 1 -%}{%- endset -%}
				<image class="image" xlink:href="https://res.cloudinary.com/ellyloel/image/fetch/f_auto/q_auto:low/c_fill,h_150,w_200/{{ post.data.image }}" x="-50%" y="-50%" width="200%" height="200%" filter="url(#filter)" opacity="0.65" style="transform: rotate({{ randomNumber | round(3) }}turn); transform-origin: center;"></image>
			</svg>
			{%- endsetAsync -%}
		{%- endif -%}
		{%- set date = post.data.date -%}
		{%- set label = "" -%}
		{%- if post.data.modified -%}
			{%- set label = "Last modified" -%}
		{%- elif post.data.created -%}
			{%- set label = "Created" -%}
		{%- endif -%}
		{%- set tags = post.data.tags -%}
		{%- include "feedItem.njk" -%}
	{%- endfor -%}
	{%- endfeedBlock -%}
</div>
