---
layout: base
title: Projects
eleventyNavigation:
  key: Projects
  order: 5
navToHtmlOptions:
  showExcerpt: true
eleventyImport:
  collections: ["projects"]
---

<a href="#feed" class="[ visually-hidden ]">Skip to projects</a>

<div>
	{%- md -%}
	This is a collection of projects I've started, and probably not finished {% emoji "😅",
	"Whoops!" %}. They're also avaliable in your favourite flavour of feed [RSS](/projects.rss), [Atom](/projects.atom) or [JSON](/projects.json).{.p-summary}
	{%- endmd -%}
</div>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- include "crazy-filter.njk" -%}

{% set projects = collections.ProjectsSortedByDate %}
<ul id="feed" class="[ feed ]">
	{%- for project in projects %}
		{%- set title = project.data.title -%}
		{%- set url = project.url -%}
		{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
		{%- if project.data.image -%}
			{%- setAsync "imageMarkup" -%}
			<svg viewBox="0 0 200 150" width="200" height="150">
				{%- set randomNumber -%}{%- random 0, 1 -%}{%- endset -%}
				<image class="image" xlink:href="{{ project.data.image }}" x="-50%" y="-50%" width="200%" height="200%" filter="url(#filter)" opacity="0.65" style="transform: rotate({{ randomNumber | round(3) }}turn); transform-origin: center;"></image>
			</svg>
			{%- endsetAsync -%}
		{%- endif -%}
		{%- set date = project.data.date -%}
		{%- set label = "" -%}
		{%- if project.data.modified -%}
			{%- set label = "Last modified" -%}
		{%- elif project.data.created -%}
			{%- set label = "Created" -%}
		{%- endif -%}
		{%- set tags = project.data.tags -%}
		{%- include "feedItem.njk" -%}
	{%- endfor %}
</ul>
