---
layout: base
title: Search
---

<form action="https://duckduckgo.com/" method="get" id="search" role="search" class="[ search ]" autocomplete="off" novalidate>
	<div class="[ flex flex-wrap gap-2 align-center ]">
		<div>
			<input type="text" name="q" id="search-input" class="[ search-input ]" aria-labelledby="search-button" enterkeyhint="search" autofocus>
			<input type="hidden" name="sites" value="www.ellyloel.com">
		</div>
		<button type="submit" id="search-button">
			{%- icon "fas:magnifying-glass" -%}
			<span class="[ visually-hidden ]">Search</span>
		</button>
	</div>
	<p>
		<small>
			Search provided by <is-land><a href="https://duckduckgo.com/">DuckDuckGo</a><template data-island="replace"><a href="https://pagefind.app/">Pagefind</a></template></is-land>.
		</small>
	</p>
</form>
<div id="search-results" class="[ search-results ][ flow ]" hidden>
	<h2 id="search-results-count" aria-live="polite">results</h2>
	<ol id="search-results-list" class="[ search-results-list ][ flow ]"></ol>
</div>
