---
permalink: "styles.xsl"
---
<xsl:stylesheet version="3.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:atom="http://www.w3.org/2005/Atom">
	<xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
	<xsl:template match="/">
		<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
			<head>
				<meta charset="utf-8"/>
				<meta name="viewport" content="width=device-width, initial-scale=1"/>
				<title>
					<xsl:variable name="feedLink">
						<xsl:value-of select="/rss/channel/atom:link/@href"/>
						<xsl:value-of select="/atom:feed/atom:link[1]/@href"/>
					</xsl:variable>
					<xsl:choose>
						<xsl:when test="contains($feedLink, '/not-bookmarks')">Everything but bookmarks </xsl:when>
						<xsl:when test="contains($feedLink, '/bookmarks')">Bookmarks </xsl:when>
					</xsl:choose>
					<xsl:choose>
						<xsl:when test="/rss">RSS</xsl:when>
						<xsl:when test="/atom:feed">Atom</xsl:when>
					</xsl:choose>
					Feed Preview - Elly Loel
				</title>

				<link rel="stylesheet" href="/css/style.css"/>
				{# {%- include "init-settings.njk" -%} #}
				{%- rollup "src/input/js/main.js" | url -%}
				{%- set countPath = "src/input/js/count.js" | url -%}
				{%- rollup countPath, { "data-goatcounter": "https://ellyloel.goatcounter.com/count" } -%}

				{# Meta #}
				{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
				{%- set ogTitle = "Web Feed" -%}
				{%- set ogAlt = "A background of curved purple lines with the text “{{ title }}” ontop, Elly's logo is in the bottom right corner." -%}
				{%- set ogUrl -%}https://api.microlink.io/?url=https%3A%2F%2Fwww.ellyloel.com%2Fog{{ page.url }}&screenshot=true&meta=false&embed=screenshot.url{%- endset -%}

				{#- General -#}
				<link rel="canonical" href="{{ canonical }}"/>
				<meta name="author" content="{{ metadata.author.name }}"/>
				<meta name="generator" content="{{ eleventy.generator }}"/>

				{#- Style -#}
				<meta name="color-scheme" content="light dark"/>
				<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f9f9f9"/>
				<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111"/>

				{#- Open Graph -#}
				<meta property="og:site_name" content="{{ metadata.title }}"/>
				<meta property="og:title" content="{{ ogTitle }}"/>
				<meta property="og:description" content="{{ desc }}"/>
				<meta property="og:url" content="{{ absolutePageUrl }}"/>
				<meta property="og:locale" content="{{ metadata.locale }}"/>
				<meta name="twitter:card" content="summary_large_image"/>
				<meta property="twitter:image" content="{{ ogUrl }}"/>
				<meta property="og:image" content="{{ ogUrl }}"/>
				<meta name="og:image" content="{{ ogUrl }}"/>
				<meta name="og:image:secure_url" content="{{ ogUrl }}"/>
				<meta property="og:image:alt" content="{{ ogAlt}}"/>
				<meta name="fediverse:creator" content="@elly@front-end.social"/>

				{#- Icons -#}
				<link rel="icon" href="/assets/img/icons/favicon.ico" sizes="any"/>
				<link rel="icon" href="/assets/img/icons/favicon.svg" type="image/svg+xml"/>
				<link rel="apple-touch-icon" href="/assets/img/icons/apple-touch-icon.png"/>
				<link rel="manifest" href="/manifest.webmanifest"/>

				{#- RSS Feed -#}
				<link type="application/atom+xml" rel="alternate" href="{{ metadata.url }}/feed.atom" title="{{ metadata.title }}"/>
				<link type="application/rss+xml" rel="alternate" href="{{ metadata.url }}/feed.rss" title="{{ metadata.title }}"/>
				<link type="application/json" rel="alternate" href="{{ metadata.url }}/feed.json" title="{{ metadata.title }}"/>

				{#- Webmentions -#}
				<link href="{{ metadata.author.links.Mastodon }}" rel="me"/>
				<link href="{{ metadata.author.links.Bluesky }}" rel="me"/>
				<link href="{{ metadata.author.links.GitHub }}" rel="me"/>
				<link href="{{ metadata.author.links.Threads }}" rel="me"/>
				<link rel="webmention" href="https://webmention.io/{{ metadata.domain }}/webmention"/>
			</head>
			<body>
				<a class="[ skip-link ] [ button ]" href="#content">Skip to content</a>

				<header class="[ site-head ] [ wrapper gradient-border ]" style="--wrapper-size: 100ch;">
					<nav class="[ nav ][ flex flex-wrap gap-3 align-center ]">
						<!-- link to home: http://microformats.org/wiki/rel-home -->
						<a href="/" rel="home" class="[ u-url u-uid ] [ text-decoration-none ]">
							{%- labelledIcon "local:elly", class="logo" -%}
							<span class="[ p-name ]" hidden="">Elly Loel</span>
						</a>

						{#- Larger viewports -#}
						{%- include "navigation.njk" -%}

						<a href="/search/" class="[ button ]"{% if page.url === "/search/" %} aria-current="page"{% endif %}>
							{%- icon "fas:magnifying-glass" -%}
							<span class="[ visually-hidden ]">Search</span>
						</a>

						{#- Smaller viewports -#}
						{%- include "navigation.njk" -%}
					</nav>
				</header>

				<main class="[ h-feed ][ wrapper flow ]" style="--wrapper-size: 100ch;">
					<header class="[ main-header ][ padding-block-end-6 gradient-border ]" data-gradient-border="block-end">
						<!-- tabindex fixes focus issue: https://benmyers.dev/blog/skip-links/#tldr -->
						<h1 id="content" tabindex="-1" class="[ p-name ][ margin-0 line-height-1 ]">
							<xsl:variable name="feedLink">
								<xsl:value-of select="/rss/channel/atom:link/@href"/>
								<xsl:value-of select="/atom:feed/atom:link[1]/@href"/>
							</xsl:variable>
							<xsl:choose>
								<xsl:when test="contains($feedLink, '/not-bookmarks')">Everything but bookmarks </xsl:when>
								<xsl:when test="contains($feedLink, '/bookmarks')">Bookmarks </xsl:when>
							</xsl:choose>
							<xsl:choose>
								<xsl:when test="/rss">RSS</xsl:when>
								<xsl:when test="/atom:feed">Atom</xsl:when>
							</xsl:choose>
							Feed Preview
						</h1>
						<div class="[ flow margin-block-start-2 ]">
							{%- md -%}
							This is a preview of the feed.  To subscribe copy the link below or in your browser's URL bar into a feed reader.

							If you don't already have a feed reader, I'd recommend [Feedbin](https://feedbin.com/home) with any of these [great apps](https://feedbin.com/apps) or check out the [comparison of feed aggregators](https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators) page on Wikipedia.

							Also, you should [learn how to setup your own feed(s)](https://www.mnot.net/rss/tutorial/).
							{%- endmd -%}
							<p class="[ flex flex-wrap gap-2 ]">
								<code style="user-select: all"><xsl:value-of select="/rss/channel/atom:link/@href"/><xsl:value-of select="/atom:feed/atom:link[1]/@href"/></code>
								{%- rollup "src/input/js/share-button.js" | url -%}
								<share-button class="[ flex flex-wrap gap-2 ]"></share-button>
							</p>
						</div>
					</header>

					<xsl:for-each select="/atom:feed/atom:entry">
						<article class="[ feed-item-card ]">
							<div class="[ flow ]">
								<div class="[ feed-item-card-title ][ feed-item-card-body ]">
									<h2 class="h3">
										<a class="[ u-url p-name ]">
											<xsl:attribute name="href">
												<xsl:value-of select="atom:link/@href"/>
											</xsl:attribute>
											<xsl:value-of select="atom:title"/>
										</a>
									</h2>
								</div>
								<div class="[ feed-item-card-footer ]">
									<span style="font-size: 0.8em">
										Created on <time class="[ dt-published ]"><xsl:value-of select="substring(atom:published, 0, 11)"/></time>
									</span>
									<span class="[ flex flex-wrap align-center gap-1 margin-block-start-1 ]">
										{% labelledInlineIcon "fas:tag", { "aria-label": "Tags" } %}
										<xsl:for-each select="atom:category">
											<span class="[ badge ] [ p-category ] [ neutral pill gap-1 text-decoration-none ]">
												<xsl:value-of select="@term" />
											</span>
										</xsl:for-each>
									</span>
								</div>
							</div>
						</article>
					</xsl:for-each>

					<xsl:for-each select="/rss/channel/item">
						<article class="[ feed-item-card ]">
							<div class="[ flow ]">
								<div class="[ feed-item-card-title ][ feed-item-card-body ]">
									<h2 class="h3">
										<a class="[ u-url p-name ]">
											<xsl:attribute name="href">
												<xsl:value-of select="link"/>
											</xsl:attribute>
											<xsl:value-of select="title"/>
										</a>
									</h2>
								</div>
								<div class="[ feed-item-card-footer ]">
									<span style="font-size: 0.8em">
										Created on <time class="[ dt-published ]"><xsl:value-of select="substring(pubDate, 1, 16)" /></time>
									</span>
									<span class="[ flex flex-wrap align-center gap-1 margin-block-start-1 ]">
										{% labelledInlineIcon "fas:tag", { "aria-label": "Tags" } %}
										<xsl:for-each select="category">
											<span class="[ badge ] [ p-category ] [ neutral pill gap-1 text-decoration-none ]">
												<xsl:value-of select="." />
											</span>
										</xsl:for-each>
									</span>
								</div>
							</div>
						</article>
					</xsl:for-each>
				</main>

				<footer>
					<div class="[ site-footer ]">
						<div class="[ inner ] [ wrapper ]" style="--wrapper-size: 100ch;">
							<nav aria-labelledby="footer-nav" class="[ sitemap ] [ flow ]">
								<h2 id="footer-nav">Sitemap</h2>
								<ul class="[ flex flex-wrap gap-6 ]">
									{%- macro renderNavListItem(entry) -%}
										<li>
											<a href="{{ entry.url | url }}"{% if entry.url === page.url %} aria-current="page"{% endif %}>
												{{ entry.title }}
											</a>
											{%- if entry.children -%}
												<ul class="[ flow ][ margin-block-start-3 margin-inline-start-3 ]">
													{%- for child in entry.children %}
														{{ renderNavListItem(child) }}
													{%- endfor -%}
												</ul>
											{%- endif -%}
										</li>
									{%- endmacro -%}
									{%- for entry in collections.all | eleventyNavigation -%}
										{{ renderNavListItem(entry) }}
									{%- endfor -%}
								</ul>
							</nav>

							<ul role="list" class="[ social-links ][ flex-wrap ]">
								<li>
									<a href="/" class="[ logo-link ]">
										{%- icon "local:elly" -%}
										<span class="[ visually-hidden ]">
											Elly
										</span>
									</a>
								</li>
								<li>
									<a href="https://front-end.social/@elly">
										{%- labelledIcon "fab:mastodon", { "aria-label": "Mastodon" } -%}
									</a>
								</li>
								<li>
									<a href="https://bsky.app/profile/elly.lol">
										{%- labelledIcon "fab:bluesky", { "aria-label": "Bluesky" } -%}
									</a>
								</li>
								<li>
									<a href="https://elly.to/linkedin">
										{%- labelledIcon "fab:linkedin", { "aria-label": "LinkedIn" } -%}
									</a>
								</li>
								<li>
									<a href="https://elly.to/github">
										{%- labelledIcon "fab:github", { "aria-label": "GitHub" } -%}
									</a>
								</li>
								<li>
									<a href="https://elly.to/codepen">
										{%- labelledIcon "fab:codepen", { "aria-label": "Codepen" } -%}
									</a>
								</li>
							</ul>

							<div class="[ gh-edit ]">
								{% gh_edit page %}
							</div>
						</div>
					</div>
				</footer>
			</body>
		</html>
	</xsl:template>
</xsl:stylesheet>
