---
permalink: "/humans.txt"
---
https://humanstxt.org/

/* TEAM */

Web developer: {{ metadata.author.name }}
Contact: {{ metadata.author.email }}
Twitter: {{ metadata.author.links.Twitter }}

/* THANKS */

Project starter: Elly Loel
Site: https://ellyloel.com

/* SITE */

Last update: {{ build.timestamp | dateToRfc3339 }}