:root {
  /* Light colour scale */
  color-scheme: light;

  --sl-color-primary-50: var(--white);
  --sl-color-primary-100: var(--grape-taffy);
  --sl-color-primary-200: var(--violet-heaven);
  --sl-color-primary-300: var(--diva);
  --sl-color-primary-400: var(--illicit-purple);
  --sl-color-primary-500: var(--magenta-affair);
  --sl-color-primary-600: var(--purple-emperor);
  --sl-color-primary-700: var(--wild-violet);
  --sl-color-primary-800: var(--voldemort);
  --sl-color-primary-900: var(--coalmine);
  --sl-color-primary-950: var(--black);

  --sl-color-neutral-0: hsl(0, 0%, 100%);
  --sl-color-neutral-50: var(--white);
  --sl-color-neutral-100: var(--peekaboo);
  --sl-color-neutral-200: var(--herring-silver);
  --sl-color-neutral-300: var(--tangled-web);
  --sl-color-neutral-400: var(--hatoba-pigeon);
  --sl-color-neutral-500: var(--cement-feet);
  --sl-color-neutral-600: var(--wonder-wine);
  --sl-color-neutral-700: var(--tuna);
  --sl-color-neutral-800: var(--moonless-night);
  --sl-color-neutral-900: var(--piano-black);
  --sl-color-neutral-950: var(--black);
  --sl-color-neutral-1000: hsl(0, 0%, 0%);

  /* Border radii */
  --sl-border-radius-small: 0.1875rem; /* 3px */
  --sl-border-radius-medium: 0.25rem; /* 4px */
  --sl-border-radius-large: 0.5rem; /* 8px */
  --sl-border-radius-x-large: 1rem; /* 16px */

  --sl-border-radius-circle: 50%;
  --sl-border-radius-pill: 9999px;

  /* Elevations */
  --sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /* Spacings */
  --sl-spacing-3x-small: 0.125rem; /* 2px */
  --sl-spacing-2x-small: 0.25rem; /* 4px */
  --sl-spacing-x-small: 0.5rem; /* 8px */
  --sl-spacing-small: 0.75rem; /* 12px */
  --sl-spacing-medium: 1rem; /* 16px */
  --sl-spacing-large: 1.25rem; /* 20px */
  --sl-spacing-x-large: 1.75rem; /* 28px */
  --sl-spacing-2x-large: 2.25rem; /* 36px */
  --sl-spacing-3x-large: 3rem; /* 48px */
  --sl-spacing-4x-large: 4.5rem; /* 72px */

  /* Transitions */
  --sl-transition-x-slow: 1000ms;
  --sl-transition-slow: 500ms;
  --sl-transition-medium: 250ms;
  --sl-transition-fast: 150ms;
  --sl-transition-x-fast: 50ms;

  /* Typography */
  /* Fonts */
  --sl-font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  --sl-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --sl-font-serif: Georgia, "Times New Roman", serif;

  /* Font sizes */
  --sl-font-size-2x-small: 0.625rem; /* 10px */
  --sl-font-size-x-small: 0.75rem; /* 12px */
  --sl-font-size-small: 0.875rem; /* 14px */
  --sl-font-size-medium: 1rem; /* 16px */
  --sl-font-size-large: 1.25rem; /* 20px */
  --sl-font-size-x-large: 1.5rem; /* 24px */
  --sl-font-size-2x-large: 2.25rem; /* 36px */
  --sl-font-size-3x-large: 3rem; /* 48px */
  --sl-font-size-4x-large: 4.5rem; /* 72px */

  /* Font weights */
  --sl-font-weight-light: 300;
  --sl-font-weight-normal: 400;
  --sl-font-weight-semibold: 500;
  --sl-font-weight-bold: 700;

  /* Letter spacings */
  --sl-letter-spacing-denser: -0.03em;
  --sl-letter-spacing-dense: -0.015em;
  --sl-letter-spacing-normal: normal;
  --sl-letter-spacing-loose: 0.075em;
  --sl-letter-spacing-looser: 0.15em;

  /* Line heights */
  --sl-line-height-denser: 1;
  --sl-line-height-dense: 1.4;
  --sl-line-height-normal: 1.8;
  --sl-line-height-loose: 2.2;
  --sl-line-height-looser: 2.6;

  /* Forms */
  /* Focus rings */
  --sl-focus-ring-color: var(--sl-color-primary-600);
  --sl-focus-ring-style: solid;
  --sl-focus-ring-width: 3px;
  --sl-focus-ring: var(--sl-focus-ring-style) var(--sl-focus-ring-width)
    var(--sl-focus-ring-color);
  --sl-focus-ring-offset: 2px;

  /* Buttons */
  --sl-button-font-size-small: var(--sl-font-size-x-small);
  --sl-button-font-size-medium: var(--sl-font-size-small);
  --sl-button-font-size-large: var(--sl-font-size-medium);

  /* Inputs */
  --sl-input-height-small: 1.875rem; /* 30px */
  --sl-input-height-medium: 2.5rem; /* 40px */
  --sl-input-height-large: 3.125rem; /* 50px */

  --sl-input-background-color: var(--sl-color-neutral-0);
  --sl-input-background-color-hover: var(--sl-input-background-color);
  --sl-input-background-color-focus: var(--sl-input-background-color);
  --sl-input-background-color-disabled: var(--sl-color-neutral-100);
  --sl-input-border-color: var(--sl-color-neutral-300);
  --sl-input-border-color-hover: var(--sl-color-neutral-400);
  --sl-input-border-color-focus: var(--sl-color-primary-500);
  --sl-input-border-color-disabled: var(--sl-color-neutral-300);
  --sl-input-border-width: 1px;
  --sl-input-required-content: "*";
  --sl-input-required-content-offset: -2px;

  --sl-input-border-radius-small: var(--sl-border-radius-medium);
  --sl-input-border-radius-medium: var(--sl-border-radius-medium);
  --sl-input-border-radius-large: var(--sl-border-radius-medium);

  --sl-input-font-family: var(--sl-font-sans);
  --sl-input-font-weight: var(--sl-font-weight-normal);
  --sl-input-font-size-small: var(--sl-font-size-small);
  --sl-input-font-size-medium: var(--sl-font-size-medium);
  --sl-input-font-size-large: var(--sl-font-size-large);
  --sl-input-letter-spacing: var(--sl-letter-spacing-normal);

  --sl-input-color: var(--sl-color-neutral-700);
  --sl-input-color-hover: var(--sl-color-neutral-700);
  --sl-input-color-focus: var(--sl-color-neutral-700);
  --sl-input-color-disabled: var(--sl-color-neutral-900);
  --sl-input-icon-color: var(--sl-color-neutral-500);
  --sl-input-icon-color-hover: var(--sl-color-neutral-600);
  --sl-input-icon-color-focus: var(--sl-color-neutral-600);
  --sl-input-placeholder-color: var(--sl-color-neutral-500);
  --sl-input-placeholder-color-disabled: var(--sl-color-neutral-600);
  --sl-input-spacing-small: var(--sl-spacing-small);
  --sl-input-spacing-medium: var(--sl-spacing-medium);
  --sl-input-spacing-large: var(--sl-spacing-large);

  --sl-input-filled-background-color: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-hover: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-focus: var(--sl-color-neutral-100);
  --sl-input-filled-background-color-disabled: var(--sl-color-neutral-100);
  --sl-input-filled-color: var(--sl-color-neutral-800);
  --sl-input-filled-color-hover: var(--sl-color-neutral-800);
  --sl-input-filled-color-focus: var(--sl-color-neutral-700);
  --sl-input-filled-color-disabled: var(--sl-color-neutral-800);

  --sl-input-focus-ring-color: var(--link);
  --sl-input-focus-ring-offset: var(--sl-spacing-3x-small);

  /* Labels */
  --sl-input-label-font-size-small: var(--sl-font-size-small);
  --sl-input-label-font-size-medium: var(--sl-font-size-medium);
  --sl-input-label-font-size-large: var(--sl-font-size-large);

  --sl-input-label-color: inherit;

  /* Help text */
  --sl-input-help-text-font-size-small: var(--sl-font-size-x-small);
  --sl-input-help-text-font-size-medium: var(--sl-font-size-small);
  --sl-input-help-text-font-size-large: var(--sl-font-size-medium);

  --sl-input-help-text-color: var(--sl-color-neutral-500);

  /* Toggles (checkboxes, radios, switches) */
  --sl-toggle-size: 1rem;

  /* Overlays */
  --sl-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /* Panels */
  --sl-panel-background-color: var(--sl-color-neutral-0);
  --sl-panel-border-color: var(--sl-color-neutral-200);
  --sl-panel-border-width: 1px;

  /* Tooltips */
  --sl-tooltip-border-radius: var(--sl-border-radius-medium);
  --sl-tooltip-background-color: var(--sl-color-neutral-800);
  --sl-tooltip-color: var(--sl-color-neutral-0);
  --sl-tooltip-font-family: var(--sl-font-sans);
  --sl-tooltip-font-weight: var(--sl-font-weight-normal);
  --sl-tooltip-font-size: var(--sl-font-size-small);
  --sl-tooltip-line-height: var(--sl-line-height-dense);
  --sl-tooltip-padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
  --sl-tooltip-arrow-size: 6px;

  /* Z-indexes */
  --sl-z-index-drawer: 700;
  --sl-z-index-dialog: 800;
  --sl-z-index-dropdown: 900;
  --sl-z-index-toast: 950;
  --sl-z-index-tooltip: 1000;

  /* Dark colour scale */
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --sl-color-primary-50: var(--black);
    --sl-color-primary-100: var(--coalmine);
    --sl-color-primary-200: var(--voldemort);
    --sl-color-primary-300: var(--wild-violet);
    --sl-color-primary-400: var(--purple-emperor);
    --sl-color-primary-500: var(--magenta-affair);
    --sl-color-primary-600: var(--illicit-purple);
    --sl-color-primary-700: var(--diva);
    --sl-color-primary-800: var(--violet-heaven);
    --sl-color-primary-900: var(--grape-taffy);
    --sl-color-primary-950: var(--white);

    --sl-color-neutral-0: hsl(240, 5.9%, 11%);
    --sl-color-neutral-50: var(--black);
    --sl-color-neutral-100: var(--piano-black);
    --sl-color-neutral-200: var(--moonless-night);
    --sl-color-neutral-300: var(--tuna);
    --sl-color-neutral-400: var(--wonder-wine);
    --sl-color-neutral-500: var(--cement-feet);
    --sl-color-neutral-600: var(--hatoba-pigeon);
    --sl-color-neutral-700: var(--tangled-web);
    --sl-color-neutral-800: var(--herring-silver);
    --sl-color-neutral-900: var(--peekaboo);
    --sl-color-neutral-950: var(--white);
    --sl-color-neutral-1000: hsl(0, 0%, 100%);

    /* Elevations */
    --sl-shadow-x-small: 0 1px 2px rgb(0 0 0 / 18%);
    --sl-shadow-small: 0 1px 2px rgb(0 0 0 / 24%);
    --sl-shadow-medium: 0 2px 4px rgb(0 0 0 / 24%);
    --sl-shadow-large: 0 2px 8px rgb(0 0 0 / 24%);
    --sl-shadow-x-large: 0 4px 16px rgb(0 0 0 / 24%);

    /* Focus ring */
    --sl-focus-ring-color: var(--sl-color-primary-700);

    /* Overlays */
    --sl-overlay-background-color: hsl(0 0% 0% / 43%);

    /* Panels */
    --sl-panel-background-color: var(--sl-color-neutral-50);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --sl-color-primary-50: var(--white);
  --sl-color-primary-100: var(--grape-taffy);
  --sl-color-primary-200: var(--violet-heaven);
  --sl-color-primary-300: var(--diva);
  --sl-color-primary-400: var(--illicit-purple);
  --sl-color-primary-500: var(--magenta-affair);
  --sl-color-primary-600: var(--purple-emperor);
  --sl-color-primary-700: var(--wild-violet);
  --sl-color-primary-800: var(--voldemort);
  --sl-color-primary-900: var(--coalmine);
  --sl-color-primary-950: var(--black);

  --sl-color-neutral-0: hsl(0, 0%, 100%);
  --sl-color-neutral-50: var(--white);
  --sl-color-neutral-100: var(--peekaboo);
  --sl-color-neutral-200: var(--herring-silver);
  --sl-color-neutral-300: var(--tangled-web);
  --sl-color-neutral-400: var(--hatoba-pigeon);
  --sl-color-neutral-500: var(--cement-feet);
  --sl-color-neutral-600: var(--wonder-wine);
  --sl-color-neutral-700: var(--tuna);
  --sl-color-neutral-800: var(--moonless-night);
  --sl-color-neutral-900: var(--piano-black);
  --sl-color-neutral-950: var(--black);
  --sl-color-neutral-1000: hsl(0, 0%, 0%);

  /* Elevations */
  --sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /* Focus ring */
  --sl-focus-ring-color: var(--sl-color-primary-600);

  /* Overlays */
  --sl-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /* Panels */
  --sl-panel-background-color: var(--sl-color-neutral-0);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --sl-color-primary-50: var(--black);
  --sl-color-primary-100: var(--coalmine);
  --sl-color-primary-200: var(--voldemort);
  --sl-color-primary-300: var(--wild-violet);
  --sl-color-primary-400: var(--purple-emperor);
  --sl-color-primary-500: var(--magenta-affair);
  --sl-color-primary-600: var(--illicit-purple);
  --sl-color-primary-700: var(--diva);
  --sl-color-primary-800: var(--violet-heaven);
  --sl-color-primary-900: var(--grape-taffy);
  --sl-color-primary-950: var(--white);

  --sl-color-neutral-0: hsl(240, 5.9%, 11%);
  --sl-color-neutral-50: var(--black);
  --sl-color-neutral-100: var(--piano-black);
  --sl-color-neutral-200: var(--moonless-night);
  --sl-color-neutral-300: var(--tuna);
  --sl-color-neutral-400: var(--wonder-wine);
  --sl-color-neutral-500: var(--cement-feet);
  --sl-color-neutral-600: var(--hatoba-pigeon);
  --sl-color-neutral-700: var(--tangled-web);
  --sl-color-neutral-800: var(--herring-silver);
  --sl-color-neutral-900: var(--peekaboo);
  --sl-color-neutral-950: var(--white);
  --sl-color-neutral-1000: hsl(0, 0%, 100%);

  /* Elevations */
  --sl-shadow-x-small: 0 1px 2px rgb(0 0 0 / 18%);
  --sl-shadow-small: 0 1px 2px rgb(0 0 0 / 24%);
  --sl-shadow-medium: 0 2px 4px rgb(0 0 0 / 24%);
  --sl-shadow-large: 0 2px 8px rgb(0 0 0 / 24%);
  --sl-shadow-x-large: 0 4px 16px rgb(0 0 0 / 24%);

  /* Focus ring */
  --sl-focus-ring-color: var(--sl-color-primary-700);

  /* Overlays */
  --sl-overlay-background-color: hsl(0 0% 0% / 43%);

  /* Panels */
  --sl-panel-background-color: var(--sl-color-neutral-50);
}

[color-scheme="light-moss"] {
  color-scheme: light;

  --sl-color-primary-50: var(--white);
  --sl-color-primary-100: var(--fresh-breeze);
  --sl-color-primary-200: var(--cabbage);
  --sl-color-primary-300: var(--sereni-teal);
  --sl-color-primary-400: var(--martian-cerulean);
  --sl-color-primary-500: var(--illuminati-green);
  --sl-color-primary-600: var(--toad-king);
  --sl-color-primary-700: var(--pine-needle);
  --sl-color-primary-800: var(--eight-ball);
  --sl-color-primary-900: var(--nightmare);
  --sl-color-primary-950: var(--black);

  --sl-color-neutral-0: hsl(0, 0%, 100%);
  --sl-color-neutral-50: var(--white);
  --sl-color-neutral-100: var(--serene);
  --sl-color-neutral-200: var(--foil);
  --sl-color-neutral-300: var(--pigeon);
  --sl-color-neutral-400: var(--mother-earth);
  --sl-color-neutral-500: var(--volcanic-ash);
  --sl-color-neutral-600: var(--yacht-club);
  --sl-color-neutral-700: var(--vulcanized);
  --sl-color-neutral-800: var(--carbon-fiber);
  --sl-color-neutral-900: var(--matt-black);
  --sl-color-neutral-950: var(--black);
  --sl-color-neutral-1000: hsl(0, 0%, 0%);

  /* Elevations */
  --sl-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --sl-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --sl-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /* Focus ring */
  --sl-focus-ring-color: var(--sl-color-primary-600);

  /* Overlays */
  --sl-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /* Panels */
  --sl-panel-background-color: var(--sl-color-neutral-0);
}

[color-scheme="dark-moss"] {
  color-scheme: dark;

  --sl-color-primary-50: var(--black);
  --sl-color-primary-100: var(--nightmare);
  --sl-color-primary-200: var(--eight-ball);
  --sl-color-primary-300: var(--pine-needle);
  --sl-color-primary-400: var(--toad-king);
  --sl-color-primary-500: var(--illuminati-green);
  --sl-color-primary-600: var(--martian-cerulean);
  --sl-color-primary-700: var(--sereni-teal);
  --sl-color-primary-800: var(--cabbage);
  --sl-color-primary-900: var(--fresh-breeze);
  --sl-color-primary-950: var(--white);

  --sl-color-neutral-0: hsl(240, 5.9%, 11%);
  --sl-color-neutral-50: var(--black);
  --sl-color-neutral-100: var(--matt-black);
  --sl-color-neutral-200: var(--carbon-fiber);
  --sl-color-neutral-300: var(--vulcanized);
  --sl-color-neutral-400: var(--yacht-club);
  --sl-color-neutral-500: var(--volcanic-ash);
  --sl-color-neutral-600: var(--mother-earth);
  --sl-color-neutral-700: var(--pigeon);
  --sl-color-neutral-800: var(--foil);
  --sl-color-neutral-900: var(--serene);
  --sl-color-neutral-950: var(--white);
  --sl-color-neutral-1000: hsl(0, 0%, 100%);

  /* Elevations */
  --sl-shadow-x-small: 0 1px 2px rgb(0 0 0 / 18%);
  --sl-shadow-small: 0 1px 2px rgb(0 0 0 / 24%);
  --sl-shadow-medium: 0 2px 4px rgb(0 0 0 / 24%);
  --sl-shadow-large: 0 2px 8px rgb(0 0 0 / 24%);
  --sl-shadow-x-large: 0 4px 16px rgb(0 0 0 / 24%);

  /* Focus ring */
  --sl-focus-ring-color: var(--sl-color-primary-700);

  /* Overlays */
  --sl-overlay-background-color: hsl(0 0% 0% / 43%);

  /* Panels */
  --sl-panel-background-color: var(--sl-color-neutral-50);
}
