:root {
	--black: lch(5.243% 2.967 304.065deg);
	--white: lch(97.959% 2.447 304.132deg);

	/* Accent colours https://schemist.fglt.fr?preset=1@b@41250,4125a,4125x14,4125x1e,4125x28,4125x32,4125x3c,4125x46,4125x50,4125x5a,4125x64,012230123456789a@clr,,color,bd93f9,l,amount */
	--coalmine: lch(5.834% 35.337 308.938deg);
	--voldemort: lch(16.405% 54.349 309.759deg);
	--wild-violet: lch(26.256% 70.287 309.703deg);
	--purple-emperor: lch(35.951% 83.499 309.473deg);
	--magenta-affair: lch(46.006% 88.412 308.689deg);
	--illicit-purple: lch(56.956% 75.105 306.729deg);
	--diva: lch(68.002% 55.309 304.53deg);
	--violet-heaven: lch(78.848% 35.402 302.552deg);
	--grape-taffy: lch(95.495% 5.998 300.898deg);

	/* Neutral colours https://schemist.fglt.fr?preset=1@b@41250,4125a,4125x14,4125x1e,4125x28,4125x32,4125x3c,4125x46,4125x50,4125x5a,4125x64,012230123456789a@clr,,color,a9a4b0,l,amount */
	--piano-black: lch(7.243% 2.967 304.065deg);
	--moonless-night: lch(18.826% 4.513 304.89deg);
	--tuna: lch(29.382% 5.734 304.868deg);
	--wonder-wine: lch(39.625% 6.711 304.828deg);
	--cement-feet: lch(49.743% 7.293 304.761deg);
	--hatoba-pigeon: lch(59.811% 7.221 304.65deg);
	--tangled-web: lch(69.862% 6.334 304.498deg);
	--herring-silver: lch(79.912% 4.663 304.318deg);
	--peekaboo: lch(92.959% 2.447 304.132deg);
	--accent-0: var(--white);
	--accent-1: var(--grape-taffy);
	--accent-2: var(--violet-heaven);
	--accent-3: var(--diva);
	--accent-4: var(--illicit-purple);
	--accent-5: var(--magenta-affair);
	--accent-6: var(--purple-emperor);
	--accent-7: var(--wild-violet);
	--accent-8: var(--voldemort);
	--accent-9: var(--coalmine);
	--accent-10: var(--black);
	--neutral-0: var(--white);
	--neutral-1: var(--peekaboo);
	--neutral-2: var(--herring-silver);
	--neutral-3: var(--tangled-web);
	--neutral-4: var(--hatoba-pigeon);
	--neutral-5: var(--cement-feet);
	--neutral-6: var(--wonder-wine);
	--neutral-7: var(--tuna);
	--neutral-8: var(--moonless-night);
	--neutral-9: var(--piano-black);
	--neutral-10: var(--black);

	/* Semantic colours */
	--accent-base: var(--accent-0);
	--accent-bg-subtle: var(--accent-1);
	--accent-bg: var(--accent-2);
	--accent-bg-hover: var(--accent-3);
	--accent-bg-active: var(--accent-4);
	--accent-border: var(--accent-5);
	--accent-border-hover: var(--accent-6);
	--accent-solid: var(--accent-7);
	--accent-solid-hover: var(--accent-8);
	--accent-text: var(--accent-9);
	--accent-text-contrast: var(--accent-10);
	--neutral-base: var(--neutral-0);
	--neutral-bg-subtle: var(--neutral-1);
	--neutral-bg: var(--neutral-2);
	--neutral-bg-hover: var(--neutral-3);
	--neutral-bg-active: var(--neutral-4);
	--neutral-border: var(--neutral-5);
	--neutral-border-hover: var(--neutral-6);
	--neutral-solid: var(--neutral-7);
	--neutral-solid-hover: var(--neutral-8);
	--neutral-text: var(--neutral-9);
	--neutral-text-contrast: var(--neutral-10);
	--info: lch(69.928% 42.583 251.574deg);
	--success: lch(72.02% 66.383 129.588deg);
	--warning: lch(69.545% 65.691 63.721deg);
	--error: lch(68.867% 51.731 36.633deg);

	/* Typography */
	--font-weight-body-bold: 622;
	--font-weight-body-normal: 400;

	/* Light colour scale */
	color-scheme: light;

	/* Dark colour scale */
	@media (prefers-color-scheme: dark) {
		--accent-0: var(--black);
		--accent-1: var(--coalmine);
		--accent-2: var(--voldemort);
		--accent-3: var(--wild-violet);
		--accent-4: var(--purple-emperor);
		--accent-5: var(--magenta-affair);
		--accent-6: var(--illicit-purple);
		--accent-7: var(--diva);
		--accent-8: var(--violet-heaven);
		--accent-9: var(--grape-taffy);
		--accent-10: var(--white);
		--neutral-0: var(--black);
		--neutral-1: var(--piano-black);
		--neutral-2: var(--moonless-night);
		--neutral-3: var(--tuna);
		--neutral-4: var(--wonder-wine);
		--neutral-5: var(--cement-feet);
		--neutral-6: var(--hatoba-pigeon);
		--neutral-7: var(--tangled-web);
		--neutral-8: var(--herring-silver);
		--neutral-9: var(--peekaboo);
		--neutral-10: var(--white);

		color-scheme: dark;
	}
}

[color-scheme="light"] {
	--accent-0: var(--white);
	--accent-1: var(--grape-taffy);
	--accent-2: var(--violet-heaven);
	--accent-3: var(--diva);
	--accent-4: var(--illicit-purple);
	--accent-5: var(--magenta-affair);
	--accent-6: var(--purple-emperor);
	--accent-7: var(--wild-violet);
	--accent-8: var(--voldemort);
	--accent-9: var(--coalmine);
	--accent-10: var(--black);
	--neutral-0: var(--white);
	--neutral-1: var(--peekaboo);
	--neutral-2: var(--herring-silver);
	--neutral-3: var(--tangled-web);
	--neutral-4: var(--hatoba-pigeon);
	--neutral-5: var(--cement-feet);
	--neutral-6: var(--wonder-wine);
	--neutral-7: var(--tuna);
	--neutral-8: var(--moonless-night);
	--neutral-9: var(--piano-black);
	--neutral-10: var(--black);

	color-scheme: light;
}

[color-scheme="dark"] {
	--accent-0: var(--black);
	--accent-1: var(--coalmine);
	--accent-2: var(--voldemort);
	--accent-3: var(--wild-violet);
	--accent-4: var(--purple-emperor);
	--accent-5: var(--magenta-affair);
	--accent-6: var(--illicit-purple);
	--accent-7: var(--diva);
	--accent-8: var(--violet-heaven);
	--accent-9: var(--grape-taffy);
	--accent-10: var(--white);
	--neutral-0: var(--black);
	--neutral-1: var(--piano-black);
	--neutral-2: var(--moonless-night);
	--neutral-3: var(--tuna);
	--neutral-4: var(--wonder-wine);
	--neutral-5: var(--cement-feet);
	--neutral-6: var(--hatoba-pigeon);
	--neutral-7: var(--tangled-web);
	--neutral-8: var(--herring-silver);
	--neutral-9: var(--peekaboo);
	--neutral-10: var(--white);

	color-scheme: dark;
}

[color-scheme$="moss"] {
	--black: lch(5.435% 2.411 165.037deg);
	--white: lch(98.14% 2.586 165.106deg);

	/* Accent colours https://schemist.fglt.fr?preset=1@f@41250,4125a,4125x14,4125x1e,4125x28,4125x32,4125x3c,4125x46,4125x50,4125x5a,4125x64,670,890,ab0,cd0,012230123456789abcde@clr,,color,549a7e,l,amount,inf,Info,pos,Success,wrn,Warning,neg,Error */
	--nightmare: lch(7.697% 8.752 164.697deg);
	--eight-ball: lch(19.534% 14.73 165.16deg);
	--pine-needle: lch(30.296% 19.082 165.159deg);
	--toad-king: lch(40.725% 23.142 165.156deg);
	--illuminati-green: lch(51.002% 26.823 165.15deg);
	--martian-cerulean: lch(61.182% 29.824 165.141deg);
	--sereni-teal: lch(71.268% 31.45 165.123deg);
	--cabbage: lch(81.21% 29.959 165.087deg);
	--fresh-breeze: lch(96.79% 4.395 165.005deg);

	/* Neutral colours https://schemist.fglt.fr?preset=1@f@41250,4125a,4125x14,4125x1e,4125x28,4125x32,4125x3c,4125x46,4125x50,4125x5a,4125x64,670,890,ab0,cd0,012230123456789abcde@clr,,color,818f88,l,amount,inf,Info,pos,Success,wrn,Warning,neg,Error */
	--matt-black: lch(7.435% 2.411 165.037deg);
	--carbon-fiber: lch(19.127% 3.845 165.156deg);
	--vulcanized: lch(29.764% 4.904 165.155deg);
	--yacht-club: lch(40.075% 5.784 165.152deg);
	--volcanic-ash: lch(50.235% 6.388 165.148deg);
	--mother-earth: lch(60.305% 6.546 165.142deg);
	--pigeon: lch(70.307% 6.045 165.133deg);
	--foil: lch(80.249% 4.725 165.121deg);
	--serene: lch(92.14% 2.586 165.106deg);
	--info: lch(57.208% 31.234 249.436deg);
	--success: lch(58.456% 32.938 148.189deg);
	--warning: lch(56.952% 39.272 62.462deg);
	--error: lch(56.273% 41.356 35.609deg);
}

[color-scheme="light-moss"] {
	--accent-0: var(--white);
	--accent-1: var(--fresh-breeze);
	--accent-2: var(--cabbage);
	--accent-3: var(--sereni-teal);
	--accent-4: var(--martian-cerulean);
	--accent-5: var(--illuminati-green);
	--accent-6: var(--toad-king);
	--accent-7: var(--pine-needle);
	--accent-8: var(--eight-ball);
	--accent-9: var(--nightmare);
	--accent-10: var(--black);
	--neutral-0: var(--white);
	--neutral-1: var(--serene);
	--neutral-2: var(--foil);
	--neutral-3: var(--pigeon);
	--neutral-4: var(--mother-earth);
	--neutral-5: var(--volcanic-ash);
	--neutral-6: var(--yacht-club);
	--neutral-7: var(--vulcanized);
	--neutral-8: var(--carbon-fiber);
	--neutral-9: var(--matt-black);
	--neutral-10: var(--black);

	color-scheme: light;
}

[color-scheme="dark-moss"] {
	--accent-0: var(--black);
	--accent-1: var(--nightmare);
	--accent-2: var(--eight-ball);
	--accent-3: var(--pine-needle);
	--accent-4: var(--toad-king);
	--accent-5: var(--illuminati-green);
	--accent-6: var(--martian-cerulean);
	--accent-7: var(--sereni-teal);
	--accent-8: var(--cabbage);
	--accent-9: var(--fresh-breeze);
	--accent-10: var(--white);
	--neutral-0: var(--black);
	--neutral-1: var(--matt-black);
	--neutral-2: var(--carbon-fiber);
	--neutral-3: var(--vulcanized);
	--neutral-4: var(--yacht-club);
	--neutral-5: var(--volcanic-ash);
	--neutral-6: var(--mother-earth);
	--neutral-7: var(--pigeon);
	--neutral-8: var(--foil);
	--neutral-9: var(--serene);
	--neutral-10: var(--white);

	color-scheme: dark;
}
