.site-footer {
  display: grid;
  grid-template: 1fr / 1fr;

  & css-doodle {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    max-inline-size: 100vw;

    @media (forced-colors: active) {
      display: none;
    }
  }

  & .inner {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding-block: var(--size-9);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: max-content;
    grid-template-areas:
      "newsletter"
      "sitemap"
      "socials";
    row-gap: var(--size-9);

    & .newsletter {
      grid-area: newsletter;
      block-size: fit-content;
    }

    & .image {
      display: none;
    }

    & .sitemap {
      grid-area: sitemap;
      block-size: fit-content;
    }

    & .social-links {
      grid-area: socials;
      display: flex;
      gap: var(--size-3);
      block-size: fit-content;
      transform: translateX(-8px); // optical alignment
    }

    @media (--lg-n-above) {
      grid-template-areas:
        "newsletter image"
        "sitemap image"
        "socials socials";
      column-gap: var(--size-9);

      & .image {
        display: block;
        grid-area: image;
        block-size: fit-content;
      }
    }
  }
}
