a:has(stylized-text),
a stylized-text::part(text) {
  text-decoration: none;
}

stylized-text::part(text) {
  text-decoration-color: var(--accent-solid);

  &:focus-visible {
    outline-color: var(--link);
  }

  @media (--motionOK) {
    &:focus-visible {
      transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    }
  }

  &:focus-visible {
    outline-offset: var(--size-1);
  }

  &.text-decoration-none {
    text-decoration: none;
  }
}

stylized-text::part(tooltip) {
  --sl-tooltip-color: var(--neutral-text);
  --sl-tooltip-background-color: var(--accent-bg);
}
