.toc {
  --flow-space: 0.5em;
  margin-block-start: var(--size-3);
  margin-block-end: var(--size-2);

  & > ol {
    padding-left: var(--size-5);
    list-style-type: disc;

    & ol {
      list-style-type: circle;

      & ol {
        list-style-type: square;
      }
    }
  }
}

.toc-container {
  & > details {
    & > summary {
      align-items: center;
      gap: var(--size-3);

      & > sl-icon::part(base) {
        transition: transform 300ms var(--ease-out-4);
        color: var(--accent-solid);
      }

      &:is(:hover, :focus-visible) {
        & > sl-icon::part(base) {
          color: var(--accent-solid-hover);
        }
      }
    }
    &[open] > summary > sl-icon::part(base) {
      transform: rotate(90deg);
    }
  }
}
