.unfurl {
  display: grid;
  gap: 0.3rem 1rem;
  align-content: start;
  max-width: 35rem;
  grid-template-areas:
    "border image"
    "border meta"
    "border title"
    "border desc";

  @media (--md-n-above) {
    grid-template-areas:
      "border meta image"
      "border title image"
      "border desc image";
  }
}

.unfurl::before {
  content: "";
  grid-area: border;
  width: 0.25rem;
  height: 100%;
  background-color: var(--accent-border);
  border-radius: var(--radius-2);
}

.unfurl__heading {
  grid-area: title;
}

.unfurl__description {
  grid-area: desc;
}

.unfurl__heading,
.unfurl__description {
  margin: 0;
}

.unfurl__image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  grid-area: image;
  align-self: center;
  height: auto;
  border-radius: var(--radius-3);
  border-bottom-left-radius: 0;

  @media (--md-n-above) {
    aspect-ratio: 1;
    border-radius: var(--radius-2);
  }
}

.unfurl__meta {
  grid-area: meta;
  color: var(--neutral-text);
  font-weight: bold;
}

.unfurl + .unfurl {
  margin-block-start: 2rem;
}
