.feed {
  column-count: auto;
  column-width: var(--size-content-2);
  column-fill: auto;

  & > li + li {
    margin-block-start: var(--size-7);
  }

  @media (width >= 768px) {
    column-count: 2;
    column-width: auto;

    & > li + li {
      margin-block-start: var(--size-4);
    }
  }
}

.home .feed {
  column-count: auto;
  column-width: var(--size-content-2);

  & > li + li {
    margin-block-start: var(--size-7);
  }
}

sl-select:has(sl-menu-item[value="seedling"][checked]) ~ .feed {
  & .seedling {
    display: list-item;
  }

  & :where(li:not(.seedling)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="budding"][checked]) ~ .feed {
  & .budding {
    display: list-item;
  }

  & :where(li:not(.budding)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="evergreen"][checked]) ~ .feed {
  & .evergreen {
    display: list-item;
  }

  & :where(li:not(.evergreen)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="draft"][checked]) ~ .feed {
  & .draft {
    display: list-item;
  }

  & :where(li:not(.draft)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="complete"][checked]) ~ .feed {
  & .complete {
    display: list-item;
  }

  & :where(li:not(.complete)) {
    display: none;
  }
}
