.feed {
  grid-template-columns: 1fr 1fr;
  --gap: var(--size-6);

  & > li > sl-card {
    &,
    &::part(base),
    &::part(image),
    & > [slot="image"],
    & > [slot="image"] img {
      block-size: 100%;
    }

    & > [slot="image"] img {
      object-fit: cover;
    }
  }

  &:has(> li:nth-child(2)) > li:first-child {
    grid-row: 1 / 2;
  }

  &:has(> li:nth-child(3)) > li:first-child {
    grid-row: 1 / 3;
  }

  &:has(> li:nth-child(4)) > li:first-child {
    grid-row: 1 / 4;
  }
}

sl-select:has(sl-menu-item[value="seedling"][checked]) ~ .feed {
  & .seedling {
    display: list-item;
  }

  & :where(li:not(.seedling)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="budding"][checked]) ~ .feed {
  & .budding {
    display: list-item;
  }

  & :where(li:not(.budding)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="evergreen"][checked]) ~ .feed {
  & .evergreen {
    display: list-item;
  }

  & :where(li:not(.evergreen)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="draft"][checked]) ~ .feed {
  & .draft {
    display: list-item;
  }

  & :where(li:not(.draft)) {
    display: none;
  }
}

sl-select:has(sl-menu-item[value="complete"][checked]) ~ .feed {
  & .complete {
    display: list-item;
  }

  & :where(li:not(.complete)) {
    display: none;
  }
}
