#graph {
  position: relative;

  inline-size: fit-content;
  block-size: fit-content;

  & > svg {
    border: var(--border-size-2) solid var(--accent-bg-hover);
    border-radius: var(--radius-3);
    --shadow-offset: var(--size-1);
    box-shadow: var(--shadow-offset) var(--shadow-offset) 0px 0px
      var(--accent-bg-hover);
    background-color: var(--accent-bg-subtle);
    transition: box-shadow 300ms var(--ease-1);

    &:is(:hover, :focus-within) {
      --shadow-offset: var(--size-2);
      transition: box-shadow 150ms var(--ease-1);
    }
  }
}

a[href="#skip-graph"] {
  pointer-events: none;
  left: 0;
  right: 0;
  transform: translateX(0%) translateY(-50%);
  opacity: 0%;
  position: absolute;
  z-index: -1;

  --opacity-duration: 100ms;
  --transform-duration: 250ms;

  transition: opacity var(--opacity-duration) var(--ease-1) !important;
  @media (prefers-reduced-motion: no-preference) {
    transition: opacity var(--opacity-duration) var(--ease-1),
      transform calc(var(--transform-duration) * 2) var(--ease-1) !important;
  }

  &:focus-visible {
    pointer-events: all;
    transform: translateY(calc(-100% - var(--size-2)));
    opacity: 100%;

    transition: opacity var(--opacity-duration) var(--ease-1) !important;
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity var(--opacity-duration) var(--ease-1)
          calc(var(--transform-duration) - var(--opacity-duration)),
        transform var(--transform-duration) var(--ease-1),
        outline-offset 145ms var(--ease-2) !important;
    }
  }
}
