.lego-container {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: var(--radius-blob-4);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    var(--accent-bg) 0%,
    var(--accent-solid) 90%
  );
  transform: scale(0.75);

  & model-viewer {
    width: 100%;
    height: 100%;
    transform: scale(1.5);

    & #poster {
      height: 100%;
      margin-inline: auto;
      object-fit: contain;
      pointer-events: none;
    }

    & .progress-bar {
      display: none;
      visibility: hidden;
    }
  }
}
