:is(.logo, .logo-inline) {
  font-family: "Nanum Pen Script", sans-serif;
  font-size: 1.5em; /* scales with the font size around it */
}

.logo {
  text-decoration: none;
}

.logo-inline {
  display: inline-block;
  transform: translateY(0.1em); /* optical alignment */
}

.logo-link {
  font-size: var(--font-size-7);

  &::part(base) {
    height: calc(1em / 2.8181818182);
    box-sizing: content-box;
    transform: translateY(0.025em); /* optical alignment */
  }
}
