sl-select.stage {
	display: none;
	max-inline-size: var(--size-content-2);

	@supports selector(a:has(b)) {
		display: block;
	}

	&::part(combobox) {
		--shadow-offset: var(--size-1);

		border-color: var(--accent-bg-hover);
		border-radius: var(--radius-3);
		border-width: var(--border-size-2);
		box-shadow: var(--shadow-offset) var(--shadow-offset) 0 0
			var(--accent-bg-hover);
		min-height: calc(var(--sl-input-height-large) + 2px);

		&:is(:hover, :focus-visible) {
			--shadow-offset: var(--size-2);

			transition: box-shadow 0.15s var(--ease-1);
		}

		&:focus-visible {
			outline: var(--sl-focus-ring);
			outline-offset: -3px;
		}
	}

	&::part(tag) {
		--sl-input-border-radius-large: calc(var(--radius-3) - 4px);
	}

	& sl-option {
		&::part(base) {
			gap: var(--size-1);
		}
	}
}
