.toc {
  --flow-space: 0.5em;
  margin-block-start: var(--size-3);
  margin-block-end: var(--size-2);

  & > ol {
    padding-left: var(--size-5);
    list-style-type: disc;

    & ol {
      list-style-type: circle;

      & ol {
        list-style-type: square;
      }
    }
  }
}

.toc-container {
  margin-inline: auto;
  & details {
    & summary {
      align-items: center;
      gap: var(--size-3);

      & sl-icon {
        transition: transform 300ms var(--ease-out-4);
        color: var(--accent-solid);
      }

      & h2 {
        font-size: var(--font-size-fluid-1);
      }

      &:is(:hover, :focus-visible) sl-icon {
        color: var(--accent-solid-hover);
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    &[open] summary sl-icon {
      transform: rotate(90deg);
    }
  }
}
