.webmentions {
  & .input-wrapper {
    display: flex;
    gap: var(--size-3);
    flex-wrap: wrap;
  }

  & ol {
    padding-left: 0;
    /* list-style-type: none; */
    padding-block: var(--size-2);

    & li {
      padding-left: 0;

      &::marker {
        content: url(https://webmention.io/avatar/pbs.twimg.com/c2c8dfc64df0e49669c4493f074e0311c7081b9ab09fadb44172afa4ca9beca4.jpg);
        display: block;
        border-radius: var(--radius-round);
        width: 2em;
        height: auto;
      }
    }
  }

  & .webmention {
    --_offset: calc(2em + var(--size-2));
    padding-left: var(--_offset);

    & > * {
      --flow-space: 0.5em;
    }

    & .meta {
      display: flex;
      align-items: center;
      gap: var(--size-2);

      & .author-wrapper {
        display: flex;
        align-items: center;
        gap: var(--size-2);
        text-decoration: none;

        &:hover {
          background-color: transparent;
        }

        & strong {
          height: fit-content;
          line-height: 1;
        }
      }

      & .author-photo-wrapper {
        width: 2em;
        height: auto;
        margin-left: calc(var(--_offset) * -1);
      }

      & .author-photo-image {
        border-radius: var(--radius-round);
      }

      & .date {
        margin-left: auto;
      }
    }
  }
}
