---
layout: base
title: Blog
eleventyNavigation:
  key: Blog
  order: 4
---

<div id="graph"></div>

{% set blog = collections.blog | reverse %}
<ul class="[ flow ]">
  {%- for post in blog %}
    {% feedItem
    title = post.data.title,
    url = post.url,
    excerpt = post.data.page.excerpt
 %}
  {%- endfor %}
</ul>