---
layout: base
title: Bookmarks
eleventyNavigation:
  key: Bookmarks
  order: 8
---

<div id="graph"></div>

{% set bookmarks = collections.bookmarks | sortByCreated %}
<ul class="[ feed ]">
  {%- for bookmark in bookmarks %}
    {% feedItem
    title = bookmark.data.title,
    url = bookmark.url,
    excerpt = bookmark.data.page.excerpt,
    image = bookmark.data.image,
    created = bookmark.data.created
 %}
  {%- endfor %}
</ul>