---
layout: base
title: Digital garden
eleventyNavigation:
  key: Digital garden
  order: 3
---

<p>A collection of my ideas that I'm nurturing out in the open. The notes range from seedlings, which are fresh out of my mind, to budding, which are developing, to evergreen, which are polished ideas.</p>

<div id="graph"></div>

{% set notes = collections.garden | reverse %}
<ul class="[ flow ]">
  {%- for note in notes %}
    {% feedItem
    title = note.data.title,
    url = note.url,
    excerpt = note.data.page.excerpt,
    stage = note.data.stage
 %}
  {%- endfor %}
</ul>