---
layout: base
title: Digital garden
eleventyNavigation:
  key: Digital garden
  parent: Writing
  order: 1
---

<p>A collection of my ideas that I'm nurturing out in the open. The notes range from seedlings, which are fresh out of my mind, to budding, which are developing, to evergreen, which are polished ideas.</p>

<h2>
  Feeds
</h2>
<ul>
  <li>
    <a href="/notes.rss">
      <abbr title="Really Simple Syndication">RSS</abbr>
    </a>
  </li>
  <li>
    <a href="/notes.atom">Atom</a>
  </li>
  <li>
    <a href="/notes.json">
      <abbr title="JavaScript Object Notation">JSON</abbr>
    </a>
  </li>
</ul>

<h2>
  Linked posts graph
</h2>
<div id="graph"></div>

{%- set notes = collections.garden | sortByCreated -%}
{%- set seedlingCount = 0 -%}
{%- set buddingCount = 0 -%}
{%- set evergreenCount = 0 -%}

{%- for note in notes -%}
  {%- if note.data.stage === "seedling" -%}
    {%- set seedlingCount = seedlingCount + 1 -%}
  {%- elif note.data.stage === "budding" -%}
    {%- set buddingCount = buddingCount + 1 -%}
  {%- elif note.data.stage === "evergreen" -%}
    {%- set evergreenCount = evergreenCount + 1 -%}
  {%- endif -%}
{%- endfor -%}

<sl-select class="[ stage ]" placeholder="All growth stages" label="Filter by growth stage" size="large" multiple clearable>
  <sl-option value="seedling">
    <sl-icon slot="prefix" class="[ icon ]" library="fa" name="fas-seedling"></sl-icon>
    Seedling
    <sl-badge slot="suffix" variant="neutral" pill>{{ seedlingCount }}</sl-badge>
  </sl-option>
  <sl-option value="budding">
    <sl-icon slot="prefix" class="[ icon ]" library="fa" name="fas-spa"></sl-icon>
    Budding
    <sl-badge slot="suffix" variant="neutral" pill>{{ buddingCount }}</sl-badge>
  </sl-option>
  <sl-option value="evergreen">
    <sl-icon slot="prefix" class="[ icon ]" library="fa" name="fas-tree"></sl-icon>
    Evergreen
    <sl-badge slot="suffix" variant="neutral" pill>{{ evergreenCount }}</sl-badge>
  </sl-option>
</sl-select>

<ul class="[ feed ]">
  {%- for note in notes -%}
    {%- feedItem
    title = note.data.title,
    url = note.url,
    excerpt = note.data.page.excerpt,
    stage = note.data.stage,
    image = note.data.image,
    created = note.data.created
    -%}
  {%- endfor -%}
</ul>