---
layout: base-without-header
title: Home
description: Hi, I’m Elly. I like creating delightful, magical, and accessible art with code.
---

<div class="[ home ]">
	<header class="[ hero ]">
		<h1 aria-label="Hi, I'm Elly. I like creating delightful, magical, and accessible art with code.">
			<span class="detitlify">Hi, I’m <stylized-text label="Elly" class="[ logo-inline ]">&lt;e//y&gt;</stylized-text>
			</span>
			<span>I like creating <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">delightful</span>, <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">magical</span>, and <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">accessible</span> art with code<span style="color: var(--accent-solid);">.</span></span>
		</h1>

		<div id="lego" class="[ lego-container ]">
			{%- image
		"./public/assets/img/LegoModel.png",
		"A 3D modeled Lego Minifigure designed to look like myself."
 		-%}
		</div>
	</header>

	{% feedBlock title = "Recent posts" %}
	{% set recentPostTitles = [] %}
	{% set recentPosts = collections.allPostTypes | sortByCreated | reverse | sliceCollection(8) %}
	{%- for post in recentPosts %}
		{%- if post.data.created -%}
			{%- set recentPostTitles = (recentPostTitles.push(post.data.title), recentPostTitles) -%}
			{% feedItem
			title = post.data.title,
			url = post.url,
			excerpt = post.data.page.excerpt,
			stage = post.data.stage,
			image = post.data.image,
			created = post.data.created,
			collection = post.data.eleventyNavigation.parent,
			collectionUrl = post.data.page.url
 %}
		{%- endif -%}
	{%- endfor %}
	{% endfeedBlock %}

	{% feedBlock title = "Recently updated posts" %}
	{% set updatedPosts = collections.allPostTypes | sortByModified | reverse %}
	{% set index = 0 %}
	{%- for post in updatedPosts %}
		{%- if post.data.modified and not recentPostTitles.includes(post.data.title) and index < 8 -%}
			{% set index = index + 1 %}
			{% feedItem
			title = post.data.title,
			url = post.url,
			excerpt = post.data.page.excerpt,
			stage = post.data.stage,
			image = post.data.image,
			modified = post.data.modified,
			collection = post.data.eleventyNavigation.parent,
			collectionUrl = post.data.page.url
 %}
		{%- endif -%}
	{%- endfor %}
	{% endfeedBlock %}
</div>