---
layout: base-without-header
title: Home
description: Hi, I’m Elly. I like creating delightful, magical, and accessible art with code.
---

<div class="[ home ]">
	<header class="[ hero ]">
		<h1 aria-label="Hi, I'm Elly. I like creating delightful, magical, and accessible art with code.">
			<span class="detitlify">Hi, I’m <stylized-text label="Elly" class="[ logo-inline ]">&lt;e//y&gt;</stylized-text>
			</span>
			<span>I like creating <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">delightful</span>, <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">magical</span>, and <span class="stroke" style="--color: var(--accent-solid); --thickness: 1.5px;">accessible</span> art with code<span style="color: var(--accent-solid);">.</span></span>
		</h1>

		<div id="lego" class="[ lego-container ]">
			{%- image
		"./public/assets/img/LegoModel.png",
		"A 3D modeled Lego Minifigure designed to look like myself."
 		-%}
		</div>
	</header>

	{% feedBlock
	title = "Articles",
	url = "/blog/" %}
	{% set blog = collections.blog | reverse | sliceCollection(4) %}
	{%- for post in blog %}
		{% feedItem
		title = post.data.title,
		url = post.url,
		excerpt = post.data.page.excerpt,
		stage = post.data.stage,
		image = post.data.image
 %}
	{%- endfor %}
	{% endfeedBlock %}

	{% feedBlock
	title = "Projects",
	url = "/projects/" %}
	{% set projects = collections.projects | reverse | sliceCollection(4) %}
	{%- for project in projects %}
		{% feedItem
		title = project.data.title,
		url = project.url,
		excerpt = project.data.page.excerpt,
		image = project.data.image
 %}
	{%- endfor %}
	{% endfeedBlock %}

	{% feedBlock
	title = "Notes",
	url = "/garden/" %}
	{% set notes = collections.garden | reverse | sliceCollection(4) %}
	{%- for note in notes %}
		{% feedItem
		title = note.data.title,
		url = note.url,
		excerpt = note.data.page.excerpt,
		stage = note.data.stage,
		image = note.data.image
 %}
	{%- endfor %}
	{% endfeedBlock %}

	{% feedBlock
	title = "Bookmarks",
	url = "/bookmarks/" %}
	{% set bookmarks = collections.bookmarks | reverse | sliceCollection(4) %}
	{%- for bookmark in bookmarks %}
		{% feedItem
		title = bookmark.data.title,
		url = bookmark.url,
		excerpt = bookmark.data.page.excerpt,
		image = bookmark.data.image
 %}
	{%- endfor %}
	{% endfeedBlock %}

	{% feedBlock
	title = "TIL",
	url = "/til/" %}
	{% set tils = collections.til | reverse | sliceCollection(4) %}
	{%- for til in tils %}
		{% feedItem
		title = til.data.title,
		url = til.url,
		excerpt = til.data.page.excerpt,
		image = til.data.image
 %}
	{%- endfor %}
	{% endfeedBlock %}
</div>