---
layout: base
title: Home
---

<header class="[ hero ]">
	<h1>
		<span class="detitlify">Hi, I’m <stylized-text label="Elly">&lt;e//y&gt;</stylized-text>
		</span>
		<span>I like creating <span class="stroke" style="--color: var(--accent-solid);">delightful</span>, <span class="stroke" style="--color: var(--accent-solid);">magical</span>, and <span class="stroke" style="--color: var(--accent-solid);">accessible</span> art with code<span style="color: var(--accent-solid);">.</span></span>
	</h1>

	<canvas id="canvas3d" class="[ lego ]">
		<p>A lego model designed to look like myself.</p>
	</canvas>

	<css-doodle>
		@grid: 1 / 500px;
		background: @shaders(
			texture1 {
				@grid: 1 / 100%;
				background: linear-gradient(
					45deg,
					@stripe.@m20.@p(#FFF4E0, #F8B501, #06ACB5, #17191D, #FC3D3C)
				);
			}
			fragment {
				void main() {
					vec2 p = gl_FragCoord.xy / u_resolution.xy;
					vec2 c = vec2(.5, .5);
					vec2 uv = p.xy - c;
					float R = 3.141593;
					float len = length(uv * vec2(u_resolution.x / u_resolution.y, 1.));
					float angle = atan(uv.y, uv.x) + R * smoothstep(.75, 0., len);
					float r = length(uv) + .1;
					vec2 coords = vec2(r * cos(angle), r * sin(angle)) + c;
					FragColor = texture(texture1, coords);
				}
			}
		);
	</css-doodle>
</header>

{% feedBlock
title = "Articles",
url = "/blog" %}
{% set blog = collections.blog | sliceCollection(3) %}
{%- for post in blog %}
	{% feedItem
	title = post.data.title,
	url = post.url,
	excerpt = post.data.page.excerpt
 %}
{%- endfor %}
{% endfeedBlock %}

{% feedBlock
title = "Projects",
url = "/projects" %}
{% set projects = collections.projects | sliceCollection(3) %}
{%- for project in projects %}
	{% feedItem
	title = project.data.title,
	url = project.url,
	excerpt = project.data.page.excerpt
 %}
{%- endfor %}
{% endfeedBlock %}

{% feedBlock
title = "Notes",
url = "/garden" %}
{% set notes = collections.garden | sliceCollection(3) %}
{%- for note in notes %}
	{% feedItem
	title = note.data.title,
	url = note.url,
	excerpt = note.data.page.excerpt
 %}
{%- endfor %}
{% endfeedBlock %}

{% feedBlock
title = "Bookmarks",
url = "/bookmarks" %}
{% set bookmarks = collections.bookmarks | sliceCollection(3) %}
{%- for bookmark in bookmarks %}
	{% feedItem
	title = bookmark.data.title,
	url = bookmark.url,
	excerpt = bookmark.data.page.excerpt
 %}
{%- endfor %}
{% endfeedBlock %}