---
layout: base
title: Projects
eleventyNavigation:
  key: Projects
  order: 5
navToHtmlOptions:
  showExcerpt: true
---

{% set projects = collections.projects %}
<ul>
  {%- for project in projects %}
    <li>
      <a href="{{ project.url | url }}">{{ project.data.title }}</a>
      <small>{{ project.data.page.excerpt }}</small>
    </li>
  {%- endfor %}
</ul>