---
layout: base
title: Projects
eleventyNavigation:
  key: Projects
  order: 5
navToHtmlOptions:
  showExcerpt: true
---

<div id="graph"></div>

{% set projects = collections.projects | reverse %}
<ul class="[ flow ]">
  {%- for project in projects %}
    {% feedItem
    title = project.data.title,
    url = project.url,
    excerpt = project.data.page.excerpt
 %}
  {%- endfor %}
</ul>