---
layout: base
title: TIL
eleventyNavigation:
  key: TIL
  order: 9
---

<dfn>Today I Learned</dfn>

<div id="graph"></div>

{% set til = collections.til | reverse %}
<ul class="[ flow ]">
  {%- for post in til %}
    {% feedItem
    title = post.data.title,
    url = post.url,
    excerpt = post.data.page.excerpt
 %}
  {%- endfor %}
</ul>