<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<!-- specify language: http://www.w3.org/TR/html401/struct/dirlang.html#h-8.1 -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->
		<title>{{ title }} | Elly Loel</title>

		{%- include "meta.njk" -%}

		<!-- Include stylesheets here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		<link rel="stylesheet" href="/@input/css/style.css">

		{{ __slinkity.head | safe }}

		<script>
			// if there's a color-scheme id in localstorage, use it, if not use auto.
			document
				.documentElement
				.setAttribute('color-scheme', localStorage.getItem('color-scheme') || "auto");
			document
				.documentElement
				.setAttribute(
					"class", localStorage.getItem('color-scheme')
					?.includes("light")
						? "sl-theme-light"
						: localStorage.getItem('color-scheme')
							?.includes("dark")
								? "sl-theme-dark"
								: window.matchMedia("(prefers-color-scheme: light)").matches
									? "sl-theme-light"
									: "sl-theme-dark");
		</script>

		<!-- Include scripts here. Concatenate & minify for performance: https://developers.google.com/speed/docs/insights/MinifyResources -->
		<script type="module" src="/@input/js/main.js" defer></script>
		{%- if page.url === "/" -%}
			<script type="module" src="/@input/js/model-viewer.js" defer></script>
			<script type="module" src="/@input/js/spotify.js" defer></script>
		{%- endif -%}
		{%- if page.url === "/garden/" or page.url === "/blog/" or page.url === "/projects/" or page.url === "/bookmarks/" or page.url === "/til/" or page.url === "/til/d3/" -%}
			<script type="module" src="/@input/js/graph.js" defer></script>
		{%- endif -%}
	</head>
	<body>
		<a class="[ skip-link ] [ button ]" href="#content">Skip to content</a>

		{%- include "header.njk" -%}

		<!-- tabindex fixes focus issue: https://benmyers.dev/blog/skip-links/#tldr -->
		<main id="content" role="main" tabindex="-1" class="[ wrapper flow ]" style="--wrapper-size: 100ch;">
			{{ content | safe }}
		</main>

		{%- include "footer.njk" -%}
	</body>
</html>