---
layout: base-without-header.njk
---

<header>
	<h1>{{ title }}</h1>
</header>
<aside class="[ flow content-width ]">
	{{ content | toc | safe }}
</aside>
<article class="[ flow content-width ]">
	{{ content | safe }}
</article>
<aside class="[ flow content-width ]">
	<h2>Backlinks</h2>
	<ul class="[ flow ]">
		{% for link in backlinks %}
			<li>
				<details>
					<summary>
						{{ link.title }}
					</summary>
					{{ link.excerpt }}
					<a href="{{ link.url }}">Read more <span class="[ visually-hidden ]">about {{ link.title }}</span>
					</a>
				</details>
			</li>
		{% endfor %}
	</ul>
</aside>