---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - allsortedbydate
    - allSortedByDate
    - blog
    - blogsortedbydate
    - Blog
    - BlogSortedByDate
    - bookmarks
    - bookmarkssortedbydate
    - Bookmarks
    - BookmarksSortedByDate
    - garden
    - gardensortedbydate
    - Garden
    - GardenSortedByDate
    - projects
    - projectssortedbydate
    - Projects
    - ProjectsSortedByDate
    - til
    - tilsortedbydate
    - TIL
    - TILSortedByDate
permalink: "{{ tag | slugify }}/"
eleventyComputed:
  title: "{{ tag }}"
---

<ul id="feed" class="[ feed ]">
	{% set taglist = collections[tag] %}
	{% for post in taglist | reverse %}
		{%- if post.data.stage -%}
			{%- set stage = post.data.stage -%}
		{%- endif -%}
		{%- set title = post.data.title -%}
		{%- set url = post.url -%}
		{%- setAsync "imageMarkup" -%}{%- endsetAsync -%}
		{%- if post.data.image -%}
			{%- setAsync "imageMarkup" -%}
			{%- image post.data.image, "" -%}
			{%- endsetAsync -%}
		{%- endif -%}
		{# {%- set body = post.data.page.excerpt -%} #}
		{%- set date = post.data.date -%}
		{%- set label = "" -%}
		{%- if post.data.modified -%}
			{%- set label = "Last modified" -%}
		{%- elif post.data.created -%}
			{%- set label = "Created" -%}
		{%- endif -%}
		{%- set tags = post.data.tags -%}
		{%- include "feedItem.njk" -%}
	{% endfor %}
</ul>
